[2020-03-12 16:03] handrews commented on #245
@stevehu sounds good.  We would love to hear any feedback on that section.  The reason that there are several different recommended formats is that there wasn't consensus on the best option, so we're interested in seeing if one emerges as preferred across implementations.

[2020-03-12 16:06] stevehu commented on #245
@handrews Sure. Will do. @Abhitheja-Pinnadari I saw you have updated the title to clarify the issue. Let's keep this issue open so that we can find resources to address it based on the JSON schema core.

[2020-03-12 16:23] prashanthjos opened #271 "Parameterized JSON Schema"
Are there any initiatives or future enhancements to support parameterized JSON Schema’s. For example the length of a specific JSON Node of type string is determined dynamically at runtime by the application rules rather than defining statically or a $ref attribute is determined at runtime. We want to pass such parameters or variables at runtime and generate the schema dynamically with this paramet

[2020-03-12 16:52] stevehu commented on #226
This has been done already.

[2020-03-12 16:52] #226 closed

[2020-03-12 17:01] stevehu commented on #271
This has been discussed in this issue.

https://github.com/json-schema-org/json-schema-spec/issues/826

[2020-03-13 03:01] prashanthjos commented on #271
Got it. Thank you.

[2020-03-13 09:23] eirnym commented on #15
It's easy to implement the verification in `PatternValidator`using an additional option from `SchemaValidatorsConfig`, but there's no way to pass it to from the user. I leave it on your decision how to implement it.

Regex pattern creation and matching are easy enough to implement, so you can either replace it or add an option. I put below examples, how it works.

I've used the latest atm version

[2020-03-13 12:50] #271 closed

[2020-03-13 13:06] stevehu commented on #15
The user can control the SchemaValidatorsConfig using the builder. Take a look at this example https://github.com/networknt/light-rest-4j/blob/master/openapi-validator/src/main/java/com/networknt/openapi/RequestValidator.java#L122

[2020-03-13 13:25] eirnym commented on #15
Thank you, so it's easy then. What option do you prefer by default? ECMA-262 or `java.util.regex`? This change will be only for `pattern` validation. Other regex validations will stay as they were.

[2020-03-13 13:30] stevehu commented on #15
We still have several regex issues with java.util.regex. If all these issues can be resolved by ECMA-262, then I think we should use it by default. Let's try it out and make the decision later. What do you think?

[2020-03-13 17:54] #15 closed

[2020-03-18 15:05] harpreetk1986 opened #273 "networknt / json-schema-validator - Unknown Metaschema: http://json-schema.org/draft-07/schema#"
Hi,

While using networknt / json-schema-validator,  I am getting error while validating schema -06 and above. Getting following error:
com.networknt.schema.JsonSchemaException: Unknown Metaschema: http://json-schema.org/draft-07/schema#

Only schema-04 is working fine.

Here is sample schema I am using:
{
  "$schema" : "http://json-schema.org/draft-07/schema#",
  "$id" : "http://json-schema.org/d

[2020-03-18 15:50] stevehu commented on #273
@harpreetk1986 Thanks a lot for raising this issue. I am wondering if this is due to the recent update on the json-schema.org to redirect all HTTP requests to HTTPS. I have updated the draft-2019-09 at this location. https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/JsonMetaSchema.java#L151

Have you debugged into it to see where the error message is

[2020-03-18 16:15] harpreetk1986 commented on #273
@stevehu. Thanks for the reply. I just did a debug and found the following:

Issue is coming in findMetaSchemaForSchema() function of JsonSchemaFactory Class at below line of code:
final JsonMetaSchema jsonMetaSchema = jsonMetaSchemas.get(uri);

Here uri is "http://json-schema.org/draft-07/schema#"
jsonMetaSchema is coming as null.

[2020-03-18 16:33] harpreetk1986 commented on #273
@stevehu :  I debug more and found out that, I am calling JsonSchemaFactory.getInstance() and this function is always returning Version flag as V4.  Do I need to call getInstance() by passing the version flag. If yes, from where should I fetch that from?

[2020-03-18 16:33] stevehu commented on #273
Yes. You need to specify which draft version to use.

[2020-03-18 16:49] stevehu commented on #273
To prevent users to use the old method. I am thinking to deprecate the getInstance().  What do you think?

[code]

[2020-03-18 17:03] harpreetk1986 commented on #273
@stevehu . It is a good idea, it makes complete sense to me.

I am thinking , how it can be more dynamic to pass the version flag which supports multiple versions. Since schema can contain any draft version. May be we have to fetch the Draft versions from Schema and create mapping to map to the corresponding version to pass as parameters of getInstance has format like V4, V6 etc.

And once if new

[2020-03-18 18:34] stevehu commented on #273
I thought about it when I implement the versioning. We can just decide the version based on the $schema in the schema file; however, we cannot make a decision for the reference schemas if there are any. For example, if you have a schema v7 that refers to another remote schema v4. Which version should the library use? To let the user specify the version at least make them aware of this issue. The o

[2020-03-18 18:43] stevehu commented on #273
I just checked in the @Deprecated code. It is not the final solution but just to reduce the risk. Let's keep this conversation going to have a better solution.

[2020-03-18 19:11] harpreetk1986 commented on #273
Sure. Thank you.

[2020-03-18 19:12] harpreetk1986 commented on #273
Sure, this way also it will work for me. Thanks.

[2020-03-19 08:23] francesc79 commented on #100
@stevehu @jawaff about URNFactory you can add the possiblity for customize the URISchemeFactory in JsonSchemaFactory? or you are going intention to add URNFactory?

[2020-03-19 12:19] stevehu commented on #100
@francesc79 Thanks for making this issue float again. Frankly, I haven't looked at this issue for a while as I am busy with a lot of other issues. I think @jawaff is in the same situation. Would you be able to try it out and submit a PR? Personally, I don't have a preference for either solution.

[2020-03-20 10:55] stevehu commented on #236
Given this has been discussed intensively, I am closing this issue. Thank you, everyone, for the inputs.

[2020-03-20 10:55] #236 closed

[2020-03-20 19:03] andrhamm commented on #273
I'm getting this error and I believe I'm specifying the correct version

[code]

[2020-03-20 19:24] stevehu commented on #273
@andrhamm Thanks for raising it. It looks like the scope of the problem is getting bigger. I will take a look at it once I have free cycles. It would be great if someone in the community can take a look at your case.

[2020-03-21 22:16] ssilverman opened #276 "unevaluatedProperties doesn't appear to be implemented"
According to my testing, it doesn't appear that `unevaluatedProperties` from 2019-09 is implemented. If I'm correct, are there plans to add support?

[2020-03-21 23:31] stevehu commented on #276
@ssilverman You are correct that it is not implemented yet. We implemented most of the validators but there are still some pending. I am wondering if you could submit a PR for this validator. Thanks.

[2020-03-22 20:38] ssilverman commented on #276
Ah, I hadn't realized the 2019-09 support wasn't complete yet, that's why I filed this issue. I can't promise I have time at the moment, but I'm going to have a look at the code. Any implementation guidance for newcomers? Specifically, `unevaluatedProperties` needs to be evaluated after a few other properties are evaluated and collect info from them.

[2020-03-22 20:59] stevehu commented on #276
@ssilverman The library is a flexible plugin structure. Here are some of the points that I can think of.

* Create a new validator
* Register the validator to the ValidatorTypeCode
* There are two ways to carry the context information across multiple validators. ValidationContext or ThreadLocal. There are examples in the library about how these two options work.

Let me know when you encounter any

[2020-03-22 22:34] ssilverman commented on #276
I started here: https://github.com/ssilverman/json-schema-validator/commit/35a8889d03e9c8810bf1ace058dfe4be95793c53

I think I'll need some guidance when adding "peering into" the in-place applicators (`allOf`, `anyOf`, `oneOf`, and `not`) because they'll need some recursion, terminating at schemas.

[2020-03-22 23:34] stevehu commented on #276
You are on the right path. Here is the document talking about the version.

https://github.com/networknt/json-schema-validator/blob/master/doc/specversion.md

[2020-03-24 20:37] ssilverman commented on #276
I added the in-place applicator collection in the `UnevaluatedProperties` constructor, but I'm not 100% clear on how to go about adding `$ref` and in-place applicator results to `validate`.

See: https://github.com/ssilverman/json-schema-validator/commits/add-unevaluated-props

[2020-03-24 21:20] stevehu commented on #276
@ssilverman To be honest, I am far behind as I am still learning the spec. I am wondering if this is already published or not. The only document I can find is this [issue](https://github.com/json-schema-org/json-schema-spec/issues/556). Let me know if you have any official links for us to learn.

I looked at your code and it looks pretty complicated. I am wondering if you could create a document i

[2020-03-24 23:37] ssilverman commented on #276
It's published in the 2019-09 draft.

As for the complexity, I'm just following the existing code style for the other validators. "unevaluatedProperties" is similar to "additionalProperties", but it also has to look at any sibling "additionalProperties", "oneOf", "allOf", "anyOf", "not", and "ref" contents. How could I make it simpler? I don't yet know your code base that well.

[2020-03-25 02:53] stevehu commented on #276
@ssilverman Thanks for the link. It is not very clear what needs to be done by reading for that paragraph :) My understanding is that we need to iterate all the siblings. Do we need to drill down to the siblings? Or we just need to evaluate it at the same level? I don't think there is a simpler way to do so. @prashanthjos has created a collector to collect useful info during the validation and it

[2020-03-25 13:08] ThanksForAllTheFish opened #278 "RequiredValidator possibly returning wrong path"
First of all, please apologies if this is the wrong channel for what it might turn out to be a question more than an issue. I was struck by `RequiredValidator` and the way it associated `ViolationMessage` is built.

tl;dr: Given a sample schema like

[code]

a json body like

[code]

when calling `schema.validate(json)` the violation message path is `$.field`. This is of course correct, but wouldn

[2020-03-25 13:30] #258 closed

[2020-03-25 13:31] stevehu commented on #278
@ThanksForAllTheFish This issue has been discussed on this [issue](https://github.com/networknt/json-schema-validator/issues/245). We need to find a better solution to resolve all related issues together.

[2020-03-25 13:42] ThanksForAllTheFish commented on #278
Oh sorry, I am new to json schema and though I went through existing issues (the title at least) before opening this one I did not realise they were related. Thanks for the quick feedback.

[2020-03-25 13:59] stevehu commented on #278
I am open to all recommendations and there is an issue to make the error message customized.

[2020-03-31 14:26] charlesvhe commented on #32
I have read JsonSchemaFactory code, and find some custom way and it works for me:
[code]

[2020-03-31 18:16] stevehu commented on #32
@charlesvhe Is the code above in your application? Would you mind to write a small document to let others know how to do that? There is a folder called doc in the repository. Thanks.

[2020-04-01 10:59] charlesvhe commented on #32
@stevehu Yes, above code in my application, I will send a PR later.

[2020-04-01 16:10] foldvari opened #280 "NullPointerException in regex pattern validation if no SchemaValidatorsConfig is passed"
It is possible to load a schema without a SchemaValidatorsConfig but in this case the validation of the schema itself will fail at regex pattern validation.

Location of the exception:

compileRegexPattern(pattern, validationContext.**getConfig().isEcma262Validator()**);

[code]

[2020-04-03 18:05] avan2s opened #281 "EmailValidator use ValidatorTypeCode Datetime"
Hi,

i saw that the [EmailValidator](https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/format/EmailValidator.java) class is instantiated as ValidatorTypeCode.DATETIME. Is there a reason why it is not ValidatorTypeCode.FORMAT? From my understanding it should be format, because we write in our json schema:
`
{
  "properties": {
    "email": {
      "ty

[2020-04-07 08:26] waizuwolf commented on #280
@stevehu: Please close this issue.

[2020-04-07 11:10] #280 closed

[2020-04-07 11:13] stevehu commented on #281
@avan2s The EmailValidator is borrowed from Sandeep and I didn't pay attention to the usage at the time. What do you mean instantiated as a DATETIME? Could you please point me out the line of the code? Thanks.

[2020-04-07 22:59] avan2s commented on #281
Hi @stevehu

it is in line 139 in the constructor of the EmailValidator, when super method is called.
`super(schemaPath, schemaNode, parentSchema, ValidatorTypeCode.DATETIME, validationContext);`
This is causing that whenever i type in an invalid email, the created Validation message will be of type "DATETIME" instead of "FORMAT". But a wrongly formatted email should be of type "ValidatorTypeCode.

[2020-04-13 03:30] stevehu commented on #281
@avan2s Thanks a lot for pointing it out. This a bug and I will get it fixed ASAP.

[2020-04-13 03:39] stevehu commented on #281
I have changed it to format and the error message will be something like this.

[code]

[2020-04-13 03:40] #281 closed

[2020-04-13 03:51] stevehu commented on #281
@avan2s Again, thanks a lot for your help. I have released 1.0.38 and the following is the release note.

https://github.com/networknt/json-schema-validator/releases/tag/1.0.38

[2020-04-14 22:21] avan2s commented on #281
Thank you @stevehu for the fix :-)

best regards

[2020-04-16 16:23] Arno538 commented on #100
I need to use a URN in the $id to identify the schema. Since version 1.0.30 this is not working anymore. We don't want the URN to be able to be fetched (retrievable) at all (otherwise we would use a URL). In the combineCurrentUriWithIds method a JsonSchemaException is thrown.

[2020-04-17 10:59] stevehu commented on #100
@Arno538 Thanks a lot for raising the issue. Given that it was working before 1.0.30, chances are some updates in 1.0.30 broke the feature. Would you be able to compare the code base and find out the root cause and get it fixed? Thanks.

[2020-04-17 13:59] sharonoc opened #284 "Unclear on how to use this validator"
I am new to json validation.  I am not finding documentation that makes the usage of this validator very clear.
I have the following schema:
{
  "$schema": "https://json-schema.org/draft/2019-09/schema",
  "type": "object",
  "properties": {
    "trackingEvent": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "pattern": "^FOO$"
        }

[2020-04-19 13:11] stevehu commented on #284
@sharonoc There are test cases in the source code to demonstrate how to use the library. Thanks.

[2020-04-22 23:58] hai1337 opened #285 "JSON Schema Syntax Validator"
Hello! I'm new here. This project was recommended by [java-json-tools](https://github.com/java-json-tools/json-schema-validator), our current validator. Since it is no longer maintained, we are moving away from it.

They had functionality to [validate the syntax](https://github.com/java-json-tools/json-schema-validator/blob/master/src/main/java/com/github/fge/jsonschema/processors/syntax/SyntaxVal

[2020-04-23 01:36] stevehu commented on #285
@hmthomax normally, we don't need to validate the schema explicitly as we assume it is valid. The library is designed to be used at runtime to validate the HTTP request and response so we cannot validate schema in every call. However, if you want to double-check your schema design, you can validate it against the Meta Schema. In this case, the Meta Schema is the JSON schema and your newly created

[2020-04-23 22:57] hmthomax commented on #285
Thanks @stevehu! I got this working using a meta schema.

Just a side note, our system allows for super users to create their own schemas as we allow for many different data models, so we actually do validate schemas at runtime hence this use case.

Excited to see what else we can utilize from this project. Thanks again.

[2020-04-27 06:57] prashanthjos opened #286 "Error handling as per draft 2019-09 section 10."
Is there any plan to include the new error handling with the networknt library as outlined in the draft spec below.

https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.10

I am planing to use this feature . Can you please let me know if there is any work happening in this area.

[2020-04-27 07:13] prashanthjos opened #287 "Read Only Validator"
Current implementation of read only validator requires us to pass a JSON Array of properties that are supposed to be read only. Two observations as per standard spec.

1) I couldn't find proper documentation describing readOnly as an array in the standard JSON Schema Spec. Please correct me if i am wrong here.

2) Current Implementation of the ReadOnly validator adds an error message for the reado

[2020-04-27 12:43] #250 closed

[2020-04-27 12:43] #245 closed

[2020-04-27 12:43] #278 closed

[2020-04-27 12:44] #58 closed

[2020-04-27 12:45] #78 closed

[2020-04-27 12:47] stevehu commented on #286
@prashanthjos This has been discussed in several issues; however, nobody is actively working on this yet. I would be very happy to accept a PR is someone wants to work on it.

As this issue mentioned the guideline from the json-schema-core, we should follow it when implementing the error handling. Given that, I have closed the following related issues as they are all about error messages and shoul

[2020-04-27 13:37] stevehu commented on #287
Here is the spec section about readOnly and it should be a boolean value. We also implement it as an array just like required so that you can provide a list of fields that is readOnly. It was in the discussion but I don't know why it wasn't included in the spec.

https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.9.4

[2020-04-27 13:47] prashanthjos commented on #287
Thank you @stevehu. For obeservation #2  there seems to be a problem with error message. The error message doesn't capture the exact property of the JSON causing the issue. I will raise a PR for same.

[2020-04-27 14:07] stevehu commented on #287
Yes. The error message is a mess and I feel grateful that the spec team finally considers addressing it in a standard way. I have closed all others but keep your issue open as you have linked to the exact section in the spec. Let's work together to gradually get it in the right direction.

[2020-04-28 05:24] pradeepsixer opened #288 "Document schema compatibility matrix"
Currently, to check whether this library supports validation of a keyword as defined in one of the schemas, we have to create a program to do it.

Creating a document that lists the compatibility with different schema versions would make this easier.

[2020-04-28 13:24] prashanthjos commented on #286
Thank you @stevehu. Should we preserve the signature of the validate method on JsonSchema class. To support the new error message formats , the recursive validate calls should start returning JsonNode Array that represent the errors occurred in each validator rather than a Set<ValidationMessage>. We can collate the error nodes during the recursive call stack.

If we should preserve the signature o

[2020-04-28 13:48] stevehu commented on #286
@prashanthjos As this is a major change to the library, signature change is OK and we can bump up the release to 1.1.0 afterward.

[2020-04-29 00:38] stevehu commented on #288
The information can be found in the following java file and the last number indicate which version of specs is supported.

https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/ValidatorTypeCode.java

To interpret the versions, take a look at this document.

https://github.com/networknt/json-schema-validator/blob/master/doc/specversion.md

I do agree tha

[2020-04-29 00:51] pradeepsixer commented on #288
Thanks @stevehu . I'll create a PR for this. 🙂

[2020-04-29 16:08] prashanthjos commented on #286
Also the way spec represents either the error schema path or error data node path doesn’t follow neither of JSON path or JSON pointer representations. Any thoughts?

[2020-04-29 16:33] stevehu commented on #286
The spec mentioned JSON pointer, but this field is changing so fast these days. Here is something I found in the above link.

[code]

[2020-05-07 20:18] JosephCavanaghTR opened #290 "Unable to validate JSON Schema of type String"
The JsonSchema validate method requires a JSONNode is passed in. This leaves a gap in validation when the schema specifies a type of String.

Example Schema
[code]
Example valid json
```"2020-10-09"```

There is no way to create a JSONNode out of this valid json string.

[2020-05-08 00:25] stevehu commented on #290
@JosephCavanaghTR I agree with you that both the schema and the string are valid; however, I don't think users will use a library like this to validate a string only. In my opinion, I don't think we should consider this edge case. If you know any use cases, please let us now and a PR is always welcomed.

[2020-05-08 10:19] BigCheese83 opened #291 "Core meta schema validation"
In my project, I need to validate the JSON scheme itself.
I made an example of an erroneous scheme that produces an error [here](https://www.jsonschemavalidator.net/), if selected "Schema Draft V7".
[code]

this code does not throw an error (set of validation messages is empty)
[code]

For scheme draft V7, I can specify the [core meta scheme](https://json-schema.org/draft-07/schema), but I do not

[2020-05-08 14:23] stevehu commented on #291
For each draft version, there is a meta schema. You can use it to validate the schema you are created. It is not common practice to validate the schema each time before using it to validate a JSON object.

Please refer to this question and let me know if you still have questions.

https://github.com/networknt/json-schema-validator/issues/285

[2020-05-08 14:57] JosephCavanaghTR commented on #290
@stevehu  Thanks for the quick response.

After digging more, we found that it is an issue with escaping the json. The validator does appear to work with the instance, but the string needs to be
[code]
Effectively, this makes it a JSON string. I am closing this issue.

[2020-05-08 14:57] #290 closed

[2020-05-08 15:45] BigCheese83 commented on #291
Thank you, I read this issue. I do not create a custom meta scheme, but use the standard for draft 2019-09. Could you give an example of the code, how can I specify a standard meta scheme for 2019-09? My problem is that the meta scheme for this version, taken from here https://json-schema.org/specification.html#meta-schemas, consists of several linked json files.

[2020-05-08 17:51] stevehu commented on #291
As it is discussed in the mentioned issue, there is no difference when using meta schema to validate a schema. You just need to treat the meta schema as the schema input and your scheme file as the JSON object.

[2020-05-09 09:29] BigCheese83 commented on #291
okay. The meta scheme for version 2019-09 contains several vocabularies whose definitions are physically located in different json files:
Core Vocabulary meta-schema
Applicator Vocabulary meta-schema
Validation Vocabulary meta-schema
Format Vocabulary meta-schema
Content Vocabulary meta-schema
Meta-Data Vocabulary meta-schema

Does the library support vocabularies? How do I load everything into an

[2020-05-12 09:19] SirMoM commented on #285
Can you share the meta schema you used?
I have a similar use case, in which I need to check the syntax of my schema before persisting and using it.

[2020-05-12 13:11] stevehu commented on #285
@SirMoM The meta schemas are published by json-schema.org and we are using them to create meta schemas for different draft versions.

https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/JsonMetaSchema.java#L122

[2020-05-13 06:23] SirMoM commented on #285
[code]

@stevehu Then let me rephrase that: How can I ensure that the type "foo" which isn't defined anywhere is not validated?
[code]
This returns an empty Set and I don't know if this is intended or not?

But if I change the overall type from "object" to "bar" then I get the desired message:
`[$.type: does not have a value in the enumeration [array, boolean, integer, null, number, object, string

[2020-05-13 11:52] stevehu commented on #285
@hmthomax Would you be able to help @SirMoM? It would be much better if you guys can figure out and write a one-page document int the doc folder.

[2020-05-14 10:45] #288 closed

[2020-05-24 03:35] mcoder2014 commented on #273
I miss the same problem, I can't generate a JsonSchema from my JSON schema file of draft-07.
It throws the exceptions like blew . How can I make the program run successfully?
[code]

[2020-05-24 03:37] mcoder2014 commented on #273
I miss the same problem, I can't generate a JsonSchema from my JSON schema file of draft-07.
It throws the exceptions like blew . How can I make the program run successfully?
[code]

[2020-05-24 16:46] stevehu commented on #273
@mcoder2014 It looks like the stack trace is part of the spring framework and misses the important info. I am wondering if you could create a small test case to reproduce the issue. Even better if you could debug into it to find the root cause. Thanks.

[2020-05-25 08:10] mcoder2014 commented on #273
If I use `"$schema": "http://json-schema.org/draft-07/schema"` as `$schema`, there are the trace log.

[code]

If I change the `"$schema"` into `http://json-schema.org/draft-07/schema#`, there will trace log like this. I don't know why there will be NullPointerException....

[code]

[2020-05-25 11:43] stevehu commented on #273
I think the URL is changed to https from http a couple of months ago. Can you try https?

[2020-05-26 13:26] mcoder2014 commented on #273
Now it is still unknown Metaschema:

[code]

[2020-05-26 20:22] stevehu commented on #273
I tried to reproduce the issue but couldn't. I am wondering if you could submit a PR with a test case to reproduce the issue. Thanks a lot for raising it.

[2020-05-27 06:17] mcoder2014 commented on #273
Thanks, I have commit a pull request with a small test case. It is small but can't run on my computer.

Hope you can find the cause about the problem.

[2020-05-27 10:26] soinio opened #295 "Validation of anyOf is schema order dependant in some cases"
Schema:

[code]

Document: `{ "other": "stuff" }`

This should be accepted with the second oneOf alternative. It is accepted if I reverse the order of oneOf array members in the schema. But with the stated schema, validation fails with message `$.requiredprop: is missing but it is required`.

Complete test program attached. There is similar existing issue #209 but that blames failFast which is not

[2020-05-27 10:44] soinio commented on #295
Sorry for typos in original text and program, should all be fixed now. It should probably be noted, that if I set the "forbiddenprop" explicitly to null in the document then validation succeeds with either schema oneOf order.

[2020-05-27 10:54] soinio commented on #295
The issue persists even if I replace the somewhat dubious null-type schema with more explicit "property must be missing or null" schema below. In this case also the validation succeeds if I but this before the requiredprop-schema or if I set the property to null value in the document, but fails if the document is missing the "forbidden" property altogether.

[code]

[2020-05-27 15:31] #273 closed

[2020-05-27 15:33] stevehu commented on #273
Thanks a lot for raising this issue and joining the discussion. I have added a normalize method to switch the protocol to https and remove the query parameters and fragment.

[2020-06-03 20:30] tukaram57 opened #296 "validation of subschema for draft7 is being skipped"
Hello,

I have below object structure
[code]
for which, below json schema is being generated
[code]
When I try to validate it for Draft 7, it never validate inner object B definition. Whats going wrong here?
[code]

[2020-06-03 23:08] stevehu commented on #296
I am trying to reproduce the issue but it looks like the schema is not a valid JSON. Would you be able to submit a PR with a test case to reproduce the issue? Thanks.

[2020-06-04 08:20] zahiritpro commented on #32
@stevehu
**use case:** I want to add a custom  keyword.

Currently I'm using the way described in `json-schema-validator/doc/validators.md`.
But that makes me handle creation.

Is that the right  approach ?
Is there an easy way to plug custom keyword to the  below factory
`JsonSchemaFactory factory = JsonSchemaFactory.getInstance(SpecVersion.VersionFlag.V7);`

[2020-06-04 08:43] qiunju opened #297 ""ValidationContext" using is not correct in UUIDValidator"
https://github.com/networknt/json-schema-validator/blob/cf3b4fe8f52817d0686892f20ecbfca04d7aff5f/src/main/java/com/networknt/schema/UUIDValidator.java#L36

Hi, @stevehu
I guess what we want to verify here is _UUID_, so it should be _**ValidatorTypeCode.UUID**_.
I created a PR for it: https://github.com/networknt/json-schema-validator/pull/298/files
Please correct if I'm wrong. Thanks!

[2020-06-04 09:36] tukaram57 commented on #296
I just added it for demo purpose. Will add exact one soon if you need so.

[2020-06-04 10:14] stevehu commented on #32
@zahiritpro There are a lot of ways to add a custom keyword and validator as the library is just a POJO. It has been discussed several times if we should use the light-4j service module to make all validators dynamically configured and loaded and the conclusion is to make the library as green as possible to not include unnecessary dependencies.

If your keyword is a very common use case, I don't m

[2020-06-04 10:16] stevehu commented on #297
@qiunju Yes. It is a copy/paste error. Thanks a lot for fixing it.

[2020-06-04 10:16] #297 closed

[2020-06-04 10:18] stevehu commented on #296
Yes. Please. Both the JSON and Scheme are not valid above and I don't want to guess your use case. Thanks.

[2020-06-04 21:24] tukaram57 commented on #296
It was because of "anyOf" tag in schema. sorry for the confusion.

[2020-06-04 21:24] #296 closed

[2020-06-04 23:19] tukaram57 commented on #296
Hi, Sorry to reopen this thread bu this seems related.
- How I can convert **anyOf** to **allOf** in generated Schema.

[2020-06-04 23:25] stevehu commented on #296
What do you mean to convert? They are two different keywords. For details, please refer to the specification.

[2020-06-05 17:27] koppor opened #299 "ValidationMessage.toString should contain all properties used for equality check"
I am unit testing validation.

[code]

The test fails:

[code]

In IntelliJ, I can "Click to see the difference":

![image](https://user-images.githubusercontent.com/1366654/83905676-6157d080-a762-11ea-947d-1c6613ec4c86.png)

How can I quickly find out the differences without debugging?

Thus, I propose to include all properties in `toString` which are used at `equals`.

[2020-06-05 17:43] #284 closed

[2020-06-05 17:45] stevehu commented on #299
We have a pending issue with the error messages. It is still in active discussion but we are leaning to the specification recommendations.

https://github.com/networknt/json-schema-validator/issues/286

[2020-06-05 18:49] koppor commented on #299
In case the ValidationMessage is changed to something containing more than the specification demands, there should be `toString()` and `getMessage()` (or `toReadbleString()`)

[2020-06-05 20:23] stevehu commented on #299
@koppor I think these methods all have their purposes.

[2020-06-08 09:00] zahiritpro commented on #32
@stevehu It is not a very common use case..
will go with the documented approach as I don't want to customize the library, ..

[2020-06-08 15:17] stevehu commented on #32
@zahiritpro Thanks for the confirmation.

[2020-06-08 15:17] #32 closed

[2020-06-09 12:05] pjain287074 opened #300 "How to use to validate real data for Draft-07"
Hi
I am new to maven.
Can you please help to understand how can i use this project to validate my JSON. I Want maven to  fail if any parameter of my JSON is not as per the  Defined JSON schema(or DraftV7)

[2020-06-09 14:06] stevehu commented on #300
You can use any build tool like Maven or Gradle. Choose whichever you like.

[2020-06-09 14:13] pjain287074 commented on #300
Do i need any plugins to use this in maven pom....
Does it validate Draftv7 schema?

On Tue, 9 Jun, 2020, 7:36 PM Steve Hu, <notifications@github.com> wrote:

[2020-06-09 15:30] stevehu commented on #300
If you are preferring javac, then you don't even need Maven. Yes. it validates draftv7 schema.

[2020-06-09 16:04] pjain287074 commented on #300
Happy to hear this but i have a mvn based project. Could you please please
help how can i integrate this with my existing project?

As of now i am using json schema validator  plugin in my maven project
which does not support Draftv7. Refer below refrence project

https://github.com/groupon/json-schema-validator/blob/master/README.md

Its validating schema based on draftv4.but not validating if-th

[2020-06-09 16:59] stevehu commented on #300
The project is just a library and like other dependencies, you need to add it to the pom.xml file first. Then you need to add the code to validate. Take a look at the test cases and you can find the examples on how to use it.

[2020-06-12 05:41] subinsoman opened #301 "Json schema validation with AND"
i was trying to validate this sample json
[code]
am trying to make contact_number maxLength=10 only if array contains id==customer_profile_type AND value==0

i tried

[code]
please help me if it is possible

[2020-06-12 11:42] stevehu commented on #301
@subinsoman The following link is about json schema condition handling. I hope it helps.

[2020-06-15 14:04] #301 closed

[2020-06-17 15:43] avan2s opened #302 "Unable to use $data reference"
Hello,
i try to use the [$data reference](https://github.com/json-schema-org/json-schema-spec/issues/51) in order to read some data from the validated json. I have the following jsonschema [(coming from this example)](https://ajv.js.org/#data-reference)

and this valid json to validate:

it is giving me this error:

is $data supported in this library? Are there any ideas how to make it work? Expec

[2020-06-17 18:16] stevehu commented on #302
I don't think $data is in the latest JSON schema. Could you please point me out the right document? Thanks.

[2020-06-24 09:57] r0main opened #303 "How to fail on unkown properties ?"
Hi,

Is it possible to fail the schema validation on unknown properties ?

Let's say you have this schema :
[code]

And you validate this JSON against the previous schema :
[code]

Is it possible to fail the validation because `age2` is unknown in the schema.

Thank you.

Best regards,
Romain.

[2020-06-24 13:02] stevehu commented on #303
https://json-schema.org/understanding-json-schema/reference/object.html

[code]

[2020-06-24 13:30] r0main commented on #303
Hi Steve,

This works like a charm, thanks a lot for the quick reply !

Best regards,
Romain.

[2020-06-24 13:30] #303 closed

[2020-06-24 13:59] samw2008 opened #304 "strong type support?"
I would like you to support strong type verification. e.g. any field which is not in schema will be failed in verification. This can be changed in  SchemaValidatorsConfig and PropertiesValidator files.

[2020-06-24 14:44] stevehu commented on #304
@samw2008 Could you please elaborate a little bit more? Is this covered by the additional properties like this issue?

https://github.com/networknt/json-schema-validator/issues/303

[2020-06-24 15:35] samw2008 commented on #304
I give an example to explain what I mean,
    schema :
                {
                        a:{

                        },
                        b:{

                        }
                }

    json:
                {
                        a:{

                        },
                        b:{

                        },
                        c:{

                        }

[2020-06-24 15:48] stevehu commented on #304
add additional properties to false and it will work.

[2020-06-24 17:08] samw2008 commented on #304
Thanks!

[2020-06-24 18:47] Subhajitdas298 opened #305 "Automatically determine schema version from schema file?"
Is there any builtin way to determine schema version?

[2020-06-24 18:58] #304 closed

[2020-06-25 03:16] stevehu commented on #305
It looks really good and non-intrusive. Sometimes, the parent schema and children might have different versions and the parent version is the one that is used. I am wondering if you could add a document on how to use the version detector. Thanks a lot for your help.

[2020-06-25 17:07] Buuhuu opened #307 "Make runtime dependency to org.jruby.joni:joni optional"
In an OSGI context json-schema-validator requires the following package imports to be resolved:

[code]
where all but `org.jcodings`, org.jcodings.specific`, `org.joni` and `org.joni.exception` are available as OSGI bundles publicly. `org.jruby.joni:joni` unfortunately is not archived as OSGI bundle and so requires a custom rewrapping.

From [doc/ecma-262.md](https://github.com/networknt/json-sche

[2020-06-25 17:42] stevehu commented on #307
I am not familiar with OSGI but will try my best to support it as there are some users who are using it. I am going to upgrade the Jackson to 2.10.4 and release another version soon. Thanks a lot for your help.

[2020-06-25 17:42] #307 closed

[2020-06-25 18:00] stevehu commented on #295
@soinio I missed this issue until today when I review the closed issues for the next release. Any findings recently? I will take a look when I have some free cycles. Thanks for raising it.

[2020-06-25 18:01] #300 closed

[2020-06-25 18:01] #302 closed

[2020-06-25 18:02] #305 closed

[2020-06-25 20:21] Subhajitdas298 opened #310 "[Discussion] Source code target version is 1.6. Any plan to switch to 1.8?"
The existing source code target is 1.6. While test target version is 1.8.  Also, to note, this library supports Java 8 (1.8) and up at the moment. There can be several code structuring improvement to be had, if witch to 1.8. Is there any plan to change target version to 1.8?

[2020-06-25 20:29] stevehu commented on #310
@Subhajitdas298 Some users are developing on an older version of Andriod and only Java 6 is supported. This is why the released target is based on 1.6 JDK. Some of the test cases were using Java 8 features before but I think I have converted them to Java 6 already. Let's keep the Java 6 until the older version of Andriod is phasing out. Thanks.

[2020-06-25 20:32] Subhajitdas298 commented on #310
Ok. Test cases can be kept 8 without interfering, right?

[2020-06-25 20:40] stevehu commented on #310
So far, I don't see any issue; however, I have changed a lot of them to Java 6 already. Some users might have running the test from the IDE with Java 6 if there are Java 8 test cases. There is a lot of extra work to support different environments at the same time; however, this is a community-driven project and we want to cover everybody if possible.

[2020-06-25 20:46] Subhajitdas298 commented on #310
Ok. Also on a side note, the library can be structured with more sub packaging. The project currently has 69 classes/interfaces in it's root package. Is there any issue, if restructured?

[2020-06-25 21:53] stevehu commented on #310
I don't have any issues with restructuring at all. It was started with a small footprint and grow to the current size. I think at least we should move all validators to a separate package at the moment. If you have any further suggestions, please let us know.

[2020-06-26 03:30] #310 closed

[2020-06-26 09:38] soinio commented on #295
No I do not have any further info. We modified our schemas to use "oneOf" ordering that seems to work, but are naturally still eagerly waiting for a real fix. Thank you.

[2020-06-26 18:25] Buuhuu commented on #307
Hey and thanks for merging that quickly. Unfortunately that was not the whole story. While working well in an integration test I was facing errors on an actual environment. This is because the now optional declared classes are in fact loaded by the PatternValidator. In created #311 which splits the PatternValidator into 2 classes, one for Java and one for ECMA262, loading o nly the one necessary p

[2020-06-27 19:45] koppor commented on #299
@stevehu Yeah, I think, the purposes are different. `toString()` is IMHO for debuggin (also backed by the article at https://dev.to/kylec32/effective-java-tuesday-override-tostring-14n7). Maybe you like [Lombok's @ToString](https://projectlombok.org/features/ToString)?

[2020-06-27 21:15] stevehu commented on #299
I agree with you that toString is used mostly internally like debugging or auditing. Lombok's toString generator looks pretty good; however, I don't think we should introduce another library for this purpose. In my opinion, we want to ensure that this library is as green as possible to not introduce any dependency conflict to users. We basically follow the same principle for the entire light platf

[2020-06-30 13:53] s16508pjwstk opened #312 "Unknown Metaschema"
Hi,

**VERSION: 1.0.40**

I've encountered a problem which I cannot solve.

Here is my json-schema validator.

[code]

Then I pass validation string listed above to create JsonSchema.

`JsonSchema schema = factory.getSchema(schemaStr);`

Unfortunately I get

`java.util.concurrent.CompletionException: com.networknt.schema.JsonSchemaException: Unknown Metaschema: https://json-schema.org/draft-07/sch

[2020-06-30 15:47] stevehu commented on #312
Change the schema to https from http and it should work. The latest schema URL is https. Thanks.
[code]

[2020-06-30 17:42] s16508pjwstk commented on #312
Hi, thanks for a quick response.

Unfortunately, the mentioned error remains. I've changed schema url as follows:

`{
    "$schema": "https://json-schema.org/draft-07/schema#",
    "$id": "http://example.com/example.json",
    "type": "object",
    "title": "The root schema",
    "description": "The root schema comprises the entire JSON document.",
    "default": {},
    "examples": [
        {

[2020-06-30 20:56] Buuhuu commented on #307
Hey, do you plan to cut `1.0.42` sometimes soon? I'm asking as the latest change unfortunately didn't made it in `1.0.41`.

[2020-06-30 21:08] stevehu commented on #307
1.0.42 has been released. Sorry, I was extremely busy the last several days.

[2020-07-08 12:50] SirMoM commented on #285
@stevehu can you reopen this issue?
The behavior of the validation of nested keywords isn't consistent.

[2020-07-08 13:02] stevehu commented on #285
@SirMoM I am sorry that I missed your inconsistency issue. Using meta schema to validate a schema file uses the same logic as using a schema file to validate a JSON. I am afraid this is a bug in the type validation. I am wondering if you could create a test case to validate nested types in a normal validation. Also, it would be great if you could submit both test cases so that more people can repr

[2020-07-08 16:05] arandjel opened #313 "V2019-09 not validating field type under properties"
Hi,

First of all, this is really nice library, thanks for it.

I've discovered issue where V2019-09 is not validating json properly. Schema that I've tried using for validating json is:
[code]

Json that I'm trying to validate is:
[code]

As you can see from my json, I've provided invalid type for the field I'm trying to define under **properties** object. I'm expecting for library to throw valid

[2020-07-08 16:25] stevehu commented on #313
@arandjel Thanks a lot for raising this issue. It has enough information to create a test case to reproduce it. The difference between v7 and v2019-09 should be minimum and it should be easy to pinpoint the issue. BTW, there is another issue opened for the same root cause I guess. https://github.com/networknt/json-schema-validator/issues/285

[2020-07-08 18:21] stevehu commented on #313
@arandjel Could you please provide a v7 schema file? I am having a hard time to figure out the vocabulary URLs for V7. I never use it before. LOL:)

[2020-07-08 18:34] arandjel commented on #313
Yeah, sure. URL is http://json-schema.org/draft-07/schema, and here is the whole v7 schema:
`{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "$id": "http://json-schema.org/draft-07/schema#",
  "title": "Core schema meta-schema",
  "definitions": {
    "schemaArray": {
      "type": "array",
      "minItems": 1,
      "items": { "$ref": "#" }
    },
    "nonNegativeInteger": {
      "ty

[2020-07-08 20:47] stevehu commented on #313
I just realized it is the meta schema and the v2019-09 is significantly different. I am guessing v2019-09 is not parse correctly due to unknown keywords. Need to debug into it to find out the root cause. Thanks.

[2020-07-20 06:31] SirMoM commented on #285
@stevehu I've created a gist to showcase my problem: [ValidationTests.java](https://gist.github.com/SirMoM/d748ad3f0607122d92debe29fd90c039).
I hope this helps to understand the problem.

If you need any additional Information please contact me.

[2020-07-21 02:43] stevehu commented on #313
I have just added two test cases to reproduce the issue. The v2019-09 test case is marked as ignored as there is an issue. I am wondering if anyone can help to debug into both cases and find out what is wrong.

[2020-07-21 02:44] stevehu commented on #312
Could you please submit a PR with your test case to reproduce the issue? Thanks.

[2020-07-21 03:06] stevehu commented on #285
@SirMoM Thanks a lot for the gist. I have put it into the test case with this commit.

d5a861affba41159f1c4187662144297fe7cf8c8

[2020-07-23 08:24] SirMoM commented on #313
This issue and #285 occurs because of https://github.com/networknt/json-schema-validator/blob/d5a861affba41159f1c4187662144297fe7cf8c8/src/main/java/com/networknt/schema/PropertiesValidator.java#L33. This assumes that all field names are in the schema file. This is not the case for the 2019 Meta-Schemas where the field names are declared in the vocabulary keyword and those references.

[2020-07-23 08:26] SirMoM commented on #285
I've continued the discussion in 313.

[2020-07-23 14:46] stevehu commented on #313
Fantastic findings!!! I don't know why the 2019-09 version is changed dramatically. Maybe we should have another version of the properties validator for 2019-09 to handle the scenario or to check the version before reading the properties. What do you think?

[2020-07-24 18:29] dnedev opened #314 "Consider not requiring HTTPS for custom meta schemas"
Hello,

Since release [`1.0.40`](https://github.com/networknt/json-schema-validator/releases/tag/1.0.40) custom meta schemas must be accessed over HTTPS. Unfortunately, some 3rd party schemas we use come from hosts that do not support HTTPS. As a result, we experienced a lot of schema validation issues and had to downgrade.

- Is it possible to disable the requirement that all custom schemas must

[2020-07-24 19:55] stevehu commented on #314
@dnedev We are trying to normalize the meta schema to https in order to find the matching meta schema instance. Users can still use HTTP for meta schema I think. Could you please submit a test case to reproduce the issue you have encountered?

https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/JsonSchemaFactory.java#L385

[2020-07-29 09:40] yuvke commented on #286
@stevehu I'm not sure what this change exactly entails in term of the `ValidationMessage` instance that is currently used for output of validation errors. But in case the property names / methods are changed I would consider this a breaking change and bump the version to `2.0.0`.

[2020-07-29 11:37] stevehu commented on #286
The major change is the structure of the message, which contains more information. I am not sure if the signature would be changed though. If yes, I agree that we should bump up to 2.0.0.

[2020-08-05 09:25] anagrius commented on #295
We are seeing issues with oneOf aswell.

This https://www.jsonschemavalidator.net/s/jGsTwlzm should be a valid document, yet networknt does not accept it, giving the error:

$.sharedTimeInterval.end: is missing but it is required

and according to the schema, end is only required when isLive=false

[2020-08-05 11:03] anagrius opened #315 "implement propertyNames validator for v6, v7 and v2019-09"
[code]

Should not accept:
[code]

But the validation passes.

Here is an example of it failing in another implementation:

https://www.jsonschemavalidator.net/s/cvPIboX7

[2020-08-05 13:15] stevehu commented on #315
@anagrius I think the minLength is to validate the property value instead of the property name. The JSON should be written like this.

[code]

[2020-08-05 13:16] anagrius commented on #315
Not when used inside propertyNames

[2020-08-05 13:17] anagrius commented on #315
The goal here is to limit the length of the property name not the values. The linked implementation does it correctly.

[2020-08-05 13:19] stevehu commented on #315
I got it. I will take a look. Thanks a lot for raising it.

[2020-08-05 17:20] stevehu commented on #315
@anagrius The propertyNames wasn't implemented before as nobody in the team is using it. Could you please review the newly added validator and see if there are any issues? Thanks.

[2020-08-06 13:22] prashanthjos opened #316 "Walking over JSON Schema and JDK upgradation to 8 or above."
We have a requirement where we want to walk through the JSON Schema and corresponding JSON data node properties at the same time the way we do with validator's today.
For example the Validate method on MaxItemsValidator allows us to validate the JSON data node for a specific Schema Node .

[code]

Taking this to a more generic level can we have a walk or visit method on the validator's that allows

[2020-08-06 13:49] stevehu commented on #225
This has been done in https://github.com/networknt/json-schema-validator/issues/315

[2020-08-06 13:49] #225 closed

[2020-08-06 13:51] stevehu commented on #9
It looks like Jackson is getting more popular these days and the need to support other parser is not that urgent anymore. Closing it.

[2020-08-06 13:51] #9 closed

[2020-08-06 14:02] stevehu commented on #316
@prashanthjos I think we have discussed the visiting feature in another issue and you have submitted a PR to implement something already. Are you talking about making another round of enhancements? I am open to it.

https://github.com/networknt/json-schema-validator/issues/249

Currently, there are some users who are stuck on the older version of Andriod which requires Java 6. We don't want to lea

[2020-08-06 14:38] prashanthjos commented on #316
The one I mentioned in #249 was collecting data while validation is happening, for this issue we want to walk through the schema and data without validating and just for collecting or recording information. I want to introduce a visit or walk method that my validators can implement and do things beyond validation. Please let me know your thoughts.

[2020-08-06 15:00] stevehu commented on #316
As long as there is no performance impact, I am interested in the feature. Are you planning to inject some logic to each individual validator or just add an interception in the base validator?

[2020-08-06 15:54] prashanthjos commented on #316
We will just have a new method in each validator named visit or walk. This has no impact on the current validation logics we have. In fact I wanted to define a default method on JsonValidator interface but default methods are available from Java 8. Is it possible for us to cut a new version indicating moving to java 8 or later?

[2020-08-06 16:42] stevehu commented on #316
The approach is nice and clean. So many people have tried to move to Java 8 in the past but eventually, we have to downgrade back to Java 6 as there are still some users depending on it for the new features. I know the pain of stuck in Java 6 but those Andriod developers are early adopters and we have to support them. Most Java 8 features can be done in Java 6 with some tricks although the code is

[2020-08-10 05:56] pan3793 opened #317 "Compatible with Jackson 2.9.x"
It's an awesome project, I'm looking for a light tool to validate json message, I think this project is almost what I want.

I'm planning to integrate it to my Hadoop related project. I need to carefully evaluate every newly introduced tool, cause that Hadoop ecological dependence is already chaotic enough.

I use Hadoop CDH-6.3.1, which depends on Jackson 2.9.9, and this project is build against

[2020-08-10 13:50] stevehu commented on #317
One thing that I want to point out is Jackson 2.9.x has some security vulnerabilities and most organizations cannot use it due to security policy enforcement. All our repositories are constantly scanned by some banking customers and we update security issues promptly. I would highly recommend you upgrade your Hadoop ecosystem to the latest Jackson version if possible. If you have roadblocks to upg

[2020-08-10 14:56] pan3793 commented on #317
Thanks for your advice. I understand that keeping libs up to date is an ideal solution, but actually it's hard to implement. Hadoop ecosystem is consist of so many projects, and the distribution CDH which we choosen is half-open source. I think cloudera has spent lots of effort to make those components work together, any dependency version change may break the peace.

It's a trade-off between usab

[2020-08-10 17:13] #317 closed

[2020-08-10 17:32] stevehu opened #319 "resolve a java doc warning in CollectorContext"

[2020-08-10 17:33] #319 closed

[2020-08-10 17:56] stevehu commented on #317
To make it compatible with older Jackson version won't introduce any security risk. I am maintaining so many repositories and I know how hard to keep an application up-to-date. We are using light-bot regex-replace to update all the repositories in batch. I have published a new version 1.0.43; however, I would suggest you open an issue to Hadoop to get the Jackson upgraded as there are many securit

[2020-08-17 14:58] gjvoosten opened #321 "dependentSchemas and dependentRequired keywords not implemented"
From JSON Schema 2019-09, the new keywords `dependentSchemas` and `dependentRequired` (replacing `dependencies`) are not implemented; see https://json-schema.org/draft/2019-09/release-notes.html#semi-incompatible-changes

[2020-08-17 15:01] gjvoosten commented on #276
Since the new keyword `unevaluatedItems` (see https://json-schema.org/draft/2019-09/release-notes.html#applicator-vocabulary) is also not implemented, maybe take these together (and change the title of this issue to _unevaluatedProperties and unevaluatedItems keywords not implemented_)?

[2020-08-17 16:12] stevehu commented on #321
@gjvoosten Thanks a lot for raising it up. Several keywords are not implemented as our team is not using them at the moment. They are in the pipeline though when we have time. If would be great if you and others can take the time to get them implemented.

[2020-08-17 16:14] stevehu commented on #276
@gjvoosten Good idea. I have changed the title to cover both keywords. Thanks.

[2020-08-20 03:43] Zephery opened #322 "how to get extra field"
I define a json shema like this
[code]
and here is my json
[code]
I want to get the extra field which is not defined in json schema, just like "abcd" and "efg".
Output like this: ["abcd","efg"]

[2020-08-20 03:57] Zephery commented on #322
https://stackoverflow.com/questions/63497861/json-schema-validator-how-to-get-extra-field

[2020-08-20 11:16] stevehu commented on #170
I misunderstood the question in my previous answers. I think @kosty is right. Set additionalProperties to false will prevent any additional properties. Here is another duplicated question on this topic and I have answered it on the Stackoverflow.

https://github.com/networknt/json-schema-validator/issues/322

[2020-08-20 11:16] #170 closed

[2020-08-21 08:23] #322 closed

[2020-09-23 06:58] matejsp commented on #316
Currently jackson requires java 1.7. So running on java 1.6 ...

https://repo1.maven.org/maven2/com/fasterxml/jackson/jackson-parent/2.10/jackson-parent-2.10.pom
https://medium.com/@cowtowncoder/jackson-2-10-features-cd880674d8a2

[2020-09-23 09:32] oscarmon7 opened #325 "Validator for version 7 produces "Unkwown keyword" warning for examples and additionalItems"
I got the following two warnings when validating a json under a version 7 schema:

2020-09-23 10:20:50.109  WARN 22732 --- [           main] com.networknt.schema.JsonMetaSchema      : Unknown keyword examples - you should define your own Meta Schema. If the keyword is irrelevant for validation, just use a NonValidationKeyword
2020-09-23 10:20:50.109  WARN 22732 --- [           main] com.networknt.

[2020-09-23 13:04] stevehu commented on #316
Thanks a lot for the links. People who are using Java 6 can overwrite the Jackson version to the right one.

[2020-09-23 13:26] ascertrobw commented on #325
Coincidentally - just hit a similar seeming issue with "then". Guessing it's probably the same cause?

[2020-09-23 13:51] matejsp commented on #316
Hm ... Android you say ...

Android: https://source.android.com/setup/build/older-versions
Play requirements: https://developer.android.com/distribute/play-policies

For example 64 bit support is required since 2019. And 64 bit is from android 5.0 (using java 7).

I wonder how they can even publish on play with such old tooling (since you must target at least android 9 api).

[2020-09-23 15:02] stevehu commented on #325
"then" is a little different as we only have the keyword "if" defined. However, the entire if-then-else works without any issue.

[2020-09-23 15:07] stevehu commented on #316
Regarding to the Andriod support, there are some discussions on this thread. https://github.com/networknt/json-schema-validator/issues/221

I would like to reopen it to discuss so that we can move on to Java 8. It is a burden for all of us to support the obsoleted version of Android API.

[2020-09-23 15:09] stevehu commented on #221
@msattel As more and more dependencies lose the support for Java 6, it is time to re-evaluate our situation again. Do we still need to support Java 6 or move to Java 8? What is your opinion? Thanks.

[2020-09-23 15:30] ascertrobw commented on #325
Odd - I was getting an Unknown keyword on "then" but possibly it's because I'm using the Maven Central release version rather than the latest snapshot?

[2020-09-29 08:54] kimtkyeom opened #326 "pattern validation for propertyNames"
We are using json-schema-validator for validate given json string is valid.
Recently, we need to validate json fields in object has valid format (using regex)
From draft-v6, json schema specification supports [propertyNames](https://json-schema.org/understanding-json-schema/reference/object.html#property-names).
However json-schema-validator currently not supports patterns, is there any plan to su

[2020-09-30 20:55] nusmanov opened #327 "Unknown MetaSchema: https://json-schema.org/draft-07/schema#"
hi,
i used
- the example json schema: https://json-schema.org/learn/miscellaneous-examples.html
`
{
  "$id": "https://example.com/person.schema.json",
  "$schema": "http://json-schema.org/draft-07/schema#",
  "title": "Person",
  "type": "object",
  "properties": {
    "firstName": {
      "type": "string",
      "description": "The person's first name."
    },
    "lastName": {
      "type": "str

[2020-10-01 02:51] stevehu commented on #327
@nusmanov Thanks for raising the issue up. I have created a test case to reproduce it and it works without showing the error you have reported. Could you please review my test case and pinpoint the differences?

[2020-10-01 03:06] stevehu commented on #326
@kimtkyeom I am not aware that patterns are supported for the propertyNames. It might be added in the recent version but I couldn't find any test cases in the [official test suite](https://github.com/json-schema-org/JSON-Schema-Test-Suite/blob/master/tests/draft7/propertyNames.json). Could you please point me out the specification? It should be easy to implement in my opinion as we have done that

[2020-10-01 08:08] nusmanov commented on #327
hi @stevehu thank you for fast reply.
Approve your changes:
https://github.com/networknt/json-schema-validator/commit/236967ad478802233ddf1f5e277bf0903af47e5a
The ticket can be closed.

[2020-10-01 08:09] #327 closed

[2020-10-01 12:36] stevehu commented on #327
@nusmanov Thanks a lot for your confirmation. Happy coding!!!

[2020-10-01 12:38] stevehu commented on #325
@ascertrobw You can ignore the then warning as the library only consider if is the keyword and handle the condition syntax properly. Sorry, I missed your comment until today I review the issues.

[2020-10-01 12:41] stevehu commented on #316
I haven't heard any response from another thread. I think we can safely move to Java 8; however, let's don't change the codebase for now in case we need to rollback. I would just change the pom.xml for the source and target version. What do you think?

[2020-10-01 12:50] matejsp commented on #316
Just bump it. Even android developers can use java 8 api for all devices.

Very interesting read:
https://medium.com/androiddevelopers/support-for-newer-java-language-apis-bca79fc8ef65
https://developer.android.com/studio/write/java8-support

[2020-10-01 13:11] stevehu commented on #316
@matejsp Thanks a lot for the links. I am not familiar with Andriod development in Java. I only explored a little bit with React Native before. Good to know we can safely move on.

[2020-10-01 15:36] kmalski commented on #325
Hi, why is the same happening with `$comment` keyword? This is just non validation keyword from specification so it should be easy to implement it (I did it on my own with `NonValidationKeyword`).

[2020-10-01 16:37] stevehu commented on #325
@kmalski Would you be able to submit a PR to get it fixed for the $comment? Thanks.

[2020-10-06 09:51] Vity01 opened #329 "JRuby Joni dependency and its dependencies"
The Readme.md homepage declares there are only 3 required dependencies, but the validator depedency also include `org.jruby.joni` dependency which includes jcodings.jar dependency  transitively (and it's pretty big jar >1MB) .
Is it really necessary? What's good for?

[2020-10-07 04:11] stevehu commented on #329
The JSON schema specification is designed based on Javascript regex and there are some differences in Java regex implementation. For most users, they might not care about the differences and they are good with Java regex. If users want to ensure the regex syntax is the same as the specification, they can use the JRuby regex. I think we can make the dependency optional or provided so that the end-u

[2020-10-07 06:56] Vity01 commented on #329
Yeah, please do the dependency optional.

[2020-10-11 18:05] filipebezerra commented on #221
I think we have a big issue concerned about Android development, because Android platform is highly fragmented and thus lead software developers and companies having to support them because of their business model or product requirements.

Modern Android applications now are recommended to use [Jetpatck components](https://developer.android.com/jetpack/getting-started), Google recommends to [suppo

[2020-10-11 18:27] filipebezerra opened #330 "Modularize library to incorporate it in Android applications"
I'm using the version of the library

`implementation 'com.networknt:json-schema-validator:1.0.43'`

I have the following configuration within my app\build.gradle:

[code]

When I add the library as a project dependency and rebuild the project, it fails with the following message:

[code]

The library it's huge and forces me to [enable multidex](https://developer.android.com/studio/build/multidex)

[2020-10-12 13:15] stevehu commented on #330
@filipebezerra The library is rather small and the only dependency that can be optional is the JRuby regex. I am wondering if someone can help to make the change and test it out.

There are two options: make the dependency optional or provided. I don't know which one is better though.

https://github.com/networknt/json-schema-validator/issues/329

[2020-10-12 13:20] #329 closed

[2020-10-13 14:46] Gaff opened #333 ""Unknown keyword then" / "else" warning"
It seems that if I have "then" or "else" in my schema I get a warning when loading the schema:

[code]

I think this is because `ValidatorTypeCode.getNotFormatKeywords` only includes `if` not `else` or `then`.

[2020-10-13 14:51] Gaff commented on #333
Could simply fix this by listing "then" and "else" as keywords with the `TrueValidator`. Happy to do this if you think it would be helpful?

[2020-10-13 15:55] Gaff commented on #276
@ssilverman Just looking at your branch. Maybe it would be better to add an interface, something like:

[code]

Then the `UnevaluatedPropertiesValidator` could call the other validators with `wouldHandleProperty()` to figure out which properties have been handled?

[2020-10-13 16:06] filipebezerra commented on #330
@stevehu thanks for answer, I'm new to this library but I could look into this issue, can you point out where to start and maybe I could submit a PR.

[2020-10-13 20:40] stevehu commented on #333
@Gaff This would be a fantastic idea if it works. What we need to do is to add two more entries into the ValidatorTypeCode. I don't know if it works though as there would be multiple TrueValidator instances in the mapping.

[2020-10-13 23:28] stevehu commented on #330
I have made the change already in the master branch. You just need to clone the project and build locally with mvn clean install and test in your Andriod application to ensure that there are no additional dependencies in your apk file.

[2020-10-14 11:30] oguzhanunlu opened #334 "Improve type validation of numeric values"
**Issue**
TypeFactory uses `jackson-databind`'s `JsonNode.isIntegralNumber` and `JsonNode.isNumber` to see if the node's type is integer or number, respectively. This result is used when comparing node type and schema type which is not precise enough in some cases.

https://github.com/networknt/json-schema-validator/blob/4ba09d5f978508f7bc9e96087252333ebe90e22a/src/main/java/com/networknt/schema/T

[2020-10-14 13:04] stevehu commented on #334
@oguzhanunlu Thanks a lot for raising the issue and provide a solution. Let me add some background information here so that others can see where this issue is from and why we should adopt your solution as a Java-specific implementation.

[code]
Given the above quote from the official site, I think we should leverage the Java language feature to support the Long type; however, the change might make

[2020-10-14 13:40] oguzhanunlu commented on #334
Thanks for the quick response @stevehu !

Looking at [the implementation of `DecimalNode.canConvertToLong`](https://github.com/FasterXML/jackson-databind/blob/640f9982bd7ea84b271cb2b6ae9d3f4708cf7e9e/src/main/java/com/fasterxml/jackson/databind/node/DecimalNode.java#L64-L66) in jackson-databind, it seems that floating values smaller than maximum long, e.g. `1.4`, will be considered as `integer`, i

[2020-10-14 20:24] markgitset commented on #79
Can the warning be suppressed?

[2020-10-14 23:48] stevehu commented on #79
If exclusiveMinimum is the keyword in draft 4 only, we can map this keyword to TrueValidator for v6, v7 and 2019-09. Let's wait for the test result on this issue and make the same change if it works.

https://github.com/networknt/json-schema-validator/issues/333

[2020-10-15 08:47] kmalski opened #335 "NullPointerException at com.networknt.schema.JsonSchema.validate(JsonSchema.java:213)"
Hi, I am getting NullPointerException during parallel processing.
[code]
After some research, I found that it is probably about not set field `protected Map<String, JsonValidator> validators` in `JsonSchema`.
I think it is coming from this place in `JsonSchemaFactory`:
[code]
The initialization of the jsonSchema happens after putting it to cache. Another thread finds that it is in cache, tries to

[2020-10-15 11:42] stevehu commented on #335
@kmalski Thanks a lot for raising and analyzing the issue. Your analysis makes perfect sense. I remember the initialize was changed this way to resolve one of the issues and it might be the root cause. Have you tried to put it into the cache after initialize() is called?

[2020-10-15 14:30] kmalski commented on #335
This is more complicated than I thought. Changing this order causes fail of test for mentioned by you issue #258. This looks like a bad design, because caching not ready to be used objects is not the best idea. Fixing this requires reading the old issue and taking into consideration current issue. Moreover I can still imagine creating same schema many times when many threads will find this conditi

[2020-10-20 14:14] stevehu opened #338 "comment out the moditect-maven-plugin for mvn deploy"
There is an error when executing the deploy task with Maven.

[code]
The error

[code]

[2020-10-20 14:16] #338 closed

[2020-10-23 03:39] ssilverman commented on #276
@Gaff I ended up writing my own validator :)

[2020-10-23 12:54] stevehu commented on #276
@ssilverman I am assuming you add some dummy validators that doing nothing to map to these keywords.

[2020-10-23 13:46] ssilverman commented on #276
@stevehu do you mean in my validator?

[2020-10-23 14:05] stevehu commented on #276
@ssilverman I am sorry. I thought this thread is talking about the warning messages for the un-implemented keywords. Please ignore my message above. Thanks.

[2020-10-27 10:00] ShaulEngler commented on #326
https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.9.3.2.5
the spec references propertyNames as any other JSON Schema pattern included, no limitations applied to it.

also can see this discussion:
https://github.com/json-schema-org/json-schema-org.github.io/issues/77
which actively uses pattern as a suggested new example

[2020-10-27 15:34] stevehu commented on #326
@ShaulEngler Thanks a lot for the links. It makes perfect sense in my opinion. I've marked help wanted and hope some team members can pick it up and get it implemented.

[2020-10-28 20:14] antonovdmitriy opened #339 "Incorrect error description (NullPointerException) when using a non-uri value in the id field"
## Description
Insufficiently clear description of the error when using a non-uri value in the id field at the root of the schema element. It would be better to show a competent message about incorrect format

## Repeating
[code]
        JsonSchemaFactory factory = JsonSchemaFactory.getInstance(SpecVersion.VersionFlag.V4);
        InputStream is = Thread.currentThread().getContextClassLoader()

[2020-10-28 22:54] stevehu commented on #339
@AntonovDmitriy Thanks for raising it. I am wondering if you could submit a PR to get it fixed.

[2020-10-31 16:14] ascertrobw opened #340 "Suggestions on post validation line & column information?"
One aspect we are really battling with.

How to log line/column information to a user for a YAML document that passes schema validation, but then fails semantic checks on the content of the JSON node tree?

Maybe we're missing something obvious here - but so far we have a multi step process:

1. Loading the YAML file/stream into JSON and then passing the loaded JSON tree to the factory for validat

[2020-11-04 10:02] GuanDong opened #342 "propertyNames not work with enum or not enum"
schema:
{"type": "object", "patternProperties": { "": { "enum": [1,2] } }, "propertyNames": { "enum":  ["a"] } }

data:
{"a": 1, "abc": 2, "abcd": 3}

validate with SpecVersion.VersionFlag.V201909 get errors:
$.abcd: does not have a value in the enumeration [1, 2]

[2020-11-04 12:59] stevehu commented on #342
@GuanDong Good catch. The propertyNames only supports limited validation today based on the official test cases and we have another issue to add more validations against it. This should be addressed at the same time.

https://github.com/networknt/json-schema-validator/issues/326

[2020-11-05 11:12] oguzhanunlu commented on #334
Hi @stevehu , is there any update on this one? Or is there anything I can do to proceed here?

[2020-11-05 13:20] stevehu commented on #334
@oguzhanunlu I think we should go ahead with the implementation.  Just make sure to keep the existing behaviour as default and the new feature can be enabled from the configuration. Could you submit a PR for this? Thanks.

[2020-11-05 17:22] oguzhanunlu commented on #334
sure @stevehu , I'll open a PR, thanks!

[2020-11-10 13:55] oguzhanunlu commented on #334
hey @stevehu , fyi, I just opened [the PR](https://github.com/networknt/json-schema-validator/pull/343) and wanted to share here as well in case you don't get notified

[2020-11-11 13:59] stevehu commented on #334
@oguzhanunlu Thanks a lot for your help. I am working with customers these days and very busy. I am reviewing in my spare time and it will take a bit longer.

[2020-11-11 14:36] oguzhanunlu commented on #334
I understand it @stevehu , no worries at all! I hope jackson-databind publishes 2.12.0 in the meantime.

[2020-11-13 08:43] ascertrobw commented on #340
Closing this issue as we found a way to handle this.

If it's of any interest, it wasn't that hard, involving a few fairly simple steps.

- Create a custom subclass of JsonNodeFactory that had access to the YAMLParser, where "token" and "current" file location information is available
- Create custom subclass of the various JsonNodes (TextNode, NumericNode, ObjectNode etc etc) which can be instant

[2020-11-13 08:43] #340 closed

[2020-11-13 12:50] Navgeet opened #344 "Coercion feature"
Hi, my company is using this library and we have a requirement of coercing types and also perform other types of data correction. I see that this feature is available in some other libraries too. See https://ajv.js.org/coercion.html.

Rather than implement this for ourselves, I think it would be better to add this feature here. That is, if you would like to integrate coercion into this library. If

[2020-11-15 02:34] #334 closed

[2020-11-15 02:38] stevehu opened #345 "optimize imports in the src folder"

[2020-11-15 02:39] #345 closed

[2020-11-15 02:40] stevehu commented on #340
@ascertrobw Your workaround makes perfect sense. I am wondering if you want to contribute to the library so that other users can enjoy it. Thanks.

[2020-11-15 02:51] stevehu commented on #344
@Navgeet That is a fantastic idea. In fact, we have done some basic work for the OpenAPI specification already as all number fields are represented in string in the spec. There is a config flag to enable it or not at this line.

https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/SchemaValidatorsConfig.java#L28

The solution is ad-hoc and only works wi

[2020-11-16 06:44] ascertrobw commented on #340
Not sure how generally applicable it will be - but happy to share the code I used. Is there an "examples" or "library" section somewhere for that, or should I just ZIP and post here?

[2020-11-16 12:21] ascertrobw commented on #340
On a similar topic - I'm not seeing any way to get line/col information out of a ValidationMessage when a document fails validation against a schema. Still digging to see if any is recorded anywhere

[2020-11-16 14:47] stevehu commented on #340
@ascertrobw I just sent an invite to join the team. You can create a feature branch and add an example folder to show us how it works. If we can find a way to generalize it, then we merge into the library. Otherwise, it will live in the example folder for users to adopt.

[2020-11-16 14:50] ascertrobw commented on #340
Cool, thanks, will do. I'm just chasing down the "line numbers in ValidationMessage" aspect, see if I can create an example for that also. Shoild hopefull be able to carve out some time to create standalone examples in the next week or two once I'm done and have got my current work off my desk.

[2020-11-19 23:07] wheelerlaw opened #347 "NullPointerException at com.networknt.schema.JsonSchema.combineCurrentUriWithIds(JsonSchema.java:90)"
Here is my code:

[code]

If the schema's `$id` field does not start with a scheme, it will throw a null pointer exception. Here is the full stack trace:

[code]

Here is my test schema:

[code]

It should throw a `JsonSchemaException` instead of a `NullPointerException`, but in `combineCurrentUriWithIds`, `currentUri` will be `null` and therefore `currentUri.toString()` on line 90 will throw a NP

[2020-11-20 00:48] stevehu commented on #347
@wheelerlaw Thanks a lot for raising it. I have marked it as a bug and wondering if you could submit a PR to get it fixed.

[2020-11-20 15:44] alexei-28 opened #349 "How turn off to many DEBUG logs"
I use yaml to validate my json.

build.gradle

[code]
Nice it's work fine
smt like this:

[code]
Nice.

But it's generate to many logs like this:

[code]

How I can turn off this DEBUG logs?

[2020-11-21 16:31] #347 closed

[2020-11-23 04:03] stevehu commented on #349
The library is using Logback and you can change the logging level with logback.xml in your application.

[2020-11-24 16:02] ascertrobw commented on #340
A tad short of time this week to create a full worked exampled - so I've created a .MD instead which describes the scenarios and solutions

[2020-11-24 17:13] kobisadeh175 opened #353 "Schema validation"
Hi,
Is there a way to validate **json-schema** is valid json-schema version 07?
let say my schema contains
{"type":"superBigNumber"}
and since there is no type "superBigNumber" (e.g Object, Number) it sets relevant error?
Thanks!

[2020-11-24 20:18] prubdeploy opened #354 "OneOf validator is not throwing valid error if any of the child nodes has invalid schemas."

[2020-11-24 20:49] prubdeploy commented on #354
Proposed Fix: If there is no valid schema in child nodes, then clear existing error list which got generated while validating child nodes and push OneOf validation to the error list as per "OneOf" attribute requirement.

Since, "OneOf" validator, in every scenario, validates and generates the error list while validating the child nodes. The error list has to be cleared, in order, to push OneOf val

[2020-11-24 21:58] stevehu commented on #354
@prubdeploy anyOf, oneOf and allOf are very complicated in the validator and there must be some scenarios that are not captured yet. Could you please submit a unit test case to show us the exact scenario so that we can have the same base to discuss?

[2020-11-24 23:39] stevehu commented on #353
json schema is just a json and you can use the meta schema of v7 to validate it.

[2020-11-24 23:39] #349 closed

[2020-11-25 14:47] jiachen1120 commented on #354
@stevehu Hi Steve. A example schema for this is:

[code]

If request body not match with both dog and cat, there will be two error messages within the validation result. However, only the first one will be added to reponse status (schemaValidator.doValidate only use the first validationMessage as return status).

Therefore, when user sent a request which doesn't match with both dog and cat, he may

[2020-11-25 15:30] stevehu commented on #354
@jiachen1120 Thanks for the example. Yes. Your error message makes sense. I have marked this issue as a bug and we need to get it fixed.

[2020-11-25 15:54] prubdeploy commented on #354
Hi Steve @stevehu ,
I am unable to push my changes. Could you please grant me the necessary permissions.

[2020-11-25 16:02] stevehu commented on #354
@prubdeploy I have sent you an invite. Please create a branch to push your changes. Thanks.

[2020-11-26 00:30] #353 closed

[2020-12-01 18:52] mattmackenzie opened #356 "Proper way to exclude your own keywords?"
Any ideas what I am doing wrong? This still warns of unknown keywords when I validate with it:

[code]

[2020-12-02 01:30] stevehu commented on #356
@mattmackenzie I am amazed at how creative our users explore the library. I never use addKeywords in the builder myself so I am wondering if you could submit a PR with a schema file and a JSON file. Thanks.

[2020-12-14 10:53] serebro opened #357 "IF-THEN-ELSE Conditional with properties attribute (Draft 7)"
For a case that is described here
https://json-schema.org/understanding-json-schema/reference/conditionals.html
I did not found test case and as I understand this was not implemented because the validator ignores `properties` attribute.
Could it be implemented? Or give me please an example how to use it.
Thank you.

[2020-12-14 13:15] stevehu commented on #357
The use cases you mentioned are not in the official test suite. Could you please create a PR with test cases to produce the issue? It will help others to pick it up and get it implemented if it is not working. Thanks.

https://github.com/networknt/json-schema-validator/blob/master/src/test/resources/draft7/if-then-else.json

[2020-12-18 13:20] FWiesner opened #359 "Is your library the right choice for me?"
Hi guys,

your library looks extremely promising to me, but I wonder whether it is the right choice for my project. I would really appreciate if you could give me a hint.

I'm seeking a solution that allows me verifying whether JSON Schemas (Draft 7) are valid and all `$ref` entries can be resolved and recursively are valid JSON Schemas as well. The JSON Schemas for me act as meta model definition

[2020-12-18 15:34] FWiesner commented on #359
I guess I've found the answers myself. Here is what I did - and I hope I didn't forget anything.

1. validating a schema with only definitions does not seem to cause validation to happen on the definitions, as there is no validation root. But, creating an extra root schema that just has the boilerplate and the `$ref` to my root resource in the `definitions` section of my other schema file does see

[2020-12-18 15:56] stevehu commented on #359
@FWiesner I am glad you have found the answer yourself. Let us know if you have further questions or requirements. This is a community-driven project and we can gradually implement all features if they make sense and useful for the community. Thanks.

[2020-12-20 00:55] stevehu opened #360 "add four project links to the README.md"

[2020-12-20 00:56] #360 closed

[2020-12-21 09:03] FWiesner commented on #359
Hi @stevehu,

one more question I have. When I have one schema that references another schema, how can I enable that the other schema is also validated and not just parsed? In particular I have one schema referencing a definition in another schema. When there is no match under under `definitions` in the referenced schema, the validation passes, although it should fail.

Florian

[2020-12-21 13:20] stevehu commented on #359
All $ref will be resolved recursively and validated at the same time. We also support local file system references and there are document links on the README.

[2020-12-21 13:43] FWiesner commented on #359
the custom protocol approach allows me using the library with a database and it works like a charm - thank you!
Btw what I realized is that the schema under validation is not automatically part of the cyclic dependency check. I'm simply providing it as part of the protocol handler as well now. My scenario is A (under verification and not yet stored) -> B (stored and not yet valid) -> A. In this ca

[2020-12-21 13:49] stevehu commented on #359
I haven't seen the issue you mentioned. I am wondering if you could submit a PR with the issue reproduced. It will help developers to get it fixed. Thanks.

[2020-12-22 10:19] ennoruijters opened #362 "Date-time validation fails depending on local time zone"
Schema:
[code]

Document:
[code]

This should be accepted, as all one the listed times are perfectly valid UTC times. However, on my machine (Amsterdam time), it fails with the message "$[0]: 2020-03-29T02:00:00Z is an invalid date-time".

This is because DateTimeValidator.validateDateTime does not set the time zone of the SimpleDateFormat which therefore defaults to the system time. The first dat

[2020-12-22 10:27] ennoruijters commented on #362
A testcase and proposed fix are available in [this branch](https://github.com/ennoruijters/json-schema-validator/tree/dateTimeBug).

[2020-12-22 14:17] stevehu commented on #362
@ennoruijters It makes perfect sense to set the time zone. Could you please submit a PR? Thanks.

[2020-12-22 16:03] ennoruijters commented on #362
Submitted, PR #363.

[2020-12-27 22:04] #362 closed

[2020-12-28 14:37] sajinkk opened #364 "YAML validation fails"
I am getting following error when trying to validate json data using YAML schema. I am using networknt library as given here
com.fasterxml.jackson.dataformat.yaml.snakeyaml.error.MarkedYAMLException: mapping values are not allowed here in 'reader', line 1, column 58:

 ... -schema.org/draft-04/schema#type: objectproperties:  id:    type ...
                                     ^
at [Source: (Strin

[2020-12-30 09:22] FWiesner commented on #359
hope I can do so, once I'm back from Christmas vacation

[2020-12-30 09:41] FWiesner opened #365 "Validation that schemas can be loaded"
Hi all,

I have the the need to validate the JSON Schemas being correct and loadable (especially `$ref` resolution). So, I've added two step validation to my app.

**Step 1: validate schema syntax**
here I use the json schema draft 7 meta schema JSON as downloaded from json-schema.org. This ensures that my schema documents are syntactically correct.

**Step 2: validation of the schema being loadab

[2020-12-30 14:43] #295 closed

[2020-12-30 14:47] stevehu commented on #354
This has been merged.

[2020-12-30 14:47] #354 closed

[2020-12-30 14:55] stevehu commented on #333
Some of the PRs fixed part of the issues by adding the keyword to the NonValidationKeyword here at

https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/JsonMetaSchema.java#L172

I am wondering if we can add the else using the same way. Could you please try it out and submit a PR if it works?

[2020-12-30 14:57] stevehu commented on #79
Since this issue was raised, we have added a lot more NonValidationKeyword to each version of specifications. Here is an example. https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/JsonMetaSchema.java#L172

I am wondering if you guys could try it again and add your warned keyword to the list. Just be sure that don't add anything that is a validation k

[2020-12-30 15:00] stevehu commented on #364
Could you please try https instead of http for the $schema URL?

[2020-12-30 15:06] stevehu commented on #365
I wouldn't recommend option 1 as it is not the ValidationMessage was designed for. I am wondering if you want to pre-process the $ref for your schema before calling this library. Take a look at this project and see if you can use the idea.

https://github.com/networknt/openapi-bundler

[2020-12-30 18:05] FWiesner commented on #365
not sure I understand your proposal. What I try doing is building a JSON Schema document store with the ability to then refer to individual schemas and their `#/definitions` as a repository. So, I cannot have a code generation step as all the schema processing happens at runtime. I will later have the ability to check individual payloads against the inventory of schemas which could comprise of hun

[2020-12-31 04:10] sajinkk commented on #364
I am getting following error when I update to https.

com.fasterxml.jackson.dataformat.yaml.snakeyaml.error.MarkedYAMLException: while parsing a block mapping
 in 'reader', line 1, column 1:
    ---$schema: "https://json-schema ...
    ^
expected <block end>, but found '<scalar>'
 in 'reader', line 1, column 55:
     ... son-schema.org/draft-04/schema#"type: objectproperties:  id:     ...

[2021-01-14 01:37] gricey432 commented on #312
I had the same problem because I was half-consciously following the quickstart and didn't change the VersionFlag from V4 to V7
[code]

[2021-01-14 01:52] stevehu commented on #312
@gricey432 Thanks a lot for your answer. It makes sense and I never thought about this reason. @s16508pjwstk Could you please check your source code to see if this is the root cause?

[2021-01-14 17:50] Krishna-capone opened #366 "Fast fail issue with One Of Validator"
We were having issues with the One Of Validator and i ran the "One Of" test cases provided in your test suite to confirm the issues my team was having:

[code]

The "One of" validator just gives this error message:

$: should be valid to one and only one of the schemas
but not all the reasons.
 I have changed the code so that the following are returned:

$: number found, integer expected
$: must h

[2021-01-15 01:23] stevehu commented on #366
@prubdeploy @jiachen1120 Is this issue related to the one we fixed recently?

https://github.com/networknt/json-schema-validator/issues/354

[2021-01-15 01:35] prubdeploy commented on #366
Yes and the errors he posted are right.

[2021-01-15 05:02] stevehu commented on #366
@Krishna-capone The oneOf validator is pretty complicated when combining with other validators and we used to implement the way you mentioned. You can see how many PRs linked to this class in the Git history. Days ago, we made the decision to make this validator fail-fast based on the following reasons in #354.

1. The library is mainly used in the light-4j framework for OpenAPI specification and

[2021-01-18 23:05] Krishna-capone commented on #366
Thank You for your reply @stevehu. I tested the OneOf Validator with the code that was present before the fix for #354 was done with our team's schema and also with the test suite schema in your repo and they all seem to work fine. Also, i could not find the test data for which the pre #354 code was failing for the author of #354. The test case that was submitted as part of #354 fix was
[code]
The

[2021-01-19 03:19] stevehu commented on #366
@Krishna-capone I am glad that the existing code works for your use case. Fix #354 is not to resolve the OneOf issue but some combination of subschemas. Also, it is the right behaviour to fail fast in microservices.

Since we have two different implementations now, we need to split the test cases into common, fail fast and fail slow. This can ensure that any future changes won't cross-fire to the

[2021-01-19 13:36] nggoenka opened #369 "Error message is not showing exact element containing error"
Every invalid json element shows same error:
**$: should be valid to one and only one of the schemas.**

[2021-01-19 13:40] stevehu commented on #369
Could you please create a PR with your test case to reproduce your issue?

[2021-01-19 14:56] nggoenka commented on #369
Please have a check https://github.com/nggoenka/FhirValidationExample/pull/1

[2021-01-19 15:00] nggoenka commented on #369
ValidatorExample is giving below result:
[$: should be valid to one and only one of the schemas ]
it should point out exact element in json having issue.

[2021-01-19 23:06] Krishna-capone commented on #366
@stevehu Currently if the Failfast flag is set,  it throws an exception on the first error encountered which in the following case

[code]
would be

`com.networknt.schema.JsonSchemaException: $: object found, integer expected`

This is because of the following code in the BaseJsonValidator:

[code]
From one of your above comments in this chain , the #354 is supposed to be a failfast implementation

[2021-01-20 22:41] stevehu commented on #366
The fail-fast implementation was contributed by one of the users and it is not 100% completed. For details, please visit https://github.com/networknt/json-schema-validator/issues/209

As the current behaviour is fail-fast as default, we just need to make sure the changes won't impact the default behaviour. We might need to create separate test tests for with fail-fast and fail-slow if necessary.

[2021-01-25 00:29] Krishna-capone commented on #366
I fixed the following. But i could not push in my changes to the branch fixfor-366. When i push i get the error error: RPC failed; HTTP 403 curl 22 The requested URL returned error: 403. @stevehu do i need to do anything special or do i need any permission?

The fix:

For FailFast:

1. Now the OneOf Validator waits till all the subschemas are validated before throwing the exception instead of thro

[2021-01-25 13:21] stevehu commented on #366
I am guessing you are using HTTPS instead of SSH. GitHub requires two-factor authentication and you have to use SSH.

[2021-01-27 04:12] hhkkxxx133 opened #370 "Proper way to disallow remote references?"
I am wondering if there is a feature flag in the library to disallow remote references during validation?

For example, only internal references are allowed:
[code]

External file references and remote URL references are not allowed:
[code]

[2021-01-27 05:54] stevehu commented on #370
Currently, remote reference is automatically resolved before the validators are applied. If you want to avoid remote references in the schema when using OpenAPI specification, the [openapi-bundler](https://github.com/networknt/openapi-bundler) might help. The same concept can be used for pure schemas with a slight adjustment. May I know your use case a little better? Do you just want to avoid remo

[2021-01-27 18:44] hhkkxxx133 commented on #370
Yes, we just want to avoid any remote reference in the JSONSchema. Only internal reference is allowed.
We have network restricted use case so that when we validate the JSONSchema we don't want to retrieve from the web.

[2021-01-28 00:36] stevehu commented on #370
I don't think it is a good idea to just ignore the remote references as the JSON schema validation will fail at runtime. You should focus on resolving the remote references before invoking the schema validator.

[2021-01-29 19:13] mohitpali opened #371 "Is there a way I can get a dereferenced/resolved schema using this library"
Do we have a way we can get a dereferenced schema out of a schema - something like this library (https://github.com/APIDevTools/json-schema-ref-parser)

I looked at walkers but did not fully understand if we have a way to do this

Input :

[code]

Output :
[code]

[2021-01-29 19:13] hhkkxxx133 commented on #370
How do we protect against malicious contents that may retrieved from external references?

[2021-01-29 19:22] stevehu commented on #370
You need to convert the external reference to internal.

[2021-01-29 19:24] stevehu commented on #371
Is there any reason you want to do that?

[2021-01-29 19:49] Krishna-capone commented on #366
@stevehu Thanks for all your suggestions and help. I have created a PR for the fix. Please review the changes. I have added separate test cases for failfast and failslow scenarios as you had suggested.

[2021-01-29 20:38] mohitpali commented on #371
Yeah, we have a requirements to resolve/dereference schemas in order to check if two schemas are the same/similar or not.

[2021-01-29 21:05] hhkkxxx133 commented on #370
In our case, the schemas are sent by a third party, we would not want to rely on open internet, and hence were checking if there is a way we could restrict or feature flag remote schema resolutions.

[2021-01-29 21:16] treywashington opened #373 "Support for JSON Meta-schemas"
I was wondering what everyone's thoughts are here for the validator supporting JSON String meta-schemas.

As an example input, I'll use [one provided by the specification site](https://json-schema.org/draft/2019-09/schema) :

[code]

Are we required to convert json meta-schema into a JsonMetaSchema object for the validator? Are there any plans to support using json meta-schema inputs such as the o

[2021-01-29 21:17] treywashington commented on #373
cc: @alfredqy

[2021-01-30 03:06] stevehu commented on #370
OK. I understand your use case now. There are several options that I can think of.

1. Make sure that your server doesn't have access to the Internet, so all remote references will fail.
2. Add a pre-processor to handle the remote references to return an error to the client who provides the schema.
3. Update this library to return a validation error if one remote reference is encountered. Of cause

[2021-01-30 22:47] stevehu commented on #373
I think it is supported already. A lot of users are using meta schemas to validate their JSON schemas before using them to verify JSON objects.

[2021-01-30 22:51] stevehu commented on #371
The internal structure will have all references resolved in the refValidator as I remember. However, there is no method that you can compare it with another schema. If you want you can debug into it and see if you could create two schemas and add a new method to compare between them.

[2021-01-31 05:29] prashanthjos commented on #371
@mohitpali we do this and we use walkers to do this. You just need to add a “keyword” Walker on $ref and replace the $ref with the actual definition  inside the walk method. Please look at the walker documentation.

[2021-02-01 19:09] mohitpali commented on #371
Alright, thanks, I am looking into the walker documentation. Would you have some sample example code that you could share ?

[2021-02-01 19:25] hhkkxxx133 commented on #370
The 3rd option looks good. How do you recommend to proceed?

[2021-02-02 01:48] mweber03 commented on #335
I think I just saw this error in my code too. I'm using 1.0.47.

[2021-02-02 02:02] stevehu commented on #370
add a config flag in this class and make the change based on the flag.

https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/SchemaValidatorsConfig.java

[2021-02-02 14:43] prashanthjos commented on #371
Hi @mohitpali please refer to the following testcase.

https://github.com/networknt/json-schema-validator/blob/master/src/test/java/com/networknt/schema/JsonWalkTest.java

[2021-02-02 22:38] mweber03 commented on #335
I think it might be a concurrency issue. Can those maps become `ConcurrentMap`?

[2021-02-04 08:22] #359 closed

[2021-02-04 09:48] LeifRilbeATG commented on #326
@stevehu Please review related PR.

[2021-02-04 14:26] Krishna-capone commented on #369
@nggoenka This is the issue referenced and fixed in #366 . The fix has been merged and it should be available in the latest release. Thanks

[2021-02-05 10:06] nggoenka commented on #369
I am getting below error while creating PR.
remote: Permission to networknt/json-schema-validator.git denied to nggoenka.
fatal: unable to access 'https://github.com/networknt/json-schema-validator.git/': The requested URL returned error: 403

[2021-02-05 13:46] stevehu commented on #369
@nggoenka We have two-factor authentication enabled so HTTPS might not work. Try to switch to SSH when you clone the project if you have the write permission. If you fork the project, I don't know what is going on. It might be Github unavailable at the moment.

[2021-02-09 07:08] nggoenka commented on #369
@Krishna-capone after new release.....Please find below expected error:
`$.identifier[0].use1: is not defined in the schema and the schema does not allow additional properties,`
instaed of it, I am getting below error:
`[$.gender: is not defined in the schema and the schema does not allow additional properties, $.active: is not defined in the schema and the schema does not allow additional propert

[2021-02-09 07:09] nggoenka commented on #369
Please find sample code to test here: https://github.com/nggoenka/FhirValidationExample/pull/1

[2021-02-09 15:13] Krishna-capone commented on #369
@nggoenka , My fix is for Oneof Validator. In your schema i did not find any one of validation configured. So the error is not related to one of validation.

[2021-02-12 09:55] Eivyses opened #375 "propertyNames not returning values used for validation"
Hey, I found an small bug with `propertyNames`. They do not return actual value used for validation. Example:
schema:
[code]

json:
[code]

Expected error:
[code]

Actual error:
[code]

Same applies to `pattern` and `minLength`.

Solution would be  to add second argument to error formatting:
https://github.com/networknt/json-schema-validator/blob/ff0a6fd22a8986e6343f0577d23569cac0414b61/src/main/j

[2021-02-12 16:15] stevehu commented on #375
@Eivyses Thanks a lot for pointing this out and providing the solution. Would you be able to submit a PR to get it fixed? I would rather see the credit goes to the real contributor. Thanks.

[2021-02-12 17:22] Eivyses commented on #375
@stevehu Thanks for quick reply, here's the PR: #376

[2021-02-17 06:40] mweber03 commented on #335
Made a pull request with a fix: https://github.com/networknt/json-schema-validator/pull/377

[2021-02-17 13:27] #375 closed

[2021-02-17 13:27] #373 closed

[2021-02-17 13:27] #371 closed

[2021-02-24 19:47] hkupty commented on #344
I'm willing to take a stab at this, if that's ok. I believe there are three possible types of coercions:
* Widening: Taking a narrow type (like Integer) and making it fit in a wider type (like Number). I guess this one already happens implicitly
* Narrowing: Taking a wider type (like Number) and making it fit in a narrow type (like Integer). That can either be lossless (`1.0` -> `1`) or lossy (`1.

[2021-02-24 22:09] stevehu commented on #344
@Navgeet Could you please review the change?

[2021-02-25 15:19] Navgeet commented on #344
Hi, we never ended up picking coercion at my workplace, so I didn't get around to implementing this. That said, my original vision was not only to implement common and sensible types of coercions, but also to allow the user to implement their own coercers.

For eg, ajv only provides type coercions, but at my work we wanted to "fix" bad enum values too. So if a field is defined as an enum with `Foo

[2021-02-26 07:25] hkupty commented on #344
I think that makes sense in general. I tried to take an approach that doesn't diverge from the current implementation much - that's why I went with the simple config + if case. I don't know how the library is managed and what are the future plans, but I suspect such change would be better suited for a 2.x kind of change since it would end up touching existing code much more than this one.

[2021-03-02 19:42] stevehu opened #380 "add support to spec 2020-12"
https://json-schema.org/specification-links.html#2020-12

[2021-03-04 12:41] LiuKay opened #381 "How can I use JsonSchemaWalkListener walk into "allOf" or "oneOf" conditional branch?"
Hi,

I  want to use the JsonSchemaWalkListener to collect some information about JsonNode but got some problem, please have a look, Thank you.

My test code:

JsonSchemaWalkListener:
[code]
And the usage:
[code]
**Json Schema:**
[code]
And input data:
[code]

**Output:**
[code]

From the output, there is no walk result in $.dims[0].length or $.dims[0].name, but when I remove the "Oneof" condition,

[2021-03-04 13:58] stevehu commented on #381
@LiuKay As AllOf, OneOf and AnyOf are very complicated, I am not surprised to have some edge case issues. @prashanthjos is the king of walk listener and I hope he has a solution already.

[2021-03-13 09:31] danic opened #382 "if-then-else condition evaluates to true when property undefined"
Hi,

I don't think `if-then-else` in combination with `allOf` is working as intended when the property specified in the condition is undefined. All conditions seem to evaluate to `true` and every single `then` block is executed. For instance using the example here: https://json-schema.org/understanding-json-schema/reference/conditionals.html
[code]
the following `Json` is successfully validated as

[2021-03-13 20:01] JonasProgrammer opened #383 "Nested oneOf gives incorrect validation error under very specific circumstances"
Hi,

first of all thank you for the effort to provide a Jackson-compatible JSONSchema validator.

I have recently encountered an error where both IntelliJ's integrated JSONSchema validator and an online validator accept a given input, but `json-schema-validator` rejects it.
The issue is related to state handling within `OneOfValidator`, but I was only able to trigger it by reducing my specific inp

[2021-03-14 13:49] stevehu commented on #382
@danic Thanks a lot for raising the issue. This is a defect when combining if-then with allOf as they work within a different context as a standalone validator. Have you debugged into it and figured out the root cause?

[2021-03-14 19:31] danic commented on #382
Root cause seems to be in `com.networknt.schema.PropertiesValidator#validate` where in this case `propertyNode` is `null` and the code will return an empty list of error messages. This is interpreted further up the stack in `com.networknt.schema.IfValidator#validate` as a success. Adding an else in `com.networknt.schema.PropertiesValidator#validate` to return an error when `propertyNode` is `null`

[2021-03-15 16:26] JonasProgrammer commented on #383
Fixed in #384

[2021-03-15 16:26] #383 closed

[2021-03-16 18:37] 0xShamil opened #386 "if-then does not respect enum values"
Hi.

The `if-then` construct with the combination of `allOf` does not respect the `enum`s defined in the property value. The properties value as provided in the `if` construct is alone considered valid.

[Considering the example from the conditionals page](https://json-schema.org/understanding-json-schema/reference/conditionals.html):
[code]

The `JsonSchema` is constructed as follows:

[code]

If

[2021-03-17 12:45] stevehu opened #387 "resolve the test case errors for TypeFactoryTest"

[2021-03-17 12:48] #387 closed

[2021-03-18 14:00] stevehu commented on #386
@0xShamil Thanks a lot for raising the issue with details. I will take a look at it once I have some free cycles.

[2021-03-19 06:35] #381 closed

[2021-03-23 13:18] FWiesner opened #389 "ECMA-262 regular expressions on GraalVM"
GraalVM has the polyglot module with built-in support for JavaScript and its regular expression syntax. Would be great if it became another option for regex validation

[2021-03-24 01:07] stevehu commented on #389
@FWiesner We have an implementation here with configuration to enable if necessary. Most users are still using the JDK regex these days.

https://github.com/networknt/json-schema-validator/pull/272

[2021-03-30 02:49] LiuKay commented on #386
if set the failFast=false , (`config.setFailFast(false)`), this case will pass. The fail-fast mechanism would not wait for the "if /properties/const" condition to walk over.

[2021-03-30 12:24] Keymaster65 opened #392 "NPE due to concurrency bug"
In high load tests, we sometimes get this bug:
java.lang.NullPointerException: null
at com.networknt.schema.JsonSchemaRef.validate(JsonSchemaRef.java:49)
at com.networknt.schema.RefValidator.validate(RefValidator.java:138)
at com.networknt.schema.JsonSchema.validate(JsonSchema.java:224)
at com.networknt.schema.AllOfValidator.validate(AllOfValidator.java:44)
at com.networknt.schema.JsonSchema.valid

[2021-03-30 12:25] Keymaster65 commented on #392
I'll try to add a PR.

[2021-03-30 12:54] stevehu commented on #392
@Keymaster65 We have another issue opened that is concurrency related. I don't know if they are the same root cause. The NPE is thrown from two different locations. Just for your reference.

https://github.com/networknt/json-schema-validator/issues/335

[2021-03-30 13:17] Keymaster65 commented on #392
I think #335 is another bug.

[2021-03-30 13:32] stevehu commented on #392
Thanks for the confirmation. I assume it is a different defect as the NPE is thrown from two different locations.

[2021-03-30 15:38] #35 closed

[2021-03-30 15:39] stevehu commented on #35
closed with most features implemented.

[2021-04-07 14:12] LiuKay opened #395 "Custom CollectorContext can not work after a normal schema validation"
Hi guys,

I notice that the method `validate(JsonNode jsonNode, JsonNode rootNode, String at)` in class JsonSchema has the code below:
[code]

the method `setValidatorState(false, true)` set a ValidatorState  into threadLocal,but I didn't see anywhere to remove it from the validate method stack:
[code]

My use case will use different JSON schemas to validate data, but after doing the normal schema

[2021-04-08 07:27] LiuKay commented on #395
Here is Test Case:

[code]

Test Schema JSON: Issue395-v7.json
[code]

[2021-04-08 15:43] prashanthjos commented on #395
Hi @LiuKay, the idea is to allow the developer to manage the` CollectorContext `(or data in a `CollectorContext`) in the `ThreadInfo` ( which resides in a Java thread's `ThreadLocal` ) . For example in a scenario when we call the `validateAndCollect` method multiple times in the same thread, we want the developer to have the context he has been using through out the thread in each of these calls t

[2021-04-08 23:53] stevehu commented on #395
In most use cases, I don't think it is a problem to not remove the context from the ThreadLocal. Also, I don't know where is the best location to remove the context. Do you guys have a better idea to reset the CollectionContext automatically? If not, @prashanthjos's solution would be the only option.

[2021-04-11 11:11] JonasProgrammer opened #396 "Properly support propertyNames"
The current implementation of `propertyNames` is completely separate from the remaining validation code, implementing special cases for stuff like `minLength`.

According to [the spec](https://json-schema.org/understanding-json-schema/reference/object.html#property-names), however, `propertyNames` should be treated like a normal json schema being applied to a text node of the property value.

This

[2021-04-12 03:01] #342 closed

[2021-04-12 03:01] #396 closed

[2021-04-12 12:43] FWiesner opened #398 "Two issues with OpenAPI 3 discriminators"
two issues we've uncovered while integrating the new discriminator feature into our solution.

1. referencing a schema with a discriminator, but without `anyOf` referencing it will lead to an `EmptyStackException`
2. not having found a matching candidate via the discriminator is not reliably reported.

I'll fix there two issues in the coming days

[2021-04-13 06:03] FWiesner commented on #398
solved in #399

[2021-04-13 06:03] #398 closed

[2021-04-14 09:25] hisener commented on #314
@stevehu Sorry for the delay. I created https://github.com/networknt/json-schema-validator/pull/400 to provide a failing test. Let me know what you think.

[2021-04-15 03:08] #314 closed

[2021-04-17 13:16] chuwy opened #401 "Documenting ValidationMessage.path format"
Hello there!

This is both a question and a proposal (although duplicate of https://github.com/networknt/json-schema-validator/issues/58).

I'm assuming `json-schema-validator` would not produce `ValidationMessage`s with `path` properties following the most exotic JSONPath features such as `$..book[-1:]`, `$..book[?(@.price<10)]` etc. In my experience the library provides the most basic pointers l

[2021-04-19 18:22] stevehu commented on #401
@chuwy The JSON schema spec team seems to be moving to the JSONPointer these days and it gave a lot of headache for the implementation teams. Personally, I would prefer the JsonPath syntax but wondering if we should follow the direction from the spec team.

https://json-schema.org/draft/2019-09/relative-json-pointer.html

[2021-04-21 11:12] chuwy commented on #401
Yup, that's one more point. Basically, I see pros as:

* Being more standard-compliant
* Using more wide-spread format (subjectively)
* Being able to reason about format as it's much simpler

The only con I see is that it's less powerful, but again I don't think anyone ever needs the query power of JSONPath in validator.

Also, do you mind confirm my hypothesis that json-schema-validator only prod

[2021-04-21 15:31] stevehu commented on #401
Yes. I can confirm that we only use simple paths. There are several issues opened trying to address the issue that context is not very clear in the path when nested schemas are used.

[2021-05-02 05:25] stevespringett opened #402 "Support for IRI and IRI Reference"
I need to be able to validate iri and iri-reference. It doesn't look like the library supports it currently.

This ticket is to request support for iri and iri-reference.

In the meantime, is there a workaround to add support for it myself?

[2021-05-02 17:20] stevehu commented on #402
@stevespringett As I understand, there are two steps to support the iri and iri-reference. The first step is two support the format and the second is to support the reference and loading etc.

The second part is not finalized yet per this opened [issue](https://github.com/json-schema-org/json-schema-spec/issues/59)

To support the format, it is much easier and the only class that you might need to

[2021-05-02 22:34] stevespringett commented on #402
Hi @stevehu. Yes, I'm primarily interested in supporting format in order to properly validate. I didn't see an easy way to provide my own format (or add to existing formats) without forking the project and making the changes locally. I need to avoid modified forks. Any guidance on how this can be achieved without modifying the library?

[2021-05-21 03:15] hhkkxxx133 opened #404 "Validation Bug?"
When trying to validate the following data against the schema, we are seeing no validation errors. However, "bar" should be an object as defined. Therefore, validation should fail even though this is self-contradictory schema. Let me know what do you think.

schema:
[code]
data:
[code]

[2021-05-21 15:27] #404 closed

[2021-05-21 15:31] stevehu commented on #404
@hhkkxxx133 I have added your test case to the master branch and debug into it myself. I don't see any problem myself. The type validator is triggered and passed as both the schema and the data is an object. In my opinion, the schema definition is a little conflict between the type and the enum values. May I know what you are expecting?

[2021-05-26 20:00] kohan14 opened #405 "Cannot resolve local reference $ref."
Hi,
I'm having problems when dealing with local references from other folders.
My folder structure:
├── resources
│           ├── Schema1.json
│           ├── TestFolder
  │           │             ├── Schema2.json

I want to use Schema2 and access its $ref pointing to Schema1, behind one directory.

Schema2.json
`	"properties": {
		"Dokument": {
			"$ref": "../Schema1.json#/definitions/Dokument"

[2021-05-26 20:07] jorcasso opened #406 "Behavior change of $ref resolution"
In our system we support some well known URNs that our clients can use in their schema definitions, using the `$ref` keyword, for example:

[code]

We use a custom `URNFactory` and works great.

But we have observed the way of the URN resolution has changed as of release `1.0.49`. Previously, if a schema contained an unknown URN the call to `JsonSchemaFactory.getSchema(...)` failed with a `JsonSch

[2021-05-26 21:25] stevehu commented on #405
The local reference is not supported by the official specification because only the URL is supported. We have special handling to support the local reference but it only supports the local filesystem not the files from the resources. Frankly, I never tested the resources folder myself. If you want to get it supported, please create a test case and debug it to see where is the issue. I am sure it s

[2021-05-26 21:33] stevehu commented on #406
@jorcasso This is a dilemma we are facing. The #377 fixed a defect for parallel processing with lazy loading. The only option I can think of is to create a configuration flag. By default, it should be lazy loading; however, with the parallel processing flag is false, we can eagerly load the schemas. I didn't read the code but I am guessing we can also fix the loading with the synchronous keyword.

[2021-05-27 07:00] flozano commented on #406
IMHO having a flag for keeping previous behaviour would be enough. Eventually if someone can figure out a better fix for initialize() that allows parallelization, that would be better, but a flag seems immediately easier?

[2021-05-27 21:24] stevehu commented on #406
@flozano I agree with you. Option 1 would be much simpler to implement.

[2021-06-12 06:07] bpanigrahi opened #407 "Need support for case insensetive lookup"
I have a project need to lookup for specific skills without considering case insensetive.  There are around 10 values

For ex: itSkill, itskill, ITSKILL as value for my use case.

I am unable to use `enum` or `oneOf`. Can you please suggest what is the best way to achieve my requirement.

[2021-06-13 14:05] stevehu commented on #407
@bpanigrahi I don't know which validator you are talking about. Could you please provide a schema and a JSON data string to explain what is your requirement? Thanks.

[2021-06-15 16:02] vmaurin opened #408 "uri format regexp is validating invalid URI"
The regexp used by the "uri" format validation doesn't really validate that the string is a proper URI, i.e there is a chance passing a validated string to the java URI class will result into an exception

An example invalid URI that passes the validation is `https://gitlab.com/?args=invalid|value`

Should the regexp be more complex ? Should the validation be made with the java URI class (then cat

[2021-06-15 16:03] vmaurin commented on #408
The regexp in question is this one https://github.com/networknt/json-schema-validator/blob/72fe835006931dc6b7b71f61c92ce48d5635b782/src/main/java/com/networknt/schema/JsonMetaSchema.java#L50

[2021-06-16 12:19] stevehu commented on #408
@vmaurin The regexp definitely has room to improve. The reason I didn't use the Java URI class to verify the URL is due to performance. Most users are using this library to validate the HTTP request and it needs to be as fast as possible. I would suggest improving the regexp to make it cover more validation scenarios. The other option is to provide both options but default to regexp and with a con

[2021-06-16 12:27] vmaurin commented on #408
I totally agree with the performance issue on relying on try/catch for validation, and also after a quick research, it sounds that URI java class is not perfect regarding validation either. My personal pick would be as you suggested, to enrich a bit the regexp. There are several example online, with this one as the most complete validation http://jmrware.com/articles/2009/uri_regexp/URI_regex.html

[2021-06-16 14:52] stevehu commented on #408
It looks good to me. Would you like to submit a PR to replace the old one? Thanks.

[2021-06-16 15:35] vmaurin commented on #408
I just did but I ran in an other use case. So far, the protocol relative URL were considered valid, that is not the case anymore with the new regex. According json schema, we should follow the URI rfc, then I guess forbid protocol relative URL, but not sure it is something you desire

[2021-06-16 15:50] stevehu commented on #408
What is the protocol-relative URL? Could you please provide an example? Thanks. We want to make sure it is backward compatible if possible. Otherwise, some users will have a broken application after upgrade the library.

[2021-06-16 19:58] vmaurin commented on #408
It is actually a breaking change, see in my PR here https://github.com/networknt/json-schema-validator/pull/409/files#diff-cd18df339efd8831f215e37b5248aeb7dede17bac8013db8830dee30cd59b593L200 . The value asserted "valid" is not actually a valid URI, so there are two options :
* breaking backward compatibility but being more respectful of the json schema specs
* keeping backward compatibility but v

[2021-06-18 09:53] vmaurin commented on #408
@stevehu I am waiting on your call. Any more restrictive regexp won't be backward compatible by design, it will invalidate value that were considered valid before. Either you want the library to become stricter along time, ensuring good validation but no backward compatibility regarding validation, or you want to keep the library as lax as today, but give options to be more strict if needed. Depen

[2021-06-18 13:28] stevehu commented on #408
We want to maintain backward compatibility; however, we cannot stop enhancing the library. Please submit a PR with your updated regexp. Thanks.

[2021-06-18 13:29] vmaurin commented on #408
Ok so the PR is open here https://github.com/networknt/json-schema-validator/pull/409

[2021-06-18 16:18] FWiesner commented on #406
Is somebody actively working on this? It is affecting us as well and I could take a look into the implementation if nobody already has done work

[2021-06-18 20:27] flozano commented on #406
We planned to, but haven't started working on this yet because of bandwidth constrains, sorry... reverted to older version for now instead

[2021-06-21 21:34] #406 closed

[2021-06-22 17:44] stevehu commented on #335
This has final completed with support for both lazy loading and eager loading depending on the use cases. The last piece is done in #406 to allow users to explicitly initialize all validators with a method call.

[2021-06-22 17:44] #335 closed

[2021-06-22 17:44] #408 closed

[2021-06-22 17:45] #405 closed

[2021-06-22 17:45] #407 closed

[2021-06-22 17:45] #392 closed

[2021-06-23 08:44] FWiesner opened #411 "With #409 http://json-schema.org/draft-07/schema# is not accepted as valid schema anymore"
[code]
now leads to

[code]

[2021-06-23 08:47] FWiesner commented on #411
@vmaurin could you please have a look?

[2021-06-23 08:51] vmaurin commented on #411
Sure. When did you get the issue ? I run my own test with json schema 7 and I didn't got the problem. Could you provide a java code snippet leading to this error ?

[2021-06-23 08:55] FWiesner commented on #411
load the JSON Schema Draft 7 meta schema from json-schema.org and then validate itself against it

[2021-06-23 08:57] vmaurin commented on #411
Ok according to the RFC, empty fragment is allowed https://datatracker.ietf.org/doc/html/rfc3986/#appendix-A , the regexp I used is bugged in this regard. I will open a PR for the fix

[2021-06-23 08:57] FWiesner commented on #411
thanks!

[2021-06-23 09:08] vmaurin commented on #411
Empty query string also might be allowed, I will try too

[2021-06-23 09:46] vmaurin commented on #411
@FWiesner The PR I have opened should fix the issue (and also probable one with empty query string). Could you test with it ?

[2021-06-23 12:37] stevehu commented on #411
@vmaurin @FWiesner Thanks a lot for your effort. I have merged the PR. Once you guys confirm it is working I will release another version.

[2021-06-23 12:41] FWiesner commented on #411
@stevehu @vmaurin we currently test it

[2021-06-23 13:46] FWiesner commented on #411
@stevehu please release - it is working now

[2021-06-23 14:53] vmaurin commented on #411
@FWiesner it has been released here https://github.com/networknt/json-schema-validator/releases/tag/1.0.55

[2021-06-23 15:53] #411 closed

[2021-06-24 16:15] vmaurin opened #413 "Stackoverflow on format `uri` validation"
I ran into an other problem with the regex I commit for URI validation. It is using a lot of `|` that are quite intensive regarding the text evaluation. As java Pattern class seems implemented with recursion, it can quickly fill the stack and one might run into Stackoverflow errors while evaluating an URI relatively large (thousand of chars)

@stevehu @FWiesner You are probably interested on this

[2021-06-25 03:55] stevehu commented on #413
@vmaurin Thanks for the findings. This is the way we make the library more useful for all users. Iterative refinement is the key to make this library grow.

[2021-06-25 09:09] vmaurin commented on #413
@stevehu I have opened the PR, I have left as comment the process of though to rework the regexp, not sure if it is useful, let me know on the PR

[2021-06-27 14:42] MarinaRappoport opened #415 "When typeLoose set to true, validation convert integers/string to array"
According to documentation typeLoose is used to allow sending string as integers/numbers ("When typeLoose is true, the validator will convert strings to different types to match the type defined in the schema"), but in fact it effects other types validation - not only number/integers.
In my example the schema has array of integers and array of objects:
[code]

The following json pass validation (w

[2021-06-28 07:15] MarinaRappoport commented on #194
`isTypeLoose` also converts string/integers/objects to array, that seems not to be correct according to documentation. I opened another issue for that:
https://github.com/networknt/json-schema-validator/issues/415

[2021-06-29 10:42] ruseinov commented on #413
https://github.com/jonckvanderkogel/java-tail-recursion may be of use

[2021-06-29 17:02] stevehu commented on #413
@ruseinov Thanks for the link. Interesting example.

[2021-06-29 17:03] stevehu commented on #415
@MarinaRappoport Thanks for raising a separate issue. Will take a look at this once we have free cycles.

[2021-07-01 16:06] FWiesner opened #416 "Circular $ref occurrences with schema.initializeValidators() lead to StackOverflowError"

[2021-07-01 16:41] #416 closed

[2021-07-02 13:41] vmaurin commented on #413
Fixed in https://github.com/networknt/json-schema-validator/releases/tag/1.0.56

[2021-07-02 13:41] #413 closed

[2021-07-03 14:26] kuldeeparora89 opened #419 "findJsonNode not working if validationmessage path is "$""
If validation message is at the root, then findJsonNode implementation as per [link](https://github.com/networknt/json-schema-validator/blob/master/doc/yaml-line-numbers.md#scenario-2---validationmessage-line-locations) returning below error  :

[code]

Should we add this special condition check to the first line? Sample -

[code]

[2021-07-05 06:54] StepanOrt opened #420 "Unable to walk schema with circular references"
It's not possible to walk schema that contains circular reference, regardless the JSON being walked through. Walking produces `java.lang.StackOverflowError`.

**Affected version: 1.0.55**
**openjdk: 11.0.10**

#### Example schema:
[code]

#### Code to reproduce:
[code]

[2021-07-05 12:20] prashanthjos commented on #420
Hi @StepanOrt  since you have a circular references schema walk will be going through recursive calls over same schema and your schema walk will result in an infinite recursion, you need to have an exit condition in your listener. I would be able to help more if you can tell me the use-case you are trying to achieve with the listeners.

[2021-07-05 13:36] StepanOrt commented on #420
Hi @prashanthjos, but I'm validating against JSON. Why the walk goes into the nodes which are not even defined in the JSON?

[2021-07-05 14:21] stevehu commented on #420
@StepanOrt Walk feature is an extension of the validation and it is not enabled by default. Have you explicitly add listeners to the config?

[2021-07-05 14:33] prashanthjos commented on #420
Also in `schema.walk(jsonNode, false)` you have passed shouldValidateSchema flag as false. So no validation happens and there will be only walk. Please note that when you have circular references and you plan to walk a schema, add atleast one walk-listener and an exit criteria in that listener, otherwise the code ends-up walking the schema over and over until there is a stackoverflow error.

[2021-07-05 14:51] prashanthjos commented on #419
There are two specifications for accessing values in a JSON document. Schema Path in networknt closely resembles JSON Pointer spec notation (networknt schema path starts with a "#") and JSON node path resembles JSON Path notation (networknt node path starts with a "$"). Not sure why this was done. But in short you can use "$" to get the root node. @stevehu can give more context here.

[2021-07-05 15:04] ubergrohman opened #421 "Wrong validation of MultipleOfValidator"
When using json schema with multipleOf restriction
[code]
and large value (for example "amount"=999999999.12345678) MultipleOfValidator uses node.doubleValue() for getting node value and looses precision. Jackson DeserializationFeature flag USE_BIG_DECIMAL_FOR_FLOATS set to **true**.
Expected error is **"amount: must be multiple of 1.0E-7"**

[2021-07-05 15:33] ubergrohman commented on #421
Way to fix
com.networknt.schema.MultipleOfValidator.validate
[code]

[2021-07-05 17:02] StepanOrt commented on #420
@stevehu, @prashanthjos OK, I've investigated it a bit and I understand that `jsonNode` parameter is treated only as "secondary" parameter and even when it's null whole schema is going to be walked (and in case of circular reference the stack overflows).

I must say that I find it a bit misleading, because I expected that the schema is going be walked in alignment with JSON and if the node is not

[2021-07-05 17:02] #420 closed

[2021-07-05 18:47] prashanthjos commented on #420
@StepanOrt thank you for bringing this up, this was helpful. I will modify the java doc accordingly in the next minor release of this library. Any contributions and suggestions are really appreciated.

[2021-07-06 02:20] stevehu commented on #421
@ubergrohman It makes sense to convert to BigDecimal to do the calculation. Could you please submit a PR with your fix? Github gives credit where credit is due :)

[2021-07-06 03:18] stevehu commented on #419
When we first start the library, both JSON Path and JSON Pointer were not available. That is why I have used a specific notation for the path. I remember it was inspired by one of the popular Javascript libraries at the time. In hindsight, we should adopt JSON Pointer as it is recommended by the specification team.

[2021-07-06 07:01] ubergrohman commented on #421
@stevehu Please review https://github.com/networknt/json-schema-validator/pull/422.

[2021-07-06 12:24] #421 closed

[2021-07-06 23:19] stevehu commented on #402
To support the format, we can just add the template for the iri and iri-reference to the library with a PR. This validation should be standard for all users and there is no need to fork and customize.

[2021-07-09 07:08] flozano commented on #335
We are having trouble with `$ref` and latest implementation with initializeValidators:
[code]
will try to set up a reproducing test later.

[2021-07-09 07:46] flozano opened #423 "make sure additionalPropertiesSchema is not null in AdditionalPropertiesValidator"
in `AdditionalPropertiesValidator`:

[code]

but the constructor sets it to null in some code paths:

[code]

[2021-07-09 16:11] Johnlon commented on #276
Any PR?

[2021-07-09 17:57] rongyj opened #425 "Cannot distinguish the "TextNode" and the "ArrayNode" with single value for oneOf"
When schema has "oneOf" as below:
[code]
When input test data is :
[code]
It has a validation error:
[code]
when input data is :
[code]
It is fine.

[2021-07-19 12:39] andreasevers opened #426 "Adding custom ValidatorTypeCodes"
Hi,

We're very happy users of your library and would like to thank you for the brilliant work you've done.

One thing we'd like to do is to add our own custom enum values in the `ValidatorTypeCode` enum, so that we can override the existing error messages.
I've noticed `BaseJsonValidator`'s [`parseErrorCode`](https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/network

[2021-07-19 18:14] stevehu commented on #426
To customize the validator is a little bit harder as we don't want to introduce dependency injection. We want to make this library a green library so that our users can use it without worrying about dependency conflicts. To customize the error message is a little bit easier. Take a look at the following class and see if it meets your requirement.

https://github.com/networknt/json-schema-validator

[2021-07-19 20:39] andreasevers commented on #426
Did you mean the `ItemsValidator` or the `ValidatorTypeCode` itself?

Maybe I didn't understand what you meant.
What I'm interested in doing is to change the default messages in the enum constants, e.g:
In the max-length enum constant
[code]
I'd like to change the messageFormat `new MessageFormat("{0}: may only be {1} characters long")`.

How would that be done exactly?

[2021-07-26 09:43] adityaLath18 commented on #426
I think you have to download the Source project and then change the Format in the Enum class, recompile it and then use it.

[2021-07-26 11:22] stevehu commented on #426
@andreasevers Sorry I missed your message. @adityaLath18 has the right answer at least for now. In a long term, we can externalize the error messages to a properties file as a resource; however, you still need to update, compile, package yourself.

[2021-07-26 13:08] adityaLath18 commented on #426
Hi @andreasevers, Thanks for this library.

One question, Can we add one more field in ValidationMessage class i.e. fieldName, If we will get a proper fieldName then we can customize the message at our end.
I tried to use the path field but I am getting $ for the root field and in that case, I have to split the message and then extract the field. Although its ok but a dedicated field for fieldName

[2021-07-27 19:28] andreasevers commented on #426
Just FYI @adityaLath18 I'm not the author of this library, kudos go to @stevehu

[2021-07-28 05:00] adityaLath18 commented on #426
Yes sorry, I was about to mention @stevehu  but accidentally I did a mistake which I realized just by your comment. Thanks for informing

[2021-07-28 16:27] stevehu commented on #426
@adityaLath18 I think we can add a fieldName to the ValidationMessage. As you said, the path might not be enough to indicate which exact field triggers the error. Would you be able to try it out and submit a PR for this?

This is a project build by the community and I just take part of the responsibility to manage it.

[2021-07-29 05:35] adityaLath18 commented on #426
@stevehu  Surely, I will try. Although I have not done this before please bear me for the first time. The open-source contribution journey starts.

[2021-08-04 12:01] mtwalli opened #427 "Unknown MetaSchema: https://json-schema.org/draft/2020-12/schema"
I'm getting the following exception
[code]

while validating this  [schema](https://github.com/ehn-dcc-development/ehn-dcc-schema/blob/release/1.0.1/DGC.combined-schema.json)

Could you please support newer versions ? or how can I fix it ?

[2021-08-04 15:08] stevehu commented on #427
2020-12 is not supported at the moment. I would be happy if someone can submit a PR to add it. Just search 2019-09 to copy the implementation I guess.

[2021-08-04 18:17] rongyj opened #428 "A schema with nullable oneOf does not work as expect"
If the schema is as below:
[code]
with input data as below:
[code]
Will get error message:
[code]

Expect this should be valid input.

[2021-08-04 18:36] stevehu commented on #428
Could you please create a test case and submit a PR?

[2021-08-04 21:14] stevehu commented on #428
Once you have a test case, you can debug it and see why the result is not what you are expected.

[2021-08-11 18:29] rongyj commented on #428
Here is the PR  https://github.com/networknt/json-schema-validator/pull/431 with fixes. Please let me know if you have any questions. Thank you.

[2021-08-11 22:13] rongyj commented on #425
Create a PR https://github.com/networknt/json-schema-validator/pull/432 which include the fixes for issue428 too.

[2021-08-12 06:49] piyush-goel996 opened #433 "How to validate Property in Schema containing Custom Validator only"
Hello @stevehu ,
Can you have a look at this please?

Below is the keyword that is given in the documentation of the custom validator.
You can use GroovyKeyword like below:
{
  "type": "object",
  "properties": {
    "**someProperty**": {
      "type": "string",
      "**groovy**": "SomeScript.groovy"
    },
   "someOtherProperty": {
   }
  }
}
Is there any way to validate only **someProperty** ag

[2021-08-13 11:57] SimonRBG opened #434 "How to resolve/validate external references?"
Hello,

First of all, thanks for your really nice library it really eases the data validation!

It's been a couple of days I try to find an answer through the documentation and the different issues but I keep struggling for validating/resolving external references.
Let's say I have the following json (we will call **JsonSample**) I want to resolve :
`{
    "$schema": "http://json-schema.org/draft-

[2021-08-16 07:55] YiuTerran commented on #426
We need custom msg tips for i18n.

This lib should consider opening a register for code and msg templates.

[2021-08-16 12:24] stevehu commented on #426
@YiuTerran I agree with you. This library is a tiny component of light-4j and i18n support wasn't in the consideration before as most users will translate the error message to something meaningful within their APIs or SPA or Mobile. At this moment, more and more users are using this library standalone or integrate with their APP and it is a good opportunity to enhance the library to add the messag

[2021-08-18 12:40] FWiesner opened #436 "Relaxation of the discriminator validation"
OpenAPI 3 requires that the field used for discrimination must be mandatory. While this of course is making sense for new APIs, APIs that get migrated step-by-step from Swagger and especially the clients can have a problem with this approach. Therefore the idea is to fall back in case of an absent discriminator value to standard `anyOf` validation.

If the discrimination field is required in the s

[2021-08-18 14:03] FWiesner commented on #436
I don't think a configuration is the right level here as you might want to make the choice on a per schema basis. So the configuration would have to be schema aware, which you cannot really do

[2021-08-18 14:48] stevehu commented on #436
As we have discussed in the forum, I understand the scenario now. I am reviewing the code and will merge and release it soon. Thanks.

[2021-08-20 12:39] adilath18 commented on #426
@stevehu  Please check my pull request, I tried to add a way to add custom message.

https://github.com/networknt/json-schema-validator/pull/438

[2021-08-23 20:32] #428 closed

[2021-08-30 14:20] dustinhiatt-wf opened #441 "Walk Listeners not working for 2019-09 meta schema"
If I take the following simple schema definition:
[code]

And I attempt to load up the 2019 meta schema:
[code]

And I construct a factory as follows:
[code]

Where `jsonSchemaWalkListener` simply gathers up all properties using `getAt`, notice that the walker is not called on all properties of the schema being validator. I do not see this behavior with the previous drafts. I am curious if this ha

[2021-08-30 14:29] dustinhiatt-wf commented on #441
Validation itself is also being impacted. Loading up the 2019 meta schema spec and using it to validate the following payload returns no error messages:
[code]

The first property should return a validation error and using the exact same logic with the same schema but draft-07 will correctly return 2 validation errors.

[2021-09-01 22:27] blacktooth opened #442 "Validation doesn't fail when $id is not a URI"
According to JSON Schema spec (draft 4+-7) `$id` must contain a valid `URI` (can be absolute or relative). When I try to validate the below schema, it seems to passing the validation. The same schema fails with [everit-org](https://github.com/everit-org/json-schema) library.

[code]

[2021-09-02 13:36] dustinhiatt-wf commented on #441
@stevehu stepping through the code, the vocabularies aren't being pulled in before the validators are examining their "sections" to determine what schemas exist to validate. If I take the schema I posted earlier and examine this line:
https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/PropertiesValidator.java#L52

The schemas map has all the entries y

[2021-09-07 14:12] tars400 opened #444 "Date Validation: support for relative minumum/maximum for date/date-time formats"
We need to support relative validation on json-schema for date format.

Is there any existing support where relative validations are supported for 'date' or 'date-time' formats? as the current schema supports only absolute validation with formatMinimum and formatMaximum.

If not, can we support by extending JsonSchemaValidators classes ?

Something like below:
[code]

[2021-09-08 18:08] blacktooth commented on #442
Thanks!

[2021-09-10 14:18] DaNizz97 commented on #433
Yes, it is feasible.
Please, make note, that the property in `properties` section is not equal to `keyword`, which you have to specify in the custom validator. So in your example, the `keyword` should be "properties". In that way, you will replace the default `PropertiesValidator` with your custom, where you are able to select the property to validate.

[2021-09-15 16:59] mohsin-sq opened #446 "maxLength and minLength do not work when a number with a zero decimal is used."
According to the json spec

1.0 and 1 are both considered integers, however the method used in max/minLength validations `isIntegralNumber` does not return true for 1.0. This has caused us some headaches as we are using proto3 to go from json -> proto3 and are running into the issue where when we set  maxLength value to be 2, it get converted to 2.0 and does not get evaluated by the validators: ht

[2021-09-17 23:01] stevehu commented on #446
@mohsin-sq  I agree with you to consider 2.0 as 2 in the maxLength and minLength validators. Would you be able to summit a PR to get it implemented? Thanks.

[2021-09-17 23:04] stevehu commented on #444
@tars400 I am not aware those keywords are supported by the JSON Schema Specification. Do you have any link to the document with those keywords? Thanks.

[2021-09-18 00:20] mohsin-sq commented on #446
I have created a PR: https://github.com/networknt/json-schema-validator/pull/450

[2021-09-20 06:51] mohsin-sq commented on #446
Thanks for merging that @stevehu!

When do you think it'll make it into maven central?

[2021-09-22 07:08] bartoszm opened #451 "walk method for AnyOfValidator not implemented"
com.networknt.schema.AnyOfValidator is not implementing walk method. It could look like com.networknt.schema.AllOfValidator#walk I suppose

[2021-09-24 16:30] ivyxiao123 opened #453 "Is there a way to dynamically update enum value defined in schema?"
Hi,
I'm looking for a solution that can dynamically update the allowed enum value list, is it possible to do that? Or is there a way to generate the entire schema dynamically then use it for validation?

Right now I'm defining the schema in a file then load the file into memory for validation.

Thanks

[2021-09-24 17:09] stevehu commented on #453
@ivyxiao123 I think you can do that. Dynamically create the schema and pass it to the library to do the validation.

[2021-09-26 11:04] 748142366 opened #454 "How to validate subnode?"
Hello,
First of all, thanks for your really nice library it really eases the data validation!
I want to validate subnodes in my schema,but the result is mot my expectation

This my main method
[code]
test.form.schema.json
[code]
test.form.json
[code]
The validate result
![图片](https://user-images.githubusercontent.com/20294166/134804851-2f29705c-9890-4bae-ba7f-2d4c252d6222.png)
the message is "$.da

[2021-09-27 14:21] SimonRBG commented on #434
Hello,

Any update on this? Any help would be appreciated! 😉

Thanks,
Simon

[2021-09-29 16:18] ivyxiao123 commented on #453
Hi @stevehu, so do I just create the schema in inputsteam and pass it into schema factory to generate?

[2021-09-29 17:52] palwe-prafulla opened #455 "Get Schema with $ref resolved"
I am using json schema to define my REST API input payloads and have structured the schemas into multiple common schemas and using $ref accordingly.
These schemas will be used by users to send payloads accordingly.
I have implemented get schema apis so users can retrieve schemas and integrate to send payloads accordingly.
However when I retrieve JsonSchema from validator the schema is returned as

[2021-09-29 23:19] yohanyflores commented on #434
Hello there!!

 I also need this functionality.

 Any way how to do it?

[2021-09-30 16:58] myronmarston opened #456 "`oneOf` considers a document invalid unless it matches the first subschema"
The issue I'm seeing can be observed via this test class (written in kotlin):

[code]

When I run this, all but 2 tests pass.  Here are the failures:

[code]

[code]

As you can see, when the schema uses `anyOf`, then documents matching either of the 2 subschemas are valid.  But when the schema uses `oneOf`, the validator only considers a document that matches the first subschema to be valid.  Whe

[2021-10-01 05:30] sergehuber opened #457 "Compatibility with older Jackson versions ?"
Hi,

I'd love to use the latest and greatest version of this library (which is great btw) but I can't use it with Jackson 2.12.2 because of other dependencies that are pulling older versions of Jackson (Apache CXF). Would it be possible to make the lib compatible with Jackson 2.10.5.1 ?

Best regards,
  Serge...

[2021-10-02 01:23] stevehu commented on #434
@SimonRBG @yohanyflores What you need is to pass in a parameter to retrieve a $ref to do that validation and this is not supported currently as the $ref would be a static URL based on the specification. I do understand your use case and there might be a workaround.

Instead of passing a parameter to retrieve different schemas based on the condition, you can use oneOf in your $ref so that your JSON

[2021-10-02 01:29] stevehu commented on #456
@myronmarston We are running the official tests for the oneOf validator and all tests are passed. I am guessing the problem is due to the wrong schema (I do not see oneOf keyword anywhere) you dynamically constructed. I would suggest you remove all the complicated code here with just one JSON object and one schema for the test case.

[2021-10-02 01:32] stevehu commented on #457
@sergehuber Jackson is kind of a pain for us as there are so many security vulnerabilities for older versions. The library has a transitive dependency on 2.12.2 but you can always overwrite it with your 2.10.5.1 in your project pom.xml file.

[2021-10-02 01:34] stevehu commented on #455
$ref can be resolved automatically always and this is how we use the library to validate requests based on the OpenAPI specification in the light-4j frameworks.

[2021-10-02 01:36] stevehu commented on #454
Your schema is not correct. You have defined an array but forget to define the items.

[2021-10-02 01:37] #423 closed

[2021-10-02 02:12] palwe-prafulla commented on #455
@stevehu Thanks for your reply.
May be I did not explain the use case clearly.
Here is more detailed explanation of the use case.

So I am using JsonSchemaFactory.getSchema() method to get the JsonSchema from inputStream as below:

[code]

Then I am using getSchemaNode() method to get the JsonNode for the JsonSchema and using internal util to convert JsonNode to JsonObject and returning this as RE

[2021-10-02 02:17] myronmarston commented on #456
@stevehu here you go--this has the schema string interopolation removed to simplify it as requested:

[code]

When I run this, `oneOfWithT2DocIsValid` passes and `oneOfWithT3DocIsValid` fails.  But if I update the order of the subschemas under the `oneOf` in the JSON schema, then the tests swap: `oneOfWithT3DocIsValid` passes and `oneOfWithT2DocIsValid` fails.

[2021-10-03 03:05] SiemelNaran opened #458 "Support for default and new function applyDefaultsAndValidate"
Looks like json-schema-validator does not support the "default" keyword.  Is it possible to have a new function applyDefaultsAndValidate that applies the default and validates the schema?

As for tests we may need
1. Test where "foo" of type "int" is required and default is 5, and object to validate has no value for "foo", but validation passes.  Also, the object to validate is changed in place, a

[2021-10-03 13:21] stevehu commented on #458
There are two main functions for this library: Validating and Walking. From a validation perspective, it is following the specification and the test cases were in default.json for each spec version. For walker listeners, I don't know how the default keyword is handled. I am guessing you are talking about the walker enhancement to apply the default values for your JSON input based on the specificat

[2021-10-03 13:24] stevehu commented on #456
This is very strange. The OneOf validator has been changed so many times as there are so many scenarios need to be considered. Have you tried to debug into it to see why the behaviour happens?

[2021-10-03 16:07] myronmarston commented on #456
I spent considerable time debugging a failure in my application with a very large schema to get it pared down to a minimal example I can report here. I have not had time to try debugging your library.

[2021-10-03 18:48] SiemelNaran commented on #458
Yeah, that's correct.  The use case is something like this.  Someone changes the schema to add a new attribute with default value.  Then if you validate an existing json object that does not have this new attribute, it ought to pass.  Furthermore, it would be nice to get an updated json object that has the default values filled in.

The other use case is that you already have json objects that pas

[2021-10-05 07:43] bartoszm commented on #455
What you are trying to achieve, I guess, is called `dereference` by this library https://apitools.dev/json-schema-ref-parser/docs/ref-parser.html#dereferencepath-options-callback. You could use walker to achieve what you want. Below very rudimental example of the approach, but:
* you probably should not change the schema on the fly, but rather use collectors
* there might be some corner cases exam

[2021-10-05 07:48] SimonRBG commented on #434
Hi @stevehu! Thanks for the answer. Indeed my schemas are based on an api so we might go for the second option. Not sure to get exactly what needs to be done but I will have a look into your code when I have some time and will try to get this done (I'm off until November so it won't start before).

[2021-10-05 08:29] bartoszm opened #460 "Bundle /compound schemas support"
Hi, I am starting to play with compound schemas. The concept is formalized [2020-12](https://datatracker.ietf.org/doc/html/draft-bhutton-json-schema-00#section-9.3) but it is also discussed in
[2019-09](https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-02#appendix-B.1).

I have prepared a simple schema based on (https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-02#app

[2021-10-05 18:03] tomdeering-wf opened #461 "1.0.60 Breaks Nested Schema Types"
When dependabot brought us from using json-schema-validator 1.0.59 to 1.0.60 in an internal project, many tests started failing. The root cause seems to be that json-schema-validator 1.0.60 expects that `"type"` should be an array rather than a simple string, even though a simple string [is allowed by the spec](http://json-schema.org/draft-07/schema#).

Here is a test case value reproduces the iss

[2021-10-05 22:57] palwe-prafulla commented on #455
Thanks @bartoszm For reply.
Yes, this is exactly what I needed - dereference all the $ref and get plain JsonSchema with $ref resolved.
I thought the networknt schema validator may have this implemented to get JsonSchemas with $ref resolved so wanted to check here.
But I can certainly try the walker recursively to get all the defs into Json Schema but thought this would be helpful feature to have s

[2021-10-06 03:39] stevehu commented on #461
@tomdeering-wf Thanks for raising this issue. This is the reason we have short release cycles so that we can easily identify broken issues.

@bartoszm I am wondering if you could take a look at this issue?

[2021-10-06 03:40] stevehu commented on #460
This might be what you are looking for. We are using it to bundle several yaml files together to form a final OpenAPI specification.

https://github.com/networknt/openapi-bundler

[2021-10-06 07:58] bartoszm commented on #460
Hi @stevehu,
Thank you for the suggestion. I was looking at the openapi-bundler but it seems (from quick skimming through code) that it is targeting openapi (specifically in version 3.0.x).
Indeed my ultimate goal is to have a java based bundler but for json schemas (to be able to produce what you see above as my example or better example from [this](https://json-schema.org/blog/posts/bundling-jso

[2021-10-06 17:42] palwe-prafulla commented on #455
@bartoszm Thanks for more info on this.
I am using JsonSchema.getSchemaNode() once the schema is read and it returns the schema in original format with $ref as is.
This lead me to think that the JsonSchema is stored as is (without resolving $ref when its read) and I was wondering when validate api is called with payload, how is it validating the json objects which are originally defined as $ref to

[2021-10-08 07:09] 748142366 commented on #454
Thanks for your reply！I added the items content.The new schema follows.
test.form.schema.json
[code]
But the the Verification results  is still "$.dataSources: array found, object expected".I debugged the code,found the type of childNode compare with the type of top parent,then get this unexpected result. Are there any bugs? or am I use wrong way？

[2021-10-10 01:38] #395 closed

[2021-10-10 03:26] stevehu commented on #460
@bartoszm I understand you want a pure JSON schema bundler instead of an open API bundler; however, the concept and process can be utilized if you want to create one. Given the goal of this library is to validate the request/response in HTTP server with high throughput, I don't think we should put another layer to bundle schemas during the loading. It will greatly increase the latency of the first

[2021-10-10 03:38] stevehu commented on #453
The schema can be a static string or file or stream and it just needs to be supplied to the library. You can generate anything as a string or stream before you call the schema validator.

[2021-10-10 03:39] #446 closed

[2021-10-10 03:46] #457 closed

[2021-10-10 03:46] #455 closed

[2021-10-10 03:47] #453 closed

[2021-10-10 03:47] #451 closed

[2021-10-10 03:47] #444 closed

[2021-10-10 03:47] #442 closed

[2021-10-10 21:01] bartoszm commented on #460
I do agree that the library itself should perform bundling. What I was getting at is the validator is not able to deal with already bundled schema.
I have prepared a [draft PR](https://github.com/networknt/json-schema-validator/pull/465) that illustrates incorrect, in my opinion, behavior.
The problem is that the lib is trying to fetch the resource using `$ref` uri instead of trying to match it to

[2021-10-11 14:18] stevehu commented on #456
@kaibra Thanks a lot for the detailed walkthrough and reasoning. I will look into it.

[2021-10-11 16:02] #456 closed, assigned to nobody

[2021-10-12 00:48] stevehu commented on #456
@banjak15 The latest code in the master branch should be good at least for this particular issue. I will release it soon. Thanks.

[2021-10-12 09:01] guillomep opened #466 "Since 1.0.58 some date-time are not valid anymore"
Hello,

I have a JSON  schema that defined the following properties

[code]

And the following JSON to validate
[code]

With the validator in version 1.0.57, the JSON is valid but in 1.0.58 and above the date time is invalid:
`$.time: 2021-03-11T09:00:00Z is an invalid date`

But, it is a valid date for the RFC so it should be valid.

[2021-10-12 18:46] tomdeering-wf opened #467 "Property Keyword Walk Listeners Invoked Too Often Since 1.0.59"
Consider the following schema:
[code]
A walk listener configured with `config.addKeywordWalkListener(ValidatorTypeCode.PROPERTIES.getValue(), jsonSchemaWalkListener);` is only expected to be invoked when `"tags"` is walked since that is the only property defined in the schema, but in 1.0.61 it is invoked for:
`tags`
`$.properties.tags.items`
`$.properties.tags.items[0]`
The latter two invocations

[2021-10-13 05:43] SiemelNaran commented on #458
It seems easier to do without creating a listener on the "default".  Instead I added a variable shouldApplyDefaults (but then turned it into a class so that you can apply property defaults or array defaults).  See https://github.com/networknt/json-schema-validator/pull/468/files.

[2021-10-13 07:32] wyjie0 opened #469 "JsonNode.canConvertToExactIntegral not work"
method "canConvertToExactIntegral()" can not be found in class "JsonNode", but it is called in class "MinItemsValidator"

[2021-10-13 15:38] #466 closed, assigned to nobody

[2021-10-13 19:43] stevehu commented on #466
@guillomep Thanks a lot for the clarification.

[2021-10-13 19:47] stevehu commented on #467
@prashanthjos Would you be able to comment on it?

[2021-10-14 16:26] jsu216 opened #470 "OneOfValidator give incorrect message when the wrong json element is not the first one in the list"
Since version `1.0.46`, we found that if the invalid json is not the first in the `oneOf` choice list, the error message is not right.
For an example, if the schema is like below:
[code]
The `SearchByPartialName`'s definition is like below:
[code]
If the json message has `partialName` exceeds 70 chars like below:
[code]
The error message is wrong: `Schema Validation Error - requestBody.search.byPa

[2021-10-16 22:51] caseycrites commented on #469
(I'm a co-worker of @achen118)

This is due to having an older version of `jackson-databind` installed in our project. We currently have `2.10.4,` but need at least `2.12.1`. After upgrading that dependency, the error goes away.

[2021-10-16 23:57] #469 closed

[2021-10-18 12:30] wyzfzu opened #471 "i18n resource jsv-messages_zh_cn.properties is not work."
My default locale is CHINA, but the error message is always use template in jsv-messages.properties.
the resource bundle file jsv-messages_zh_cn.properties should be jsv-messages_zh_CN.properties.

[2021-10-19 03:28] stevehu commented on #471
PR is merged. Thanks a lot for your help.

[2021-10-19 03:28] #471 closed

[2021-10-20 02:31] stevehu commented on #470
@jsu216 It looks like your issue is not exactly the same as the #456. Would you be able to submit a PR to get it fixed? Thanks.

[2021-10-20 19:39] jsu216 commented on #470
@stevehu [PR](https://github.com/networknt/json-schema-validator/pull/473) created

[2021-10-21 22:04] stevehu commented on #455
The $ref always working and the standard test suite covers it. Has anybody found it is not working or am I missing something?

[2021-10-25 18:05] palwe-prafulla opened #474 "$ref keyword Walk Listener fails with Null Pointer Exception - Could not load validator oneOf"
I have a schema as below and I defined $ref keyword walk listner for it to resolve $ref  as below:

           SchemaValidatorsConfig svc2 = new SchemaValidatorsConfig();
            svc2.addKeywordWalkListener(ValidatorTypeCode.REF.getValue(), new JsonSchemaWalkListener() {
                @Override
                public WalkFlow onWalkStart(WalkEvent walkEvent) {
                    return Walk

[2021-10-25 19:20] #474 closed, assigned to nobody

[2021-10-26 21:12] ericbroda opened #475 "Error validating a JSON Schema against formal draft JSON Schema meta data"
My objective is to validate a JSON Schema against JSON Schema meta-data (ie. use the JSON schema meta-data as the "grammar" to validate an actual JSON Schema)

The issue is that obvious errors are not caught:
- changing the type "array" to "sdfsdfsd" - no error caught
- changing a "$ref" to point to a non-existing definition - no error caught

I have provided several files below:
- jsonschema.json

[2021-10-28 13:46] MarcelBochtler opened #476 "Validate values using @JsonProperty"
We're using Jackson's annotation to rename the serialised name for a property:
[code]

The relevant section in the JSON schema for this value looks like this:
[code]

The YAML that is being validated:
[code]

And this is the code to validate the YAML:
[code]

The validation fails with this error message:
[code]

I think the validation fails because we're using `@JsonProperty`. The object the valid

[2021-10-29 08:34] #476 closed, assigned to nobody

[2021-11-07 21:45] MatusSivak opened #478 "change "time" format validation"
In JsonMetaSchema, can you change the build-in "time" format from
"time", "^\\d{2}:\\d{2}:\\d{2}$"
to something that supports also milliseconds?
So the validation passes also for values like "15:30:22.573"

https://json-schema.org/draft/2020-12/json-schema-validation.html#rfc.section.7.3.1

Date and time format names are derived from RFC 3339, section 5.6.

time:
A string instance is valid against

[2021-11-08 17:13] kmalski commented on #321
Hi, I have created pull request resolving this issue #479.

[2021-11-09 04:01] stevehu commented on #478
@MatusSivak Thanks a lot for raising this issue with detailed reference. I think it makes perfect sense to support the milliseconds in full-time. Would you be able to submit a PR to get it fixed?

[2021-11-09 15:14] stevehu commented on #321
@gjvoosten, the implementation provided by @kmalski has merged to the master branch already. Once several other pending issues are resolved, we will have a new release. Meanwhile, you can test the new keyword with the master branch code. Thanks @kmalski for your help.

[2021-11-10 09:31] MatusSivak commented on #478
PR created

[2021-11-10 18:36] stevehu commented on #478
A new release 1.0.64 is published. Thanks for your help.

https://github.com/networknt/json-schema-validator/releases/tag/1.0.64

[2021-11-10 18:36] #478 closed

[2021-11-12 19:39] palwe-prafulla commented on #475
is there any progress on this issue?
I was really interested to have a way to validate the schema itself either by default as part of getSchema api or with some config passed to it to indicate to validate json schema when its read.
Also, manually downloading the meta schemas and validating against them doesnt seem to be long term approach anayways if schema standards change with next versions..

i

[2021-11-16 14:05] gjvoosten commented on #321
Hi @stevehu, apologies for the delay in getting back to you. Release 1.0.64 works regarding the way we use `dependentSchemas`. [But note that we'd also like to use `unevaluatedProperties` which is part of issue #276 .]

[2021-11-17 17:51] stevehu commented on #321
@gjvoosten Yes. You are right. That is another keyword we need to implement. Let's see if someone can help. Thanks for the reminder.

[2021-11-17 21:46] LannyRipple opened #481 "joni 2.1.31 is insecure"
Fixed as of joni 2.1.34. See https://github.com/jruby/joni/pull/47

[2021-11-18 05:26] stevehu commented on #481
Thanks a lot for pointing it out. I have upgraded to the latest version 2.1.41 now.

https://github.com/networknt/json-schema-validator/pull/482

[2021-11-19 03:42] #481 closed

[2021-11-19 22:58] Kordalien opened #484 "Behavior of the NotValidator is incorrect when using the walk method."
Given:
{"not":{"type":"string"}}
and
"test"

I expect
schema.walk(data, true)
Should return a validation error. It does not.

Similarly, given the sample:
123
or
{"foo":1}
I expect it to not return a validation error.
However, the validationResult comes back with a validation set containing `$: integer found, string expected`.

This is caused by the implementation of Walk in NotValidator which fai

[2021-11-19 23:01] Kordalien commented on #484
I'd be  happy to pick up the work of fixing this case, but have some concerns over expected behavior given the changes made in the last patch to the NotValidator

(call delegating to NotValidator.validate() was reomoved, which makes sense for accelerating behavior, but logic wasn't duplicated correctly)

This calls for a larger discussion, which would be does it make sense to make validate strictl

[2021-11-23 09:10] gareth-robinson commented on #475
Not really a fix for this issue, but for 2019-09 draft I've combined all the individual meta-schema into a single file: https://gist.github.com/gareth-robinson/815239b36e397e484b77141b912d1b28, the same way the draft 7 schema was and that seems to work ok for validating a schema for me (though I've only done some basic testing)
@palwe-prafulla, the meta-schema for draft 7 is also a single file so

[2021-11-23 10:00] gareth-robinson commented on #357
Is there an issue here? The test case that was added passes.

[2021-11-23 15:16] gareth-robinson commented on #382
@danic this is interesting... I'm trying to learn json-schema and tried your test case above in some other java libraries (everitorg & vertx), plus an online one (https://www.jsonschemavalidator.net/) and they all return the same error when there is no country as this library!

`properties` doesn't imply a property is mandatory, so I'm thinking maybe the `if` passing validation into the `then` whe

[2021-11-23 15:26] gareth-robinson commented on #382
Actually this is called out in the documentation at the end of this section: https://json-schema.org/understanding-json-schema/reference/conditionals.html#if-then-else
"Note. The “required” keyword is necessary in the “if” schemas or they would all apply if the “country” is not defined"

[2021-11-24 20:25] stevehu commented on #475
@gareth-robinson I think your approach will work. We can put the combined meta schema into the resources folder so that it can be loaded.

[2021-11-24 20:37] stevehu commented on #382
@gareth-robinson Good findings. When combining multiple validators together, the situation is much more complicated. The specification team needs to manage the complicity, otherwise, the specification would be really hard to implement.

[2021-11-24 20:44] stevehu commented on #357
@gareth-robinson I don't think we have any issue here. The fix is merged but we forgot to close the issue I guess.

[2021-11-24 20:44] #357 closed

[2021-11-24 21:18] stevehu commented on #484
@Kordalien I am not very familiar with the walk feature. @prashanthjos Do you have any comments on this issue? Thanks.

[2021-11-25 10:11] nnrudakov opened #486 "URI validation does not allow relative reference"
Validating property of type string with format uri only allows absolute uri.

Why #23 is closed? Bug is still present. [RFC3986](https://datatracker.ietf.org/doc/html/rfc3986#section-4.2) allows such links. But code and [tests](https://github.com/networknt/json-schema-validator/blob/master/src/test/resources/draft2019-09/optional/format/uri.json#L79) restrict that.

[2021-11-30 15:19] bomzheg commented on #79
still not fixed?

2021-11-30 18:09:38.189 [main] WARN  com.networknt.schema.JsonMetaSchema - Unknown keyword $defs - you should define your own Meta Schema. If the keyword is irrelevant for validation, just use a NonValidationKeyword
2021-11-30 18:09:39.192 [main] WARN  com.networknt.schema.JsonMetaSchema - Could not load validator maxLength

[2021-12-02 01:21] stevehu commented on #486
I haven't looked into it but it is from the official test suite.

https://github.com/json-schema-org/JSON-Schema-Test-Suite/blob/master/tests/draft2019-09/optional/format/uri.json#L77

[2021-12-02 01:25] stevehu commented on #79
@bomzheg I think people are fixing the issue in a particular version they are using. That is why you might still see this. Which version are you using?

[2021-12-02 01:26] #344 closed

[2021-12-02 17:24] enthimema opened #487 "Enum validation"
Hello,

I have the following class and enums

[code]

I want to validate following input json against the generated schema for the class

**Generated schema**
[code]

**Input JSON**

[code]

After validation I get the following messages

**$.content[0].rows[2].groups[1].fields[1].displayType: does not have a value in the enumeration [fieldNameAndAddress, fieldName, fieldAddress]**

How can I avoid

[2021-12-03 04:32] stevehu commented on #487
I don't think the generated schema is valid. As you only have part of it, I cannot confirm.

[2021-12-03 07:55] enthimema commented on #487
Hi @stevehu , thanks for your feedback. I am posting here a full example.

**UiField.java**
[code]
**UiSubField.java**
[code]
**UiFieldContentType.java**
[code]
**UiFieldDisplayType.java**
[code]

**JsonSchema.json**

[code]
inputJson.json
[code]
validation Message

[
$.displayType: does not have a value in the enumeration [fieldNameAndAddress, fieldName, fieldAddress],
$.subfield.subField: null f

[2021-12-03 20:21] CarstenWickner commented on #487
I agree that the validation here appears to be correct.
The following schema does not actually allow `null` values:
[code]
This one does (although the `null` in the `"enum"` property feels redundant):
[code]
Or this one:
[code]
----

This is a bug in the `victools/jsonschema-generator`, where I'm fixing that now.

There are other issues with the configuration of the schema generation (which can be

[2021-12-04 10:39] enthimema commented on #487
Thanks a lot for your help, guys, and I really appreciate your work here. I will close this issue, as there's nothing to do on validator's side.

[2021-12-04 10:39] #487 closed

[2021-12-15 08:23] nnrudakov commented on #486
For relative URI can use `uri-reference`.

[2021-12-15 08:23] #486 closed

[2022-01-02 13:51] mbwgh commented on #395
I encountered a very similar issue to OP and found this piece of code after a somewhat lengthy debugging session.

I do a `walk` twice using the same schema, once without a node (to collect some type information) and a second time to validate. This is probably me not using the library correctly, and the suggested `CollectorContext.getInstance().reset()` solves the problem.

Still, this behavior is

[2022-01-05 15:18] jsu216 opened #491 "A minor defect in the fix for issue #470"
Since the `SchemaValidator` in `openapi-validator` only picks the first error found, the order of the validation errors is important.
The fix submitted for [#470](https://github.com/networknt/json-schema-validator/issues/470) has a defect that can reorder the error found in the list so that confusing error message is returned.

                            .filter((ValidationMessage validationMessa

[2022-01-10 22:13] tomdeering-wf commented on #467
Likewise, adding a listener with `config.addPropertyWalkListener` collects even more unexpected things:
[code]

[2022-01-11 03:43] carolkao opened #493 "V2019-09 $ref cannot be resolved in array 'additionalItems'"
Hi, I encounter a reference problem in array 'additionalItems'. Here is my schema:

[code]

When I try to validate the following data:
[code]

I got the exception:
[code]

Seems when looping to 'findAncestor' from `"$ref": "#/$defs/test-ref1"`, the 'root' is 'additionalItems' but not the root of the whole document. All reference works fine in 'items' section, only fails at 'additionalItems'. May I

[2022-01-11 16:26] kmalski commented on #356
Hi, it is working for me this way:

[code]

I have tested it with default JSON schema URI, but I guess it will also work with the custom one.

[2022-01-12 16:23] stevehu commented on #493
@carolkao I think it is very likely a bug. The use case you have is much more complicated than the official test suite and that is why the bug is not identified so far. Could you please add your test case and try to get it resolved? As you said, the issue might be in the additionalItems. Thanks a lot for raising this issue.

[2022-01-12 19:33] kmalski opened #495 "PatternValidator does not correctly validate input with newlines"
Hi,

I have found that neither java regex based (`PatternValidatorJava`) nor joni based (`PatternValidatorEcma262`) pattern validation does not work correctly with newlines.

Any of implementation does not correctly interpret `^` and `$` anchors. I would expect that, when I use them at the start and end of pattern (eg. `^[a-z]{1,10}$`) they would not allow to pass any trailing newline character (e

[2022-01-12 23:01] stevehu commented on #495
@kmalski Thanks a lot for raising this issue and providing detailed explanations and solutions. I would say that multiline support for pattern matching is very rare and that is why nobody found this issue before. What we can do is to make this configurable and default to the single-line. This will maintain backward compatibility and at the same time, allow users with multiline pattern matching to

[2022-01-13 06:05] carolkao commented on #493
@stevehu Thank you for your reply. Unfortunately, I haven't find the root cause of this problem and don't know how to resolve it so far. If you can give me some clue or hint will be appreciated, and I'm willing to contribute it.

[2022-01-13 15:50] kmalski commented on #495
@stevehu Looks good for me. I found one more case in Joni library, when subtract of Option.MULTILINE is not enough, so I think it's reasonable to wait for answer (at least some time).

[2022-01-14 04:53] BoDING1007 commented on #349
I have similar issue, however our application is also using Logback to log our application level debug message, so we do not want to disable logging level. Any alternative solution to disable just validation debug message?

[2022-01-14 06:53] carolkao commented on #493
Hi @stevehu ,
I've created a PR : https://github.com/networknt/json-schema-validator/pull/497 for fixing the issue. Please help to review and let me know if there exists any problem. Thank you!

[2022-01-14 16:56] stevehu commented on #356
@kmalski I am so glad that you figured it out. Could you please add a document in this folder and get this issue closed. Thanks a lot for your help.

[2022-01-14 17:45] stevehu commented on #495
Thanks for the update. Let's keep this issue open until we have the proper solution.

[2022-01-14 17:50] stevehu commented on #349
@BoDING1007 @alexei-28 If I understand it correctly, you do want to turn on the debug for want to suppress the validation logging. Do you think it will work to change the logging level to trace for the detailed validation logs?

[2022-01-14 20:01] BoDING1007 commented on #349
@stevehu  Yes, I don't want to change my whole application log level, but only disable debug logs from validator. my application is a realtime acquisition, json message come in high frequency up to 10hz, we validate each message, but do not want to have this debug log every message appear in container. Any solution to change logging level only for validation logs

[2022-01-15 15:54] stevehu commented on #493
@carolkao Thanks a lot for your help. I will schedule a release soon.

[2022-01-15 15:57] stevehu commented on #349
A simple solution is that you create a logback.xml and set the logging level to info for com.networknt.schema package. I am guessing you have logback.xml already, then just add an entry to disable the debug for this package.

[2022-01-15 17:00] BoDING1007 commented on #349
Nice! thank you!

[2022-01-15 21:10] kmalski commented on #356
I just simply followed [Custom Validators](https://github.com/networknt/json-schema-validator/blob/master/doc/validators.md) section in the documentation. There is example how to add NonValidationKeyword as well as new custom validation keyword 😃

[2022-01-16 03:13] stevehu commented on #356
Nice. I am closing this issue then. Thanks.

[2022-01-16 03:13] #356 closed

[2022-01-16 10:34] carolkao commented on #493
@stevehu Appreciate your review, I'm looking forward to having the new version. Since the PR is merged already, I can close this issue. Thanks again.

[2022-01-16 10:34] #493 closed

[2022-01-20 13:13] huubfleuren opened #498 "additionalProperties: false used to work"
Hi, recently we've upgraded the validator in our  project from 1.0.44 to 1.0.65.

Apperently the AdditionalPropertiesValidator behaves differently.

in version 1.0.44 the validator correctly produced an error if a property was not in the list, ut now it finds too many properties.

This appears to be the case where a `OneOf` schema is in the play

I didn't really look into it: the new version creat

[2022-01-20 19:16] stevehu commented on #498
Some changes recently might break the additionalProperties. You only provide the schema. Could you please create a test case and submit a PR?

[2022-01-21 17:26] huubfleuren commented on #498
Thanks Steve, for the reply.
Allthough I managed to prepare a testcase in JsonScheema I did not see this again after deleting a piece of code we added in 1.44.0. So maybe I will return to this later.
Great lib. Complicated matter too, so respect.

[2022-01-24 02:24] carolkao commented on #493
Hi @stevehu,

May I know the schedule of the next release? Thank you.

Best regards,
Carol

[2022-01-24 09:21] Whathecode commented on #11
I believe I struggled with a similar problem, and answering here for posterity. Perhaps some of this can be included in the documentation at some point in the future.

First of all, it is worth being aware about the [advice on how to use `$id`](https://json-schema.org/understanding-json-schema/structuring.html#id). It should really be the _identifier_ of the schema, and not the retrieval URI. But

[2022-01-24 14:18] Whathecode commented on #227
I'm getting a `NullPointerException` when trying to validate JSON using the following schema:

[code]

The stacktrace:

[code]

I'm going to guess this simply means, as per this issue, fragment references to anchors aren't supported?

A workaround for now is using `#/$defs/OpenDataStreams`.

[2022-01-24 14:51] Whathecode commented on #227
Looking at the code a bit, I suppose [`JsonSchema.nodeContainsRef()`](https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/JsonSchema.java#L198) would need to be modified.

Right now, [when encountering a `#...` ref](https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/JsonSchema.java#L158), the current schem

[2022-01-24 15:35] Whathecode commented on #227
I'm having a go at a PR. Seemingly there is already [a failing, disabled, unit test related to this issue](https://github.com/networknt/json-schema-validator/blob/master/src/test/java/com/networknt/schema/V201909JsonSchemaTest.java#L162).

[2022-01-25 00:43] stevehu commented on #493
We have several pending PRs in the pipeline. Once they are merged and tested, I will release another version. Stay Tuned. Thanks.

[2022-01-25 00:47] carolkao commented on #493
Got it. Thank you.

[2022-01-25 00:51] stevehu commented on #11
@Whathecode You have described a process I am following all the time to create big OpenAPI 3.0 specifications with tons of schemas. I also have a [bundler](https://github.com/networknt/openapi-bundler) to bundle all files into one openapi.yml for the light-codegen input.

I am wondering if you could create a document in the doc folder with the content above. It will help lots of other users. Thank

[2022-01-25 01:09] stevehu commented on #227
@Whathecode The test cases for Anchor were disabled because the keyword wasn't implemented. I tried to run the official test cases from the IDE with the latest code from your branch and found some errors. Most of them are related to accessing the remote URL (http://localhost:1234/bar). It might be due to the test server didn't start properly. I am wondering if you could take a look. If you are int

[2022-01-25 08:34] Whathecode commented on #227
This is that I describe in the PR. 🙂 Please have a look there.

[2022-01-25 12:10] Whathecode opened #503 "$ref does not consider schema resources in v2019-09"
_Schema resources_ are [schema documents included in compound schema documents](https://json-schema.org/understanding-json-schema/structuring.html#bundling).

Several tests for v2019-09 are currently failing because these schema resources are not considered while resolving `$ref`.

For example, the second and third test in [`V2019JsonSchemaTest.testAnchorValidator()`](https://github.com/networknt/

[2022-01-25 12:26] Whathecode commented on #503
Note that I already managed to make the second test of  `V2019JsonSchemaTest.testAnchorValidator()` and all of `testRefValidator()` pass [by the changes described in the PR](https://github.com/networknt/json-schema-validator/pull/500#issuecomment-1020681816). But, this wasn't exactly production-ready code so didn't commit it.

It may offer a first suggested approach on how to tackle this.

[2022-01-25 16:56] jamesdbloom opened #504 "Validation ignores extra fields even when `additionalProperties` is set to `false` in specific scenario"
When using the following schema:

[code]

to validate the following json:

[code]

no error is returned about the extra fields even though `additionalProperties` is set to `false`

[2022-01-26 02:44] #227 closed

[2022-01-26 14:33] stevehu commented on #504
I think your issue might be related to this one and a PR is on the way to get it resolved.

https://github.com/networknt/json-schema-validator/issues/498

[2022-02-01 01:10] palwe-prafulla opened #506 "Format keyword validation for ipv4/ipv6"
The json schema type string supports different format using the keyword format.
https://json-schema.org/understanding-json-schema/reference/string.html#format

I see that the current code only defines few formats and may be related validators for those:
https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/FormatKeyword.java

I dont see ip address relate

[2022-02-01 02:51] stevehu commented on #506
This is the class to do the IP address validation.

https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/format/InetAddressValidator.java

[2022-02-01 05:59] palwe-prafulla commented on #506
Thanks @stevehu  I tried some UTs with format "ip-address" ipv4/ipv6 and all of them work. I was checking the FormatKeyword class to see these formats defined but couldnt find it there like other formats.

I also have quick question on 2019-09 draft.
I see that the "format" keyword has some proposed changes in this spec as below in terms of default validation off and to be turned on through implem

[2022-02-01 17:03] stevehu commented on #506
From the implementation point of view, there is no big difference between v7 and v2019-09 except some new keywords introduced and some change the definition a little bit. Although there are more formats available in 2019-09, we are not implementing them all as most people are not using them. When users start using them, we can add the implementation along the way.

[2022-02-02 19:09] tomdeering-wf opened #507 "$recursiveRef Incorrect For Draft 2019-09"
It looks like `$recursiveRef` does not correctly resolve to a `$recursiveAnchor` with Draft 2019-09. Consider the 2019 metaschema with its vocabulary references inlined into the schema (the recommended way using `$defs`):

[2019-09.txt](https://github.com/networknt/json-schema-validator/files/7989366/2019-09.txt)  (.txt extension because GitHub doesn't support .json)

Attempting to load this schem

[2022-02-03 11:18] aznan2 opened #508 "date-time validation is too lenient"
Validation of `date-time` format accepts the value `2022-02-03T11:47:43.123` as valid, even though a time zone offset or Z is required.

From the [JSON schema spec, section 7.3.1](https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.7.3.1):

And looking at [RFC 3339, section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6):

The `time-offset` part is not opt

[2022-02-05 09:01] dmitrydrugi commented on #475
Hi Guys, thanks for the brilliant library and lots of effort to add new features.

We have plan to use validating a JSON Schema against formal draft JSON Schema meta data in our project.

Quick question, since the branch https://github.com/networknt/json-schema-validator/tree/issue475 was created to fix some issues in the library. Do you have plan to merge this branch in master soon, for instance,

[2022-02-05 15:46] chrswk opened #509 "NPE with oneOf and custom URI Fetcher or Factory"
Hi

I tried to update my project from 1.0.52 to 1.0.66 and now get a NPE with schemas that use `oneOf` with a custom URI fetcher. Or at least I think it's related to the URI fetcher, since `oneOf` with `$ref` to a definition, etc. still work fine.

[code]

The same code does not produce a NPE with release 1.0.57, so I guess it has something to do with the changes in 1.0.58. Here is a test case to

[2022-02-05 19:00] stevehu commented on #509
@chrswk Thanks a lot for your help. I am on it.

[2022-02-07 17:05] nd417 opened #510 "NullPointerException with JsonSchemaFactory"
ObjectMapper objectMapper = new ObjectMapper();
				JsonSchemaFactory  schemaFactory = JsonSchemaFactory.builder(JsonSchemaFactory.getInstance(VersionFlag.V201909)).objectMapper(objectMapper).build();

generic exception occured:{}
java.lang.NullPointerException: null
        at com.networknt.schema.JsonSchemaFactory.findMetaSchemaForSchema(JsonSchemaFactory.java:283)
        at com.networknt.schem

[2022-02-11 13:50] sedovalx opened #512 "Please add support for minContains/maxContains of 2019-09 draft"
The "contains" restriction was enhanced in 2019-09, please see https://json-schema.org/understanding-json-schema/reference/array.html#mincontains-maxcontains

I can try to add this support myself and prepare a PR but please point me in the right direction.

[2022-02-14 14:38] tthapa-incomm opened #513 "Embedded schema error - Failed to load json schema!"
Trying this library for new project. I got this error while using embedded schema. Shouldn't it fetch from embedded schema? Am I missing some configurations or doing it wrong?

**09:30:05.674 [main] ERROR com.networknt.schema.JsonSchemaFactory - Failed to load json schema!
java.io.FileNotFoundException: https://abc.com/schemas/name.schema.json**

Data:
[code]
Schema:
[code]

[2022-02-15 01:03] stevehu commented on #513
I don't think this abc.com is valid. Try to access it directly and nothing returned. Could you please double-check?

[2022-02-15 01:09] stevehu commented on #512
@sedovalx From the specification, I can see the minContains and maxContains are very similar to the minItems and maxItems in the array keyword.

https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/MaxItemsValidator.java

We just need to create two new validators and wire them into the 2019-09 in https://github.com/networknt/json-schema-validator/blob/m

[2022-02-15 01:17] #510 closed

[2022-02-15 01:17] stevehu commented on #510
I couldn't reproduce it. Added a test case and you can try it yourself. Thanks.

https://github.com/networknt/json-schema-validator/blob/master/src/test/java/com/networknt/schema/Issue510Test.java

[2022-02-15 01:19] stevehu commented on #321
@rustermi Sorry, I don't think this keyword is implemented yet. I would be very happy if someone can submit a PR to get it done. Thanks.

[2022-02-15 01:27] stevehu commented on #509
@chrswk I am getting a hard time making your test case works in the project with some syntax error. I am wondering if you could submit a PR into the project with your test case above? Thanks.

[2022-02-15 01:30] stevehu commented on #507
@tomdeering-wf We have a community PR to get the $recurisiveRef implemented but I am guessing there might be some gaps left. I am wondering if you could create a test case and debug into it to find the root cause and get it resolved. Thanks.

[2022-02-15 01:31] #504 closed

[2022-02-15 13:49] tthapa-incomm commented on #513
Hi @stevehu

Yes abc.com is not valid.  Since I embeded ``name.schema.json`` within parent under ``$defs`` with proper base URI, I was expecting `` "$ref": "/schemas/name.schema.json" `` to refer to the embedded schema instead of making network call. For example if I use same schema in online validator https://www.jsonschemavalidator.net/ it properly validates the data.

[2022-02-19 09:31] chrswk commented on #509
@stevehu Sorry, I'm used to text blocks now. 😆 Here's a version without them and I also removed Guava specific stuff.

[code]

[2022-02-20 06:04] mpviau opened #514 "Wrong default value when used with oneOf, anyOf"
Hi,

I have being playing around with the new ApplyDefaultsStrategy, it's a very nice enhancement.  In my case, I'd like to have a single property with different default value in each branch of oneOf or anyOf.  However, with the current implementation, the result always includes the default value from the schema defined in the first branch, regardless if it's the one actually validated. I know the

[2022-02-20 19:11] mpviau commented on #514
I ended up not using the ApplyDefaultsStrategy, but managed to add a "properties" listener that does what I want.  Here is what it looks like:

`class DefaultValuesWalkListener implements JsonSchemaWalkListener {

        private final Set<String> resetingPaths = new HashSet<>();

        public void onWalkEnd(WalkEvent walkEvent, Set<ValidationMessage> validationMessages)  {
            // do not

[2022-02-22 01:00] stevehu commented on #475
We still have some unsupported 2019-09 keywords and that is why we cannot use the meta schema that comes with it. The best option as described above is to manually resolve all the references and create a final meta schema to use from our resources folder. I would be happy to accept the PR if someone is taking the effort. Thanks.

[2022-02-22 01:02] stevehu commented on #498
As the PR is merged, I am closing this issue.

[2022-02-22 01:02] #498 closed

[2022-02-22 01:07] stevehu commented on #513
$ref support both local reference and remote reference and your syntax is definitely remote. That is why the library is trying to access the remote site. If you want to use your local reference, make the update in your schema. Thanks.

[2022-02-22 01:07] #513 closed

[2022-02-22 01:52] stevehu commented on #508
The current date time validator is based on regex and it is very hard to cover all the edge cases. I would be very happy to accept a PR if you guys come up with a new regex to fill in the gaps. Thanks.

[2022-02-22 01:59] stevehu commented on #514
I myself am not familiar with the walking feature, so I would like other experts to comment on your implementation. However, I think you can try to use the validation context as it is used to make the complex validators stateful. Good luck!

[2022-02-22 02:05] tthapa-incomm commented on #513
@stevehu I know you closed this but just for context I was trying to bundle schema as described here - https://json-schema.org/blog/posts/bundling-json-schema-compound-documents so that I can distribute and use it offline without network call. Thanks anyway.

[2022-02-22 02:14] stevehu opened #516 "fix the additionalProperties in oneOf failed test cases"
These test cases were submitted by @huubfleuren and I just market them as disabled for now. Our developers can pick them up and get them fixed.

@huubfleuren Have you tested under version 1.0.44? Are they fail as well in 1.0.44? Thanks.

[2022-02-22 11:45] huubfleuren commented on #516
Good one. Thanks. I did n**o**t test it on 1.0.44, but nowIi have and results differ. It is not flawless either, but where there is ambivalence this is acceptable of course.

||AdditionalPropertiesOneOfFailsTest||
|---|---|---|
|test|master|1.0.44|
|heightIsNotMissingNotOnceAndNotTwice()|v|v|
|chemicalCharacteristicNameIsAdditional()|-|-|
|chemicalCharacteristicCategoryNameIsDefined()|v|v|
|height

[2022-02-22 16:03] DeborahPereira4sh opened #517 "SpecVersion V4 doesn't accept "id" key"
In Draft 4, $id is just id (without the dollar sign) .

But when I give a json file in draft 4 without the dollar sign to build my schema it doesn't work and I have the following error :
[code]
And, when I had the $ it works.

[2022-02-22 18:08] stevehu commented on #516
@huubfleuren Thanks a lot for your detailed comparison. I think we need a code analysis between the two versions to see what has been changed for the part.

[2022-02-24 08:12] pondzix opened #518 "Preserving suffix `#` during metachema URI normalization"
In [iglu-client](https://github.com/snowplow/iglu-scala-client) we use version of 1.0.39 java-schema-validator. In the code we define meta [schema](https://github.com/snowplow/iglu-scala-client/blob/e9b8b9c2718a45da0ce4c25d50cea54bdac5dfcf/modules/core/src/main/scala/com.snowplowanalytics.iglu/client/validator/CirceValidator.scala#L183):

`http://iglucentral.com/schemas/com.snowplowanalytics.self-

[2022-02-24 13:21] #518 closed

[2022-02-24 13:24] stevehu commented on #518
@pondzix Thanks a lot for your help. It is a nice fix that preserves backward compatibility.

[2022-02-25 02:11] rabbitloveLHF opened #520 "The error message of keyword oneOf,anyOf,allOf is not enough clear."
When I recently tested the combination keywords oneOf、anyOf and  allOf, I found that they didn't report errors as well as I understood them. I looked at the source code and found that this is related to the implementation of the source code. The version is 1.0.59.

OneOfValidator issue: The numberOfValidSchema <1 logic also need report error message like numberOfValidSchema > 1,It also need a proc

[2022-02-25 05:00] stevehu commented on #520
@rabbitloveLHF I totally agree with you and we have an issue still open to address the error messages. When validators are part of oneOf, allOf or anyOf, the validation message should be a combination of subschema and the context. I am wondering if you could submit a PR to get it fixed. Thanks a lot for raising it.

[2022-02-25 08:10] pondzix commented on #518
Awesome @stevehu and thank you for a quick response!

[2022-02-25 21:21] #509 closed

[2022-02-25 22:54] stevehu opened #522 "synch the official test suite for draft v4 from schema.org"

[2022-02-25 22:54] #522 closed

[2022-02-25 22:58] stevehu commented on #508
@aznan2 I want to test the new regex with more test cases so I have synched the date-time.json from the official test suite. It is broken with one of the test cases.

[code]

The test case is disabled currently and I am wondering if you could take a look to get this test case resolved. The test case is located at https://github.com/networknt/json-schema-validator/blob/master/src/test/java/com/netw

[2022-02-26 04:44] stevehu opened #523 "synched ipv4 and ipv6 and fix some gaps for the IP format validation"

[2022-02-26 04:44] #523 closed

[2022-02-26 09:40] aznan2 commented on #508
Sure, I'll check it out.

[2022-02-26 17:29] ethlo commented on #508
Please feel free to ignore this, but if you want another solution: https://github.com/ethlo/itu - A dependency-free RFC3-339 parser.

Full disclosure:  I'm the author

[2022-02-27 01:15] stevehu commented on #508
@ethlo Thanks a lot for the idea. I have checked the lib and it is a very good candidate. It is green without any dependency, very small and built with Java 8. Let's try the regex first and move to it if we cannot resolve it with regex.

[2022-02-27 11:36] aznan2 commented on #508
The issue is that SimpleDateFormat doesn't handle leap seconds. The new PR uses ethlo's ITU to accept leap seconds, though it's still not 100%. ITU's implementation only checks that the leap second occurs on July or December 31, so it accepts `1997-12-31T23:59:60Z` as a valid date-time even though 1997 didn't have a leap second. If we want that kind of accuracy, we'll need to look at [Time4J](http

[2022-02-28 06:54] ethlo commented on #508
Unfortunately not 100%, as almost all sanity checking is delegated to the JDK` java.time.*` classes, or in the case of leap-seconds, a simplified rule. I assume Time4j is an option, but at 2.4 MB I would rather let people validate those themselves if such (rather extreme) accuracy is required. ITU is 18KB.

Also, I released a new version, with some cleanup and better `formatUtc...()` speed (not re

[2022-02-28 09:52] aznan2 commented on #508
@ethlo Cool!

@stevehu The dependency to ITU should be updated to 1.5.1 when it's available in Maven central.

[2022-02-28 16:11] davidpricedev opened #526 "Support for non-existent $id URLs?"
My json-schema has `$id`s that aren't "real" urls that can be requested. I also use json-schema bundling.

It seems this library doesn't support bundled schemas - at least it doesn't follow the `$ref` to the `$defs` - it still tries to make requests out to the web to fetch the `$ids` of the items that are in the `$defs` section.

I've been able to work around this sort of limitation in other libra

[2022-02-28 16:37] stevehu commented on #526
@davidpricedev I am wondering if you could submit a PR with a test case to reproduce the issue? I need to see what is your schema and what is your json. We are using the bundler all the time and there is no issue at all. We have an [openapi-bundler](https://github.com/networknt/openapi-bundler) in the networknt organization.

[2022-02-28 21:19] davidpricedev commented on #526
@stevehu thanks for taking a look. I have a PR out now with a reproduction of the issue.

[2022-03-04 09:47] rabbitloveLHF commented on #520
@stevehu I can try to do that, but it might take some time.I will fix it on 1.0.59 and latest version.

[2022-03-07 14:02] abhikt48 opened #528 "JsonSchemaFactory/Validation is not consistent"
Hi All,

I tied to validate custom JsonSchema with 3 ways

1. AutoDetect JsonSchema From JsonNode - No errors, but 11 WARN
2. JsonSchema From Url - 2 Errors, No WARN
3. JsonSchema From String contents - 2 Errors, No WARN

I am expecting, all 3 schema factory should provide similar result. At this moment, I am not sure which one is correct approach.

Based on our requirement, "AutoDetect JsonSchema

[2022-03-08 04:23] stevehu commented on #528
@abhikt48 Thanks a lot for raising the issue with test cases. We will take a look at your test cases and get the issues fixed.

[2022-03-08 18:31] abhikt48 commented on #313
@stevehu  - Do we have any plan to fix this issue?  I am also having same issue. Please suggest if we have any alternative ?

@arandjel  - As you faced this issue earlier. Have you found any alternative for this issue?

[2022-03-08 20:26] arandjel commented on #313
@abhikt48, yeah, we've used V7 schema instead.

[2022-03-12 15:27] Johnlon opened #531 "Will this validator reject JSON that has fields not present in the schema?"
I need strict validation.

I'm assuming such a feature would be a switch in the configuration

[2022-03-12 16:37] stevehu commented on #531
Yes. set additonal property false in your schema.

[2022-03-12 17:38] Johnlon commented on #531
No that is not the right approach.
Many articles on that misunderstanding

[2022-03-14 15:09] christi-square opened #532 "Invalid (non-string) $schema produces NullPointerException"
The following code produces a `NullPointerException`:

[code]

The `$schema` property should be a string but there is no check that it is, in fact, a string.

Note that I have a fix for this I will put up in a PR shortly.

[2022-03-15 01:37] #532 closed

[2022-03-15 02:16] stevehu commented on #531
@Johnlon I am confused. If you set "additionalProperties": false in your schema, any additional properties that are not defined in the schema will get an error. Is this enough? If not, could you please submit a test case to explain your use case? Thanks.