[2022-03-15 02:28] Johnlon commented on #531
Hi

Doesn't work the way you think when you have allof. It falls apart.
Only works on flat objects.

It's fully explained in the paper.

On Tue, 15 Mar 2022, 2:16 am Steve Hu, ***@***.***> wrote:

[2022-03-15 02:36] Johnlon commented on #531
Its because additionalproperties false does not work the way you are suggesting it does that led to the addition of the "unevaluatedproperties" switch in the draft standard.

One cannot reliably build a validator that spots excess fields in the presence of a schema which includes allof anyof oneof because there is no defined protocol for how the additionalproperties flag works in that scenariio. T

[2022-03-15 02:49] stevehu commented on #531
I hear you. When allOf, anyOf and oneOf are involved, things are getting more complicated. I didn't finish my reading on the unevaluated properties and I think it will take some time to be included in the spec. Meanwhile, if you think we can do that with a flag (I am not sure how this can be done), I would be happy to merge the PR. Thanks a lot for the explanation.

[2022-03-17 06:51] rustermi commented on #321
We currently don't use the keyword either. When we do, I will follow your proposal.

[2022-03-18 11:13] RenegadeWizard opened #535 "OneOf validation gives unnecessary errors"
Let's say we have a schema like this one:
[code]
So we have one `oneOf` property that requires either `property1` or `property2`.
[code]
This json is incorrect and the validator should return error that the value of `property1` is incorrect, but in addition to that it returns an error that property2 is required and missing:
[code]
It's not correct, because `property1` is already present, just inco

[2022-03-22 19:20] AndreasALoew commented on #535
I think I have seen the same issue recently.

Would it be possible that we do see the superfluous "is missing but it is required" not just in an OneOf, but also an AnyOf scenario (with at least one value required, but more than one valid)?

Looking forward to seeing your PR submitted...

[2022-03-24 08:25] RenegadeWizard commented on #535
Sure, I would be happy to submit the PR, but I don't have the permissions to push my changes to a branch. Can you help with that?

[2022-03-24 09:58] AndreasALoew commented on #535
@RenegadeWizard , you can perfectly create a PR from your own fork (and typically also, a dedicated branch in this fork) of the project: see https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

[2022-03-24 10:51] RenegadeWizard commented on #535
Great, thanks for your help, I submitted a PR: #537

[2022-03-25 09:03] 0x4a616e opened #538 "Cannot get properties validator from map due to custom comperator"
If you call `JsonSchema.getValidators()` you'll get a `Map<String, JsonValidator>`. However, you cannot get the properties validator out of it, as the map uses a custom comparator. So `JsonSchema.getValidators().get("#/properties")` always returns `null` even though the key exists. The culprit seems to be this:

[code]

I guess a solution could be to return `0` if `lhs.equals(rhs)` before checking

[2022-03-25 13:33] stevehu commented on #538
@0x4a616e It sounds reasonable. Could you please submit a PR with your test cases? We just want to make sure the fix is backward compatible. Thanks.

[2022-03-29 06:46] 0x4a616e commented on #538
@stevehu I created a PR with the change mentioned above: https://github.com/networknt/json-schema-validator/pull/541

[2022-03-29 23:45] suren39 opened #542 "Applying Subschemas Conditionally not working as expected using http://json-schema.org/ example"
Hi, following example is not working as expected: (very bottom of the page)
http://json-schema.org/understanding-json-schema/reference/conditionals.html#id7

`{
  "type": "object",
  "properties": {
    "restaurantType": { "enum": ["fast-food", "sit-down"] },
    "total": { "type": "number" },
    "tip": { "type": "number" }
  },
  "anyOf": [
    {
      "not": {
        "properties": { "restauran

[2022-03-29 23:54] suren39 commented on #542
Oh the issue seems to be isolated to Draft 4..

Failed here
`JsonSchemaFactory factory =
                JsonSchemaFactory.getInstance(SpecVersion.VersionFlag.V4);`

Passed here
`JsonSchemaFactory factory =
                JsonSchemaFactory.getInstance(SpecVersion.VersionFlag.V7);`

[2022-03-30 03:55] #538 closed

[2022-03-30 04:01] stevehu commented on #542
I think this is one of the issues that we are using some modern keywords that v4 is not supported. I am wondering if you could submit a PR to reproduce the issue so that other developers can debug it and see what is the difference between v4 and v7. Thanks.

[2022-03-30 08:30] rabbitloveLHF commented on #520
@stevehu I have created a PR for you.

[2022-03-30 08:40] rabbitloveLHF commented on #520
I solved the problem to some extent, but it wasn't perfect.
For example, I think the error report for OneOfValidator should be like this:
![image](https://user-images.githubusercontent.com/38274151/160789140-d38dd1b7-af81-4a56-9a0a-ea115f9cda36.png)
![image](https://user-images.githubusercontent.com/38274151/160789406-38f548d5-099b-4551-bb0d-a065938706ec.png)

[2022-03-30 20:03] suren39 commented on #542
I can provide my unit test..

Service class

`import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.networknt.schema.JsonSchema;
import com.networknt.schema.JsonSchemaFactory;
import com.networknt.schema.SpecVersion;
import com.networknt.schema.ValidationMessage;
import org.apache.co

[2022-04-04 05:42] TJC opened #546 "1.0.68 introduces memory leak"
Version 1.0.68 introduces a memory leak.

When called repeatedly, we see the JSON Schema validator consumes all available memory, until it crashes with `java.lang.OutOfMemoryError: Java heap space`

The following script demonstrates it (uses Ammonite on JDK 17, Scala 2.13).
Run the script after setting `JAVA_OPTS=-Xmx256M`

This assumes you're parsing some fairly large JSON files (500kbyte in my c

[2022-04-04 07:14] TJC commented on #546
Upon further testing, it seems the memory leak was introduced in 1.0.68. Reverting back to .67 fixes the problem.

[2022-04-04 09:47] AndreasALoew commented on #546
Can you still try to run the JDK 17 JVM you seem to be using as the Scala/ammonite runtime platorm to start with java command line option "-XX:+HeapDumpOnOutOfMemoryError" 😄

For details, see:
https://docs.oracle.com/javase/8/docs/technotes/guides/troubleshoot/clopts001.html

This would allow Java developers to pinpoint the place where the memory is lost rather than looking for a needle in an hays

[2022-04-04 09:49] AndreasALoew commented on #546
Note:
By default, then, the heap dump is created in a file called java_pidpid.hprof in the working directory of the VM, as in the example above. You can specify an alternative file name or directory with the -XX:HeapDumpPath= option. For example -XX:HeapDumpPath=/disk2/dumps will cause the heap dump to be generated in the /disk2/dumps directory.

[2022-04-04 15:24] TJC commented on #546
Thanks for the quick response. I can't send a heap dump based on the current JSON source that I'm using; I'll need to run something over the JSON to replace many strings with random characters. But I can work on that.

I was hoping that you might have some JSON files and Schemas nearby yourself, to use with the script I posted, as I doubt the exact content of my JSON matters for triggering the bug

[2022-04-05 00:29] TJC commented on #546
![Screen Shot 2022-04-05 at 10 25 10 am](https://user-images.githubusercontent.com/43905/161654784-3a4e617a-5957-4d76-b184-ed15fe06268f.png)

Looks like almost all the memory is consumed by an ArrayList from `AnyOfValidator.java`

It contains four million elements, which is far more than the number of elements in my source JSON. It seems like it is not clearing that array between validations?

[2022-04-05 00:31] TJC commented on #546
Also, I have built a redacted JSON file, so I'm happy to share a heap dump with you privately if you like.

[2022-04-05 09:00] AndreasALoew commented on #546
Sorry, I myself don't have time until this evening (Tue, and I'm in Europe/MET) to look into it (just in case nobody else wants to take over in the meantime... 😀), but the heap dump should compress quite well, so I assume you can/should even be able to reduce -Xmx and attach the redacted/"anonymized" one here... Use the max compression level of e.g. xz, bz2 or zip and attach the compressed dump (m

[2022-04-06 06:28] ohadabraham opened #548 "Json Schema Question"
Hi ,
would like to ask 2 questions
1. where can i see all the properties and their values  i can set in the json schema to make validation  ? ( i.e int, string, obj  and check positive negative etc... )
2. can i make validation that say : this property is optional but if i get it i need to make vlidation ( and if it is not exists all ok )\
thank u

[2022-04-06 06:52] ironluca opened #549 "Validator Consistent OutOfMemoryError"
[ont-schema.zip](https://github.com/networknt/json-schema-validator/files/8424320/ont-schema.zip)
The validator is consistently giving OutOfMemoryError for a slightly larger file. The file and the schema is attached.

In the data file, if the 'properties' array is reduced to 4 elements, the schema validates in ~120 milliseconds.

The code used is as follows:

[code]

[2022-04-06 09:04] chrswk commented on #549
Can confirm.

Upgraded yesterday from 1.0.57 to 1.0.68 (for #509 fix) and now CI builds run out of memory and some local tests take seconds instead of ms.

[2022-04-06 19:35] #315 closed

[2022-04-07 00:20] AndreasALoew commented on #546
Sorry - I still haven't received a heap dump from @TJC ... 😞

Please be informed that without a "readily prepared" heap dump to analyze, I will only find some time to reproduce the issue by myself over the weekend at the earliest...

Maybe @prashanthjos / @prashanth-chaitanya as the authors of the most likely faulty (by result of bisect) commit mentioned above can help earlier?

[2022-04-07 02:04] ymszzq opened #550 "[Question] Does this tool provide Schema path?"
I see ValidationMessage provide the path to the input json. I couldn't find the path to schema at where the error throws.

Can you please confirm if I understand it correctly?

Are there any plans to support this? I think it is quite important.

[2022-04-07 08:04] chrswk commented on #548
Not sure if this answers your first questions, but I personally find the official site quite good:

https://json-schema.org/understanding-json-schema/reference/index.html

Regarding 2: Yes, this is possible, see [anyOf](https://json-schema.org/understanding-json-schema/reference/combining.html#anyof) (or oneOf, depending on your exact needs).

[2022-04-07 09:10] tazle opened #551 "Missing attribution to Apache Foundation (needed because of vendored commons-lang3 code)"
Hi,

You seem to have vendored some commons-lang3 code under https://github.com/networknt/json-schema-validator/tree/master/src/main/java/com/networknt/schema/format, presumably for a good reason.

The code is licensed under Apache-2.0 license, so to distribute it, or its derivative works, you should comply with section 4 d of the license, and include its NOTICe file in your NOTICE file.

You seem

[2022-04-07 22:54] ymszzq commented on #550
I can submit a PR

[2022-04-08 07:55] TJC commented on #546
My previous offer to share it with you privately still stands. And as I said in an earlier comment - I strongly suspect this issue will be easy to reproduce using your own collection of JSON and JSON Schemas. Maybe just ensure your test schema includes a couple of _nested_ `anyOf` conditions, since the issues appears to originate there.

[2022-04-08 08:48] AndreasALoew commented on #546
@TJC so please indeed share it privately with me - how do you plan to do it? I can provide you an https upload link to my GMX web space, or you put it onto some location where I can download it via https.

I'll immediately send a private e-mail to the adress in your GitHub user profile offering my upload URL. In order to separate credentials from the link for security reasons: the password for the

[2022-04-08 08:59] prashanthjos commented on #546
hi @AndreasALoew, apologies for my late entry into the issue, I have made change to add evaluated and unevaluatedProperties to CollectorContext (Which is thread level context that uses ThreadLocal). Looks like you are repeatedly calling json schema validate in a loop. Can you try resetting the CollectorContext before every call to validate using CollectorContext.getInstance().reset().

CollectorCo

[2022-04-08 09:13] AndreasALoew commented on #546
Hello @prashanthjos , many thanks for the explanation 😄

My immediate follow-up question to you would be: what is the advantage of not resetting i.e. "resuing" a CollectorContext for two subsequent calls to validate()?

If there is no such advantage, wouldn't it make more sense to clean the thread-local CollectorContext in a finally() block immediately before returning from any call to validate()?

[2022-04-08 09:15] prashanthjos commented on #546
Agree with you @AndreasALoew we can add an additional validate and walk method that will do this.

[2022-04-08 10:51] prashanthjos commented on #546
@TJC can you please confirm here once you test if CollectorContext.getInstance().reset() works. Thanks!

[2022-04-08 13:46] TJC commented on #546
My demonstration script is calling `.validate()` in a loop, but that was for demonstration. In production code, the .validate() call happens each time a webserver receives an HTTP request. Which can happen quite frequently, but it still takes hours in normal use before all memory is consumed by this bug.

We deployed some code to production that included several dependency updates, including the m

[2022-04-08 13:48] TJC commented on #546
I can confirm that calling reset on the CollectorContext does indeed seem to fix the memory issue.

However I would encourage you to make the reset a _default_ experience rather than an optional one, as I'm sure my company is not the only one that will step on this landmine.

[2022-04-08 13:53] jochenberger commented on #546
No, it isn't. 😉
Luckily, our test suite caught this.

[2022-04-08 16:27] prashanthjos commented on #546
@TJC thank you for confirming. CollectorContext was added long before and it is noted in the documentation that data is stored in ThreadLocal.  Please note the issue could be because of the UnevaluatedProperties accumulation in CollectorContext. CollectorContext is being used in this library for several use-cases like adding defaults.

Also in http servers based Java Servlets , could tend to reuse

[2022-04-09 02:22] TJC commented on #546
When you say it was always recommended.. Where was that recommendation made?

Let me check the documentation again..

- If I follow the doc link from the very top of this repo, I get to this page: https://doc.networknt.com/library/json-schema-validator/ but that doesn't mention it.
- If I look at the docs within this repo, I can check https://github.com/networknt/json-schema-validator/blob/master/

[2022-04-09 02:27] TJC commented on #546
Anyway, thank you for making a fix. I look forward to it.

[2022-04-09 04:08] prashanthjos commented on #546
Yes it was supposed to be updated. But however we clearly mentioned that there are ThreadLocal usages in the library. I will try to make it more explicit in the documentation.

[2022-04-09 16:32] stevehu commented on #550
@ymszzq Thanks a lot for your help. The PR is merged and will be in the next release.

[2022-04-09 16:32] #550 closed

[2022-04-10 23:17] AndreasALoew commented on #546
@prashanthjos I can now finally **definitely confirm from heap dump analysis** that the Memory Leak observed is indeed caused by the "com.networknt.schema.CollectorKey" CollectorContext instance and its "collectorMap" HashMap entry with key "com.networknt.schema.UnEvaluatedPropertiesValidator.EvaluatedProperties" pointing to an ArrayList<Object> that grows indefinitely when executing multiple JSON

[2022-04-10 23:42] AndreasALoew commented on #549
See https://github.com/networknt/json-schema-validator/issues/546#issuecomment-1094406182 for leak confirmation and proposed fix.

[2022-04-11 06:34] ohadabraham commented on #548
Thank u ! I think i was misunderstood...
if i have this Schema for example :

{
  "$schema": "https://json-schema.org/draft/2019-09/schema#",
  "required": [],
  "properties": {
    "name": {
      "type": "string",
      "description": "Painting name",
      "maxLength": 10,
    }
}

i would like to name only if i got it in the request json ,
i.e. :
valid :
{
  "name": "Mona"
}
valid :
{

}
non v

[2022-04-11 12:48] stevehu commented on #549
I am closing this issue and using the main issue to trace it.

[2022-04-11 12:48] #549 closed

[2022-04-11 12:56] stevehu commented on #546
FYI. There are some discussions in another thread about how to fix this memory leak issue and proposed design solutions. Please let us know what you think about the solution.

https://github.com/networknt/json-schema-validator/pull/544

[2022-04-12 01:52] stevehu commented on #546
I have merged @prashanthjos' code to the master branch. With the newly introduced config flag, most users won't need to worry about resetting the context. Advanced users can set the flag to false to allow the context to live across multiple validators. Thank you @prashanthjos for your help to get it implemented. I am wondering if we should update the document for this flag.

[2022-04-12 07:54] TJC commented on #546
Running with the current master version, I'm not seeing memory exhaustion. That's good.

[2022-04-12 10:24] ohadabraham commented on #548
any idea?

[2022-04-12 13:58] prashanthjos commented on #546
@stevehu thanking you for merging. I will update the documentation in a couple of days. Thank you @TJC and @AndreasALoew for your patience and testing with master change.

[2022-04-12 18:25] tazle commented on #551
My understanding is that you should include their NOTICE in your NOTICE verbatim. The commons-lang3 text you now have in your NOTICE file is in the listing of Maven dependencies (which I suppose don't actually need to be listed in NOTICE, you aren't actually distributing them). If you still wish to include their copyright notices, I would expect the NOTICE of vendored dependency to be in a separat

[2022-04-13 12:40] chrswk commented on #548
It should work fine. This schema:

[code]

Is valid against:

[code]

And:

[code]

But fails with `$.name: may only be 10 characters long` for:

[code]

[2022-04-13 15:47] harishvashistha commented on #183
@stevehu I could not see above configuration working for this example. We have recently onboarded with this library for schema validation with some existing migrated data and having issues with earlier validated resources. Can you help me with these example:

[code]
Data:

[code]

It is failing with this exception:

`null found, string expected`

Above handleNullableFields seems working only with

[2022-04-13 17:08] harishvashistha opened #553 "default as null is not being set"
Hi Team,

if schema definition specifies that `"default":null ` when that property is not specified in json resource then why there is this check in code which sets default values only when those values are non-null. You are requested to please think about below section of code when we want default = null should be set when no value is provided explicitly. e.g.

[code]
Resource to be created:

[co

[2022-04-13 18:37] stevehu commented on #183
You have to implicitly set the typeLoose flag to true when you initialize.

[2022-04-13 18:56] stevehu commented on #553
Please take a look at this class.

https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/ApplyDefaultsStrategy.java

[2022-04-14 02:57] harishvashistha commented on #553
@stevehu I have set this configuration for `SchemaValidatorsConfig` :

[code]

I have put and verified with debug points in json-schema-validator code. This is the behavior it is showing:

if default value in schema definition is not null, then only default value is set in the resource when `ApplyDefaultStrategy` has `applyPropertyDefaults` parameter as true. because of this code:

[code]

under m

[2022-04-14 03:09] harishvashistha commented on #183
@stevehu I have set this configuration for `SchemaValidatorsConfig` :

[code]
But typeloose flag as true or false has not impact on my example above when null value is provided for resource during schema validation. I have put a debug point in library code. For my example method `public static boolean equalsToSchemaType(JsonNode node, JsonType schemaType, JsonSchema parentSchema, SchemaValidatorsC

[2022-04-15 16:31] marcelbaumann opened #556 "CVE-2020-36518 in used jackson-databind library"
IntelliJ IDE newest version has integrated vulnerabilities check from Checkmarx.
When I run the analysis on the latest version of json-schema-validator 1.0.68 I got an alarm that the used library com.fasterxml.jackson.core:jackson-databind:2.12.1 has security issues [CVE-2020-36518](https://nvd.nist.gov/vuln/detail/CVE-2020-36518) and Cxced0c06c-935c).

The suggestion to correct the security flaw

[2022-04-15 16:58] stevehu commented on #556
We are waiting for the official release instead of the patch release. We have too many repos that depend on the Jackson and want to upgrade at the same time. There are some discussions in another thread and we found some issues with this patch version. Thanks for reminding us.

[2022-04-16 15:23] dhpalan commented on #508
We upgraded to 1.0.68 and the above strict validation for offset is breaking all our server API's!
- We do not have control over which language or date library our clients use.
- Any client application that uses `+0000` format is affected due to this change.

Is there a way to configure the DateTimeValidator to be backwards compatible?

[2022-04-17 07:38] ohadabraham commented on #548
you are right - thank u for the help !!!

[2022-04-18 20:12] stevehu commented on #553
The release 1.0.69 is published. Thanks, @harishvashistha and @SiemelNaran for your help to make this happen.

[2022-04-18 20:12] #553 closed

[2022-04-18 20:13] stevehu commented on #546
This issue is resolved in the 1.0.69 release. Thank you everyone who are working hard to get this issue resolved.

[2022-04-18 20:13] #546 closed

[2022-04-19 07:14] ethlo commented on #508
@dhpalan This is not "strict" validation, it is validation according to the RFC3339 specification. Any client that uses `+0000` is in violation of the said specification. That you do not control the client is fair, but your API specification states that it should be a `date-time`, and as such, according to the OpenAPI standard, it should follow the RFC3339 specification.

There are ways that you c

[2022-04-19 14:37] stevehu commented on #548
@ohadabraham It looks like you have the answer already. Thank you @chrswk for your help. I am closing this issue.

[2022-04-19 14:37] #548 closed

[2022-04-19 20:50] dhpalan commented on #508
Since upgrading to the latest version will break our production, We have decide to upgrade our java project in two phases.

If the `date-time` format does not follow RFC3339 Spec,
Phase 1) Do not reject the client request, instead send them a warning message.
Phase 2) Enforce the validation. We will reject the client request with an error message.

[2022-04-19 21:01] stevehu commented on #508
@dhpalan I think that is a very good plan to encourage users to use the RFC3339 format as it is the standard.

[2022-04-19 21:01] #508 closed

[2022-04-20 00:10] AndreasALoew commented on #535
Hello @RenegadeWizard,

what is your current progress regarding the addition of an "AnyOf" fix to your PR that we discussed here: https://github.com/networknt/json-schema-validator/pull/537#issuecomment-1077565001?

**Even though there could already be at least one subschema passing validation without "required" property issues, this fact so far is not taken into account**, and subsequent "require

[2022-04-21 12:05] rtokase opened #557 "How to define Map<String, ObjectType> using network nt json schema."
Hi

I have tried defining the Map<String, ObjectType> using the following schema definition with the help of additional properties but JSON Schema validation is not working against the following schema definition.

Map.Schema.json.

`{
  "title": "Example Schema",
  "type": "object",
  "definitions": {
    "listType": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/objectT

[2022-04-21 12:40] #557 closed

[2022-04-21 12:40] rtokase commented on #557
Not a valid

[2022-04-24 21:32] AndreasALoew commented on #535
As I haven't heard from @RenegadeWizard , I have moved forward and created a proposed fix myself: https://github.com/networknt/json-schema-validator/pull/559 myself 😄

(Please note that in the current state of master, some tests fail, but this is NOT due to this my PR...)

[2022-04-24 21:47] stevehu commented on #535
@AndreasALoew I have rerun the test on the master branch and all tests are passed. Could you please point out which test case failed for you? Thanks.

[2022-04-24 21:51] AndreasALoew commented on #535
[code]
[surefire-reports.zip](https://github.com/networknt/json-schema-validator/files/8550565/surefire-reports.zip)

[2022-04-25 08:12] marvi opened #560 "Resolve $ref from base directory"
References in our schemas look like this (made up example):

schema.json:
[code]

definitions.json:
[code]
I can't change the JSON schemas, like adding `classpath://` to the $ref. How can I make the library resolve the references?

Can I set a base path for the schema loader either as `classpath://` resource or `file://` url. Anything but changing the schema files would work.

Sorry if this is doc

[2022-04-25 10:47] #560 closed

[2022-04-25 13:20] marvi commented on #560
I solved it. Probably not the most elegant solution.

[code]

[2022-04-25 21:04] stevehu opened #562 "Support both Java 8 and Java 11"
We have a PR for upgrading to Java 11 at https://github.com/networknt/json-schema-validator/pull/403

I am opening this issue to discuss the solutions. I am thinking to move the current codebase to 1.0.x branch and use the master branch for Java 11 in the future with 2.0.x tag for releases. New PRs will go to the master branch for Java 11 implementation and only bug fixes go to Java 8 branch 1.0.x

[2022-04-27 15:24] Tim-fors opened #563 "Allow specifying custom message at the attribute level"
Continuation of discussion from https://github.com/networknt/json-schema-validator/pull/440#issuecomment-1050048438

The[ custom message feature ](https://github.com/networknt/json-schema-validator/blob/master/doc/cust-msg.md) allows a user to specify a custom validation message based on the type of validation.  However, this is limited in that you can only have one message per type.

It would be

[2022-04-28 02:12] stevehu commented on #563
@Tim-fors While thinking about it, it is not easy to do to cover all the scenarios. Also, I think this should be a joint effort with the spec team. As of now, they don't want to define the messages in the schema but I think it would be a good option. Do you want to open a discussion over there to see what is the response from the spec team? Thanks.

[2022-04-29 07:45] dreis2211 opened #564 "Major performance regression caused by unevaluatedProperties"
Hi,

I've seen an internal customer project being on an ancient version (0.1.3) and wanted to upgrade things. After the update to 1.0.69 (latest at the point of writing) things still seem to work, but show a major performance regression.

A little microbenchmark that validates a typical json for us shows the following numbers:
**1.0.69**
[code]

**1.0.67**
[code]

**0.1.3**
[code]

The regression

[2022-04-30 01:26] stevehu commented on #564
@dreis2211 I have rerun the performance test and successfully reproduced what you have observed. Thanks a lot for raising it and I will try to get it fixed.

[2022-05-02 11:50] prashanthjos commented on #564
Hi @dreis2211 thank you for bringing this up I will take a look into this. I think we can avoid multiple calls to the `CollectorContext` by a simple check like `hasEvaluatedProperties`, this check is similar to `hasRequiredProperties` method in `JsonSchema.java`.

@stevehu is there anyway I can run the performance test setup you already have. I want to check the perf tests after I have fixed this

[2022-05-02 11:57] dreis2211 commented on #564
As shown above the unevaluatedProperties optimization only reduces things, but networknt has not the fastest schema validator anymore even if this is fixed. Feel free to repurpose this ticket to apply some more general performance work or create a new ticket for further work and keep this focussed at the the unevaluated properties stuff.

[2022-05-02 12:48] dreis2211 commented on #564
@prashanthjos I guess @stevehu just ran https://github.com/networknt/json-schema-validator-perftest . Although it's not a perfect benchmark it shows the regressions as well.

[2022-05-02 13:11] stevehu commented on #564
we have a performance test repo that I am currently working on to upgrade to the latest and hooked with JProfiler. Please be aware that the test case was focused on V4 only as other libraries won't support the latest version of the specifications.

I am going to remove the Fge as it is not active anymore and the developer has given up the repo. Also, I will upgrade the test to V7 as the everit sup

[2022-05-02 20:37] slisaasquatch opened #567 "[Question/Suggestion] JSON Pointer version of ValidationMessage.getPath?"
The [`getPath` method in `ValidationMessage`](https://github.com/networknt/json-schema-validator/blob/7e9375fb1e1ee68cfc3664865bd3d36759a0ab5a/src/main/java/com/networknt/schema/ValidationMessage.java#L48) currently returns the path in JSON Path format, and I'm wondering if there's a way of making it a JSON Pointer.

I found [this example](https://github.com/networknt/json-schema-validator/blob/c4

[2022-05-03 10:36] fvanham-coveo opened #568 "AllOfValidator runs out of memory under a concurrency scenario."
`AllOfValidator` stashes evaluation context in a static instance key `com.networknt.schema.UnEvaluatedPropertiesValidator.EvaluatedProperties` in the `validate` method, but only clears this up after validation finishes. Whenever multiple threads try to validate a schema containing an `allOf` keyword with different payloads simultaneously, the `validate` method will duplicate contents of this stati

[2022-05-03 15:24] stevehu commented on #568
@fvanham-coveo Thanks for raising the issue. It makes sense and I understand the cause. @prashanthjos Do you have any suggestions to enhance it?

[2022-05-03 23:51] stevehu commented on #564
I have updated the perftest repo and rerun the tests in both IDE and java -jar. The following is the link to the test result.

https://github.com/networknt/json-schema-validator-perftest#results-2022-05-02

I have no idea why the networknt validator is twice as fast as running with java -jar.

[2022-05-06 16:13] AndreasALoew commented on #568
@fvanham-coveo Can you please have a look here: https://github.com/networknt/json-schema-validator/issues/546#issuecomment-1094406182

While I fully second you that if you validate huge documents, the whole "unevaluated properties" feature is worth being redesiged in a way that it only affects memory usage and performance runtime in case you are truly interested making use of the data it collects,

[2022-05-09 15:17] stevehu commented on #568
@fvanham-coveo Thanks for the confirmation. @prashanthjos has added a test case to demo how to use the flag. If you feel that additional test cases are needed to ensure that the feature is not broken in the future, could you please add some necessary test cases? Thanks.

[2022-05-09 17:12] AndreasALoew commented on #568
@fvanham-coveo "It's state that is (by default) maintained over between runs"

No, it is no longer. It was in 1.0.68, but it's definitely no longer this way in 1.0.69 - @prashanthjos has changed the code to release all ThreadLocals by default immediately before the end of every single call to both validate() and walk() in a finally block.

So I assume that the memory issues that you have been seei

[2022-05-12 07:57] fvanham-coveo commented on #568
Just to confirm: the file wasn't huge. It's just nested `allOf`, `if` and `anyOf` validation rules a couple levels deep with a dozen or so rules total, schema file size was 29kb. I think the issue is more with the nesting than the number of rules, or the size of the file. I've also validated that 1.0.69 does not have this problem, so my issue is solved.

[2022-05-12 08:43] Zephery opened #571 "Do you have a golang version?"
This lib is sooooooo good, do you have any plans to write a golang version?

[2022-05-12 13:50] stevehu commented on #571
This library is part of the light-4j platform and it is Java-based. We don't have any plan to create a golang version as there are some modules available in open source. For some of the features like the walking etc. You can contact the developers of golang libs and we can help them to implement the features. Thanks.

[2022-05-12 16:37] mahirgamal opened #572 "$ref to github"
Hi,

I am trying this code:
"$ref": "https://github.com/adewg/ICAR/blob/3340b2041f73afe47079426588bcef1eaf2b004e/enums/icarDepartureKindType.json",

but always getting this error:
com.fasterxml.jackson.core.JsonParseException: Unexpected character ('<' (code 60)): expected a valid value (JSON String, Number, Array, Object or token 'null', 'true' or 'false') at [Source: (sun.net.www.protocol.http.H

[2022-05-14 23:52] stevehu commented on #572
We have some issues connecting to the HTTPS site with the client.truststore configuration. This is the reason we need to move to Java 11 so that we can use the JDK 11 HTTP client instead of HttpConnection in Java 8, which is very limited. We do not want to introduce another client library as it will complicate the application dependency. There is a pending issue for that. Thanks.

[2022-05-16 00:08] #571 closed

[2022-05-16 00:22] stevehu opened #573 "Add a new branch https for https remote references"
In this branch, the remote server were started with an HTTPS listener and all JSON schema files were updated with https://localhost:1234 instead of http://localhost:1234.

To ensure that HTTPS works, we need to import the certificate to the cacerts in the JRE security folder. To make it simple, we still use HTTP for all test cases in the master branch.

[2022-05-16 12:34] winne42 commented on #427
This is a duplicate of #380

[2022-05-16 14:29] stevehu commented on #572
@mahirgamal I have tested the HTTPS access to public sites and it works. So my previous answer was wrong. Could you please submit a PR with a test case? I will find sometime to debug into it. Thanks.

[2022-05-16 23:35] mahirgamal commented on #572
@stevehu thanks for your quick response. I did open Pull Request.
Cheers.

[2022-05-23 09:10] AndreasALoew commented on #535
@stevehu @RenegadeWizard Please tell me in case there is anything that stops you from applying my PR https://github.com/networknt/json-schema-validator/pull/559 or at least answering my question there about whether I should change it according to @RenegadeWizard's remark...

Thank you! :-)

[2022-05-23 15:32] stevehu commented on #535
Sorry. I missed the confirmation from @RenegadeWizard. I tested this morning and merged. Thanks a lot for your help.

[2022-05-23 15:32] #535 closed

[2022-05-23 15:36] AndreasALoew commented on #535
Many thanks as well to you, @stevehu , for now doing this super-fast merge! 👍

May I ask you for when the next offcial release (i.e. 1.0.70 ?) will be scheduled? Will this be before June 3rd?

Thanks again for your kind help! 😄

[2022-05-23 17:19] stevehu commented on #535
I have released 1.0.70 minutes ago. Please let me know if you encounter any issues. Thanks.

[2022-05-23 17:23] AndreasALoew commented on #535
Will do, but only tomorrow... Thanks again for your great responsiveness! 👍 👍 👍

[2022-05-25 21:59] jody-mcdonnell opened #575 "date-time fields with valid negative offsets are marked as invalid - need to upgrade com.ethlo.time:itu to version 1.7.0"
Using version 1.0.69 of json-schema-validator, date-time values with certain valid negative offsets (for example, "2022-05-25T08:27:53-02:30", Newfoundland time) fail validation.

The problem is with the com.ethlo.time:itu library. If this library is updated from version 1.5.1 to version 1.7.0, this problem goes away. We have been overriding this dependency in our applications to avoid this issue,

[2022-05-26 00:46] stevehu commented on #575
@jody-mcdonnell Thanks a lot for pointing this out. Would you be able to submit a PR to get it fixed? Thanks.

[2022-05-27 06:21] ThanksForAllTheFish commented on #564
Hopefully it does not sound too blunt, but what is the purpose of comparing performance for v7? There are 2 drafts after that, which puts (imo) v7 in the realm of legacy. I understand advertisement, I guess, but if that is the reason I would focus on supporting draft2020 and be the [first one in java](https://json-schema.org/implementations.html#validators) (might be a weaker claim, since other li

[2022-05-27 19:51] stevehu commented on #380
@open-abbott You are welcome to take ownership. We can use this issue or the Gitter to communicate issues. Thanks.

[2022-05-31 21:51] sangeet123 opened #577 "Generate Sample Json from the given schema"
I am wondering if there is a way to generate a sample Json document from the given schema document. For Example for the following schema

[code]

something like this
[code]

[2022-05-31 22:14] stevehu commented on #577
It is not easy as there might be millions of different JSON nodes that match a schema. However, if you only want to generate a default JSON, it is doable. Take a look at the [walker feature](https://github.com/networknt/json-schema-validator/blob/master/doc/walkers.md) and how it set the default value along with walking.

[2022-06-01 02:35] #575 closed

[2022-06-01 02:36] #556 closed

[2022-06-01 13:58] sangeet123 commented on #577
thanks that resolves my concern

[2022-06-02 03:06] #577 closed

[2022-06-02 09:40] DubZyy opened #579 "validate OpenAPI with referenced schemas"
Hi,
I'm trying to figure out how I can validate a json against a JSON Schema, which is included in an OpenAPI definition.

Let me explain with an example. I have to following OpenAPI definition (it got much reduced and therefore, in this example, it's not a valid OpenAPI definition):
[code]

and I want to validate against the following JSON:
[code]

I initialize the json validator as followed:
[co

[2022-06-07 01:38] carolkao opened #581 "[Question] Is there a way to validate the 'schema' is valid or not?"
Hi,
I'm wondering if this library provide a way to know the 'JsonSchema' is a valid schema or not. Like in the following code snippet:
[code]
A `JsonSchemaException` will be threw during 'validate' method call if the schema has something wrong (ex: $ref path not exist). Is there a way to know the problem earlier like during building the JsonSchema object?

Thanks,
Carol

[2022-06-07 02:48] stevehu commented on #581
You can use the right version meta schema to validate your schema.

[2022-06-07 06:15] carolkao commented on #581
However, in the case of "$ref not exist" cannot be reported during the validation. For example, I have a schema
[code]

I built the JsonSchema with "https://json-schema.org/draft/2019-09/schema" and do the validation. There is no ValidationMessage returned.
[code]
The exception will be threw when I use this schema to validate another node with "input" property. So I'm wondering if there is some wa

[2022-06-08 14:26] stevehu commented on #114
Is this fix helpful? https://github.com/networknt/json-schema-validator/issues/575

[2022-06-09 02:43] stevehu commented on #581
We have some issues loading the 2019-09 meta schema as it has some new keywords that we don't support. It has been discussed in other issues that we should manually construct a meta schema and save it locally with all the references resolved. It is still not done yet due to resource limitations.

[2022-06-09 02:46] carolkao commented on #581
Thanks for your reply. Currently, I just catch the 'JsonSchemaException' when doing validation and handling it as my workaround. I can close the case, thank you again.

[2022-06-09 02:46] #581 closed

[2022-06-11 10:10] jkevan opened #582 "Issue with unevaluatedProperties with patternProperties and type union"
Hello, first of all thx for the great work on this library !

I discover the following issue recently using this schema:
[code]

And trying to validate this data:
[code]

The validation is failing due to unevaluated properties. But it should be valid.

This is mostly due to the fact that the Type validator is collecting the evaluated properties too late:
https://github.com/networknt/json-schema-va

[2022-06-14 07:56] jkevan commented on #582
Hello,
Thank you for merging the PR so quickly !

Do you have an idea when next release will be ?

Best regards,
Kevan.

[2022-06-15 03:07] stevehu commented on #582
I am doing some internal testing now and will release a new version after that. Stay tuned.

[2022-06-15 10:09] sabarinathan590 opened #584 "Json Schema order is not maintained for Schema's with multiple object"
Order of Schema validation message with in a object is maintained. However when a schema with multiple object (group of fields) is validated. Each object is validated with out any order and hence the message is are coming without any order.

On first level analysis, I have noticed that the schema is iterated and stored in HashMap where the order of the schema object is lost. Can we change it to Li

[2022-06-15 13:41] stevehu commented on #584
@sabarinathan590 Thanks for raising this issue. It makes sense to change it to LinkedHashMap to reserve the order. Would you please submit a PR to get it fixed? Thanks.

[2022-06-16 09:56] sabarinathan590 commented on #584
Hi @stevehu , Can we close this issue as the PR is already merged to master ?

[2022-06-16 13:35] #584 closed

[2022-06-21 08:35] jkevan commented on #582
We upgraded to latest 1.0.71 and it's all good on our side.
I'm closing the issue.

Thank you,
Best regards.

[2022-06-21 08:35] #582 closed

[2022-07-01 11:48] rustermi opened #587 "V2020-12 not validating items: { "type" } correctly"
I have tests build around this validation library and noticed a type error since I migrated to V2020-12. Given a schema with the following property:
[code]

The following object should pass `{"numberArray": [1, 2, 3]}` and this one should not: `{"numberArray": [1, "wrong type", 3]}`. Since the upgrade to the new draft version, both objects are validated as error-free.

The original error only appe

[2022-07-01 12:08] rustermi commented on #587
And by the way, as `items` is superseded by `prefixItems` in this implementation of V2020-12, I also get this warning:

[code]
because it is not added to the `JsonMetaSchema` of the `Version202012` class.

[2022-07-07 08:44] zeldigas commented on #587
Enum is also not validated for arrays

[2022-07-08 16:28] sat-bhandal opened #588 "anyOf fails when config enabled but discriminator not defined"
I am looking to add discriminators to my new schemas. The old schemas will not continue to not include them. If I enable openAPI3StyleDiscriminators, my old schemas which contain anyOf then fail validation.

Is it expected behaviour that if discriminator use is configured that discriminators must be used in schemas?

This may be replicated by appending the following to discriminator.json then runn

[2022-07-13 18:24] open-abbott commented on #587
Hey @rustermi !  Currently swamped with other projects, but I'm guessing that the problem lies with the fact that `items` was semantically redefined in the new spec, so there probably needs to be a new `ItemsValidator` written that behaves correctly, then apply that to the 20201220 version and onward in the `ValidatorTypeCode`.  Cheers!

[2022-07-14 14:23] elmarm88 opened #589 "com.networknt.schema.JsonSchemaException: java.lang.NoSuchMethodError: com.fasterxml.jackson.databind.JsonNode.canConvertToExactIntegral()Z"
I am trying to validate a JsonNode (which I built up from a JSON string) against a JSON Schema document (Located in my resources folder).
I am using NetBeans 8.2 and java 1.8 btw. (Don't ask, I know its old but its what I have to work with)

My code looks as follows

[code]
I use Maven as dependancy managent and I have put in all the possible dependancies I could see might be needed in my pom file

[2022-07-15 10:43] ionutalex88 commented on #79
@stevehu could we have the "else" keyword also added to the NonValidationKeywork list for V2019, or V2020, just like it was done for "then" in https://github.com/networknt/json-schema-validator/pull/418/files ?
Currently there is no version on which none of the "if", "then", "else" keywords trigger the warning message.

[2022-07-15 14:34] iMacTia opened #590 "UnsupportedOperationException: No suitable validator for id"
I'm currently seeing the following error:

[code]

While trying to `JsonSchemaFactory.getSchema` with the following schema:

[code]

I'm trying to understand what I might be doing wrong, but I'm failing to understand the logic behind [these lines of code](https://github.com/networknt/json-schema-validator/blob/master/src/main/java/com/networknt/schema/ValidatorTypeCode.java#L88-L90).
I'm not sure

[2022-07-16 17:16] stevehu commented on #589
It looks like you have other dependencies to downgrade your Jackson to a lower version. Try to get the dependency tree and check it.

[2022-07-16 17:18] stevehu commented on #79
@ionutalex88 Yes. I think we can do it safely. Would you like to open a PR?

[2022-07-16 17:20] stevehu commented on #590
id is a keyword in JSON schema.

[2022-07-16 18:34] iMacTia commented on #590
As far as I know `$id` is a keyword, not "id". Is there a document you saw that specifies "id" is also a keyword? I checked the official spec and couldn't find it

[2022-07-16 20:55] kmalski commented on #590
Hi, `id` was changed to `$id` in draft 6 (look at the end of this part of [the documentation](https://json-schema.org/understanding-json-schema/basics.html#id4)).

[2022-07-17 06:48] iMacTia commented on #590
Thank you @kmalski, that explains the confusion!
So it looks to me like this should probably be fixed, but I'm unsure what the correct fix would be in this case.
Should we just remove `id` from the list or rename it into `$id`?
I'm scared the latter might potentially cause some surprises for people upgrading the package.
@stevehu Let me know what you think and I'd be happy to open a PR 👍

[2022-07-17 14:34] stevehu commented on #590
@iMacTia The library supports all specification versions in one codebase and that is the reason we have the issue. Do you have any idea to fix it in mind?

[2022-07-18 09:20] ionutalex88 commented on #79
@stevehu I could do that. Should I be added to the contributors list?

[2022-07-18 09:55] iMacTia commented on #590
I guess the issue is that `ValidatorTypeCode` applies to all versions then. A sensible solution might be to separate this out into version-specific enums.
Since the `JsonSchemaFactory` knows which spec version we're working with, it shouldn't be hard to pass that information downstream so that `JsonMetaSchema` can load the correct keywords.

I had a closer look while trying to figure out the best

[2022-07-18 12:05] stevehu commented on #79
@ionutalex88 I have sent you an invite to grant you the write permission. Please create a branch for your PR. Thanks.

[2022-07-26 07:29] mrozycki-tink commented on #587
Had the same issue with items not being validated in an array with V2020-12. The `items` keyword is configured in `ValidatorTypeCode` to only be supported up to V2019-09, so that part of the schema doesn't even generate a validator.

Our workaround was to revert to V2019-09 for now, but it would be great to be able to go back to V2020-12 at some point.

[2022-07-26 08:35] rustermi commented on #589
We initially had this error as well and stevehu is right. You need Jackson databind >= 2.12 iirc and we had to force the dependency version.

[2022-07-31 20:42] agentgt opened #595 "[FR] Remove commons lang as dependency"
See #594

For our company to use this project we would like Commons Lang to not be a dependency as none of our projects use it anymore.

If there was extensive use of the library I would not have bothered but I looked it appears just `StringUtils.isBlank` and `StringUtils.equals` was used.

Thus I went ahead via the above PR and implemented the changes which were fairly trivial.

However downstrea

[2022-08-02 00:48] stevehu commented on #595
Thanks @agentgt. It makes perfect sense to reduce the dependencies to make our users' lives easier.

[2022-08-02 12:06] ohadabraham opened #596 "Can i customize which date is valid"
when give in the schema :
"name": {
      "type": "string",
      "format":"date"
    }
and transfer to validate this :
"2019-10-12 07:20:50.52Z"
"2019-10-12T07:20:50.52Z"

2 Question regarding date validator :
1. what is wrong ?
2. can it support other date format ? i.e. : 02 Aug 2022, 09:58
that should be supported - for some reason it fail...

can i give the date format a date format i want to

[2022-08-02 12:55] stevehu commented on #596
The date and date-time format in JSON is standard, and it is not recommended to use other formats. If you have to do that, make it just a regular string and validate it with regex.

[2022-08-04 01:50] stevehu commented on #587
In 2020-12 release, the items and additionalItems keywords have been replaced with prefixItems and items. They are trying to reuse the keywords with different meanings. We are open to all suggestions on the design to resolve the issue.

[2022-08-05 13:48] sbernardo opened #597 "Add Italian translation for validation messages"
Need to add Italian translation for messages.

[2022-08-05 16:02] #597 closed

[2022-08-06 18:58] #427 closed

[2022-08-16 03:13] worldcoding opened #599 "ervery field customer msg?"
for example，how get ervery field error  msg？can provide a demo? thanks,
{
  "type": "object",
  "description": "测试接口",
  "properties": {
    "productCode": { "type": "string", "minLength": 1 },
    "birthday": { "type": "string",  "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$" ,"empty_message":"请选择出生日期","error_message":"出生日期格式不正确"},
    "gender": { "type": "string", "enum": ["M", "F"],"empty_message":"

[2022-08-23 11:31] anthonyleonard opened #601 "18 out of 61 2019-09 offical tests are disabled"
18 out of 61 of the offical 2019-09 tests are disabled in this project.

https://github.com/networknt/json-schema-validator/blob/master/src/test/java/com/networknt/schema/V201909JsonSchemaTest.java

I am writing up pros and cons of different Java libraries for my organisation. Though this library scores highly for being the most actively maintained, this level of non-compliance for a 3 year old dr

[2022-08-26 22:41] palwe-prafulla opened #602 "$ref with def doesn't work under anyOf"
I have a definitions written in json schema like below:

[code]

But when i run the code to validate json against this schema i get exception as below:
com.networknt.schema.JsonSchemaException: anyOf/$ref: Reference #/$defs/domainNameDef cannot be resolved
                at com.networknt.schema.RefValidator.<init>(RefValidator.java:45) ~[json-schema-validator-1.0.57.jar:?]
                at jdk.

[2022-08-27 10:28] stevehu commented on #602
We are not aware of this issue, and it might be introduced recently with some changes. I am wondering if you could submit a b PR with your test case so that we can debug it. Thanks.

[2022-08-31 10:18] dtkahuk opened #603 "IfValidator doesn't implement walk method"
If we have `if-then-else` keywords in json-schema and want to use `walk` method then it's impossible because `IfValidator` doesn't implement `walk`(uses the method from the parent class which doesn't propagate `walk`).

[2022-09-01 11:53] claussni commented on #526
Any progress on this? I'm stuck with the issue. Can't seem to hack a workaround.

[2022-09-04 15:41] mbrkic-r3 opened #604 "NPE retrieving default values from schema"
Error

[code]

can be reproduced with:

[code]

[2022-09-06 17:06] Captain-P-Goldfish opened #605 "array definition causes "Unknown keyword items...""
Hi,

the following minimal schema definition does not work

[code]
it causes the warning message:

[code]

if the following json is evaluated:

[code]

[2022-09-07 12:02] sgerke-1L opened #606 "anyOf in oneOf doesn't work correctly"
Consider the following schema:

[code]

This should match the following object:

[code]
but it doesn't. The problem seems to be that the AnyOfValidator doesn't set the setMatchedNode/hasMatchedNode properties correctly.

[2022-09-07 12:09] sgerke-1L commented on #606
See PR #607

[2022-09-07 20:19] stevehu commented on #605
n draft-2020-12 this keyword was replaced by the items keyword, while the array version of the former items keyword was replaced by the prefixItems keyword.

[2022-09-07 20:19] #605 closed

[2022-09-09 06:32] sgerke-1L commented on #606
@stevehu now that this can be closed, would it be possible to make a release? This would make it easier for us to integrate the fix downstream.

[2022-09-15 11:29] cbornet opened #609 "Discriminator not working with arrays"
It seems that when the anyOf is an array item, the validation is correct for the first item but for the remaining items, it validates against the first schema of the anyOf instead of using the discriminator.

To reproduce:
* schema.json
[code]
* input.json
[code]
* test case
[code]

Note: if we reverse order of the kitchen and the bedroom in the json input, then the test passes.

[2022-09-16 15:17] stevehu commented on #609
@cbornet Thanks for open this issue. I will put your test case in and try to replicate and fix it.

[2022-09-16 15:21] stevehu commented on #606
I will have a release this weekend. Thanks.

[2022-09-23 04:43] ranma2913 commented on #602
I found a similar issue. Will open a PR tomorrow.

[2022-10-02 12:57] parameshjava opened #610 "Validate the request body against OpenAPI schema"
I need to build an API to validate the request body against the registered schema for the respective `type` & `subType`.

API Contract:

[code]

Here, OpenAPI schema will be fetched based on the `type` and `subType` and then need to validate the `data` element against the respective OpenAPI schema.

Wrote the below snippet:

[code]

This code is working, when the schema don't have:
1. Few elements

[2022-10-03 12:23] slimakanzer94 opened #611 "Handle multiple schemas with remote relative reference"
Hello, I encountered with problem handling $ref for multiple schemas. My aplication needs to download schemas from external resource and validate some data against those schemas, the problem is that this schemas contains remote relative reference (not URL), for instance `{
  "$ref": "subSchemas.json#/definitions/example"
}`
I figured out the only way how to solve it, download those schemas and sto

[2022-10-07 17:10] jenschiavone commented on #166
Hello. I've been reading through various threads about supporting nested schemas and am still unable to tell if that is supported in networknt json-schema-validator. I have my schema defined locally in my project. When I write my definitions in my main schema file and reference them, everything works. But I really prefer to have my definitions in other files within the same directory. I cannot get

[2022-10-07 19:51] stevehu commented on #166
In the specification, local files are not supported. We do have some ways to support local files, but it is not recommended.

[2022-10-08 19:18] jenschiavone commented on #333
Hi, Just fyi, I'm still getting these warnings....

[code]

[2022-10-11 09:27] ymszzq commented on #550
My pleasure!

When will you release next time?

Thanks

[2022-10-11 12:43] stevehu commented on #550
The PR was merged in April, and we have released several versions since then.

[2022-10-16 03:35] ppazos opened #615 "More consistent path for ValidationMessage?"
I'm using 1.0.73 and doing some unit tests with JSON validation.

For the `$.xxxx: is missing but it is required` kind of error, the ValidationMessage.path is `$`

For the `$.x.y: integer found, string expected` kind of error, the ValidationMessage.path is `$.x.y`

Shouldn't the path for the `is missing but it is required` error be `$.xxxx`, which is the missing key instead of `$` which is the par

[2022-10-17 15:09] stevehu commented on #615
@ppazos Thanks a lot for pointing it out. Different validators are mixed together to form a tree structure, and sometimes, the path for the error message is confusing due to the parent and child relationship. As the error message is constructed in each validator, we can fix it once the issue is identified. We do have some issues that are not resolvable as the children's path is not available for s

[2022-10-17 15:39] ppazos commented on #615
Thanks @stevehu ! The one that I have identified for now is just the `missing but required` error. For that error if you check the ValidationMessage.arguments you will see the name of the missing attribute there, so I think in those cases it would be easy to add the name to the path so the error has the path to the missing attribute instead of the path to the parent.

I'm still verifying different

[2022-10-20 13:02] frantuma opened #618 "OpenAPI 3.1 specification validation"
Hi,

I am trying to validate an OpenAPI 3.1 document using the [latest 2020-12 schema](https://github.com/OAI/OpenAPI-Specification/blob/main/schemas/v3.1/schema-base.json) (with this [$id/canonical URL](https://spec.openapis.org/oas/3.1/schema-base/2022-10-07)). I understand that support for latest draft is on a best effort base, but I am not sure if this is supposed to work with current code and

[2022-10-26 11:19] aznan2 opened #619 "getSchema() from URI should support subschema references"
Suppose we have a schema at http://example.com/schema.json that looks like this:

[code]

If the "one" subschema is referenced through another schema (`"$ref": "http://example.com/schema.json#/definitions/one"`), then data will only be validated against the subschema - `1` will pass validation while `2` will fail.

Currently, however, if the same URI is used in a schema factory (`jsonSchemaFactory

[2022-10-27 04:49] AndreVirtimo opened #620 "Update dependencs org.apache.commons:commons-lang3:3.7 | CVE-2022-28220"
Please update commons-lang the is a security issue (see CVE-2022-28220) in version 3.7.

[2022-11-03 11:52] fuchsst opened #621 "Object defined in array items is not properly validated"
The following Json should fail but the validation succeeds:

Json:
[code]

Schema:
[code]

It should fail as the `component` field in the items object of the array `additionalIds` is required but missing as well as there is an undefined property provided but additionalProperties is set to `false`, but it passes the validation.

The schema factory is initilized as follows:
[code]

looks like the va

[2022-11-04 11:50] thibautsacreste commented on #621
I just encountered this bug as well. Just to add to the report, it only seems to affect Draft 2020-12 but not Draft 07

Json:
[code]

Draft 07 Schema fails validation as expected with message `$[0].name: is missing but it is required`
[code]

Draft 2020-12 Schema passes validation
[code]

[2022-11-04 12:07] thibautsacreste commented on #621
I just found a workaround which might hint at the issue in Draft 2020-12. Setting the new `prefixItems` keyword to an empty array seems to fix the issue.

[code]

That's obviously not ideal, but it works. The JSON Schema spec explicitly says that `prefixItems` should not be empty:
https://json-schema.org/draft/2020-12/json-schema-core.html#section-10.3.1.1

[2022-11-04 12:46] sgomezvillamor commented on #590
I'm facing this issue. Is there any way that I can configure the validation to skip/ignore the `id` field if any?

[2022-11-05 13:32] stevehu commented on #621
I think 2020-12 has changed items to prefixItems. There are a lot of changes in 2020-12 that reuse existing keywords. I might be wrong.

[2022-11-07 09:33] thibautsacreste commented on #621
`prefixItems` only replaces `items` for tuple validation. Both keywords can be used independently or in conjunction as described here:
https://json-schema.org/understanding-json-schema/reference/array.html

[2022-11-07 11:12] manuelwaltschek opened #622 "Code example for meta-schema validation"
I do have the use case as well where I would like to validate custom schemas against draft 2019.

I saw that this topic was discussed in a few other issues, but I don't really know how to do it.
I understand, that I could use the schema as a JsonNode as a schema and then validate the custom schema against it by using it as the data object.

`        JsonSchemaFactory.getInstance(SpecVersion.Versio

[2022-11-07 11:20] manuelwaltschek commented on #622
I've seen
https://github.com/networknt/json-schema-validator/issues/581#issuecomment-1148239432
 would this be the correct way to do it for now?

[2022-11-08 10:14] StefanGhiociFortech commented on #589
I'm having the exact same issue as the OP.

Strangely (and perhaps the cause of the problem) is that everything works fine when I run the project locally through IntelliJ (Windows). The error is thrown when it runs inside a Docker container (through WSL or Ubuntu).

Maven dependencies include spring-boot 2.75 (current latest) which depends on Jackson 2.14. Every Jackson library is set to 2.14 (cur

[2022-11-08 22:51] pedroanhezini opened #623 "is JsonSchemaFactory thread safe?"
[code]
Can I use this approach to instantiate the JsonSchemaFactory in the constructor and use the validation class as a singleton to validate in multi thread?

[2022-11-14 07:57] lordoflairs opened #624 "Validation only applied to first array item"
Hello!

I have a case with different array items.
Based on the item (type) we expect different kinds of parameters.
My intention was to verify this with different if-then statements.
Problem is that that the library only seems to validate the first array item.

[code]
Data:
[code]
If I change or remove requiredParam in the first array item it will cause an error. If changing or removing in the sec

[2022-11-16 08:45] jbaimoz commented on #621
I ran into the same issue for the version draft 2020-12 and noticed the following in the console log :

`Unknown keyword items - you should define your own Meta Schema. If the keyword is irrelevant for validation, just use a NonValidationKeyword`

Although it is stated [here](https://json-schema.org/understanding-json-schema/reference/array.html) that the keyword `items` is valid it seems that is

[2022-11-18 09:01] lordoflairs commented on #624
You are (of course) correct.
My first attempt to use json-schema-validation, so my bad and apologies.

[2022-11-18 09:01] #624 closed

[2022-11-21 14:43] aznan2 commented on #621
This issue seems to be the same as #587.